// accounts.less
// =============================================================================

// Defines the styles for the Shopware 5 user account page.
// The my-account page displays a dashboard that shows an overview of the user information, payment methods, billing and shipping information inside panel elements.
// It allows the user to directly see and change the important information of their account.

// @package     Grace & Holmes
// @since       1.0



// Account Menu (Sidebar)
// -----------------------------------------------------------------------------

.account--menu{
    .link--logout{
        [class^="icon--"]{
            display: none;
        }
    }
}
@media screen and(min-width: @tablet--viewport-width){
    .account--menu{

        // Menu Container
        .account--menu-container{
            //
        }
        .navigation--headline{
            //
        }
        .navigation--link{
            &.link--logout{
                background-color: 
                    @brand-secondary-dark;

                [class^="icon--"]{
                    display: inline-block;
                    .unitize-margin(0, 5, 0, 0);
                }
            }
        }
    }
}

// Account Content
// -----------------------------------------------------------------------------

.account--content{
    //.unitize-margin(10, 0, 0, 0);
}
.account--content,.payment_logo_debit{
    .clearfix();
}
.partner-statistic .panel--title{
    .unitize(padding-bottom, 20);
}

// Logout success message
// -----------------------------------------------------------------------------

.account--logout{
    .logout--headline{
        .unitize-margin(10, 0, 20, 0);
        .unitize(font-size, 24);
    }

    .logout--actions{
        .unitize(margin-bottom, 10);
    }

    .logout-back-to-shop{
        display: block;
    }
}


// Account teaser text padding
// -----------------------------------------------------------------------------

.account--welcome{
    .unitize(margin-bottom, 20);

    .panel--body{
        padding: 0;
    }
    .panel--title{
        .unitize-padding(20, 0);
        margin: 0;
    }
    .panel--actions{
        padding: 0;
    }
}
.account--box{
    .unitize-margin(0, 0, 20, 0);
}

.account--password,
.account--email{
    input[type="text"],
    input[type="password"],
    input[type="email"]{
        width: 100%;
    }
}

// Account error message margin
// -----------------------------------------------------------------------------

.account--error,.account--success{
    .unitize-margin(0, 0, 10, 0);
}
.register--error-msg{
    color: 
        @highlight-error;
}

.account--actions{
    .clearfix();
    .unitize-margin(0, 20, 20, 16);
}

// Change Address / Payment method
// -----------------------------------------------------------------------------

.account--change-billing,
.account--change-shipping,
.account--change-payment{
    &.register--content{
        display: block;
        width: 100%
    }
}
.account--billing-address,
.account--shipping-address{
    .panel--body{
        .unitize(height, 200);
    }
    .billing--actions,
    .shipping--actions{
        .unitize-padding(20, 0);
    }
}

// Newsletter Fieldset
// -----------------------------------------------------------------------------

.account--newsletter fieldset{
    padding: 0;
    border: 0;

    input[type="checkbox"]{
        .unitize-margin(0, 10, 0, 0);
    }
}

// Select Address
// -----------------------------------------------------------------------------

.account--addresses-content,
.account--addresses-container{
    .clearfix();
}
.account--addresses{
    .clearfix();
    width: 100%;
}
.address--container{
    width: 100%;
    padding: 2% 0 0 0;
}

// Account Paging
// -----------------------------------------------------------------------------

.account--paging{
    .clearfix();
    
    display: block;
    .unitize-padding(10, 10);
    
    background: 
        @panel--bg;

    .paging--display{
        float: right;
    }
}

.account--orders-overview{
    border: 1px solid @panel--border-color;

    p{
        .unitize(font-size, 14);
    }

    .orders--table-header{
        display: none;
        
        background:
            @panel--table-header--bg;

        .panel--th{
            color: 
                @panel--table-header--color;
        }
    }

    .panel--tr{
        .unitize-padding(10, 0);
    }

    .panel--td{
        .clearfix();
        float: none;
        
        display: block;
        .unitize-padding(5, 10);
    }

    .column--info-labels,
    .column--info-data{
        display: none;
    }

    .column--summary-labels,
    .column--summary-data{
        float: left;
        width: 50%;
        
        text-align: left;
    }

    .column--summary-data{
        .unitize-padding(5, 10, 0, 0);
    }

    .column--label,
    .column--value{
        float: left;
        width: 50%;
    }

    .column--label{
        font-weight: @font-weight--semibold;
    }
}

.is--act-partnerStatistic{
    .content-main--inner{
        .unitize-padding(0, 0, 16, 0);
    }

    .account--welcome{
        .unitize-padding(0, 0, 0, 10);
    }

    .listing--actions{
        .unitize-padding(10, 18, 24, 18);
        border-bottom: 1px solid @border-color;
    }

    .date-filter{
        display: block;
        width: 100%; .unitize-height(50);
        
        .unitize(font-size, 14);
    }

    .date-filter--label{
        float: left;
        display: block;
        .unitize-width(40);
        .unitize-padding(9, 0, 10, 0);
    }

    .date-filter--input{
        width: auto;
        .unitize-margin(0, 0, 0, 40);
    }

    .datepicker{
        float: left;
        width: 100%;
        .unitize(padding-right, 35);
    }

    .ui-datepicker-trigger{
        display: inline;
        .unitize-width(20); .unitize-height(20);
        padding: 0;
        border: 0;
        
        .unitize-margin(10, 0, 0, -30);
        
        text-align: center;
        color: 
            @text-color;
        background: 
            transparent;
    }

    .btn--filter{
        width: 100%;
        margin: 0;
        
        text-align: center;
    }

    .chart--holder{
        display: none;
    }

    .panel--th,
    .panel--td{
        width:25%;
        .unitize-padding(8, 10, 7, 10);
        
        overflow: hidden;
        
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child{
            text-align: left;
        }
    }

    .panel--th{
        .unitize-padding(3, 10, 2, 10);
        
        .unitize(font-size, 12);
        
        color: 
            @text-color;
    }

    .is--odd{
        .unitize-padding(0, 0, 9, 0);
        border-bottom: 1px solid @border-color;

        .column--price,
        .column--total{
            width:100%;
            .unitize-padding(10, 10, 10, 10);
        }
    }

    .column--label{
        text-align: left;
    }

    .column--value{
        text-align: right;
    }

    .column--label,
    .column--value{
        float: left;
        width: 50%;
    }

    .column--item-sum{
        .column--label{
            .is--block;
        }
    }
}

.order--status-icon{
    display: inline-block;
    .unitize-width(8); .unitize-height(8);
    
    position: relative;
    .unitize(top, 8);
    
    &.status--0,    //The order has not been processed yet.
    &.status--1,    //The order is in process
    &.status--3,    //Partially completed
    &.status--6{    //The order has been sent in part
        background: 
            @highlight-info;
    }
    
    &.status--2,    //Completed
    &.status--5,    //Ready for shipping
    &.status--7{    //The order has been sent
        background: 
            @highlight-success;
    }
    
    &.status--4,    //The order has been cancelled
    &.status--8{    //Clarification needed
        background: 
            @highlight-error;
    }
}

.order--name{
    color: 
        @text-color-dark;
}

.order--details,
.order--price-unit,
.order--current-price{
    display: none;
}

.order--details .panel--tr{
    border-bottom: 1px solid @panel--border-color;
}

.order--repeat{
    border-bottom: 1px solid @border-color;
    
    text-align: center;
    
    background: 
        @gray;
}

.order--actions{
    .is--align-center;
}

.order--user-comments,
.order--shop-comments{
    border-bottom: 1px solid @border-color;
}

.account--downloads{
    border: 1px solid @panel--border-color;

    p{
        .unitize(font-size, 14);
    }

    .downloads--table-header{
        display: none;
    }

    .panel--tr{
        .unitize-padding(10, 0);
    }

    .panel--td{
        .clearfix();
        float: none;
        
        display: block;
        .unitize-padding(5, 10);
    }
}

.account--password-reset{
    .unitize(margin-top, 10);

    p{
        margin: 0;
    }

    .password-reset--input{
        width: 100%;
        .unitize-margin(0, 0, 30, 0);
    }

    .password-reset--link{
        width: 100%;
        margin: 0;

        &:first-child{
            .unitize-margin(0, 0, 10, 0);
        }
    }
}

.account--password-new{
    .unitize(margin-top, 10);

    .password-new--input{
        width: 100%;
        .unitize(margin-bottom, 15);
    }

    .password-new--helptext{
        margin-bottom: 0;
    }

    .password-new--submit{
        display: block;
        width: 100%;
    }
}



// Phone landscape viewport width
// =============================================================================

@media screen and(min-width: @phone-landscape--viewport-width ){
    
    .account--password-reset{
        .unitize(margin-top, 10);

        .password-reset--input{
            .unitize-margin(10, 0, 30, 0);
        }

        .password-reset--link{
            width: auto;
            .unitize-margin(0, 0, 10, 0);

            &:first-child{
                .unitize-margin(0, 10, 0, 0);
            }
        }
    }

    .account--password-new .password-new--submit{
        display: inline-block;
        width: auto;
    }

    .account--logout .logout-back-to-shop{
        display: inline-block;
    }
}



// Tablet viewport width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    .account--content{
        //.unitize-margin(0, 0, 0, 0);

        &.is--wide{
            width: 100%;
        }
    }
    
    .account--password-reset{
        .unitize-margin(20, 0, 0, 0);
    }
    .account--password-new{
        .unitize-margin(20, 0, 0, 0);

        .password-new--input{
            .unitize-width(320);
        }
    }


    .account--welcome{
        .panel--title{
            .unitize(@font-size--h1, 16, font-size);
        }
    }

    // Select Address
    .address--container{
        float: left;
        width: 50%;
        padding: 2% 0 0 2%;
    }

    .account--orders-overview{
        .orders--table-header{
            display: block;
        }
        
        .panel--tr{
            padding: 0;
            border-width: 0 0 1px 0;

            &.order--repeat{
                .unitize-padding(20, 20);
            }
        }
        .panel--td{
            float: left;
            display: inline-block;
            .unitize-padding(10, 10);
        }

        .column--label{
            display: none;
        }

        .column--value{
            float: none;
            width: 100%;
        }

        .column--summary-labels,
        .column--summary-data{
            width: 20%;
            text-align: right;
        }

        .column--date,
        .column--id,
        .column--dispatch{
            width: 20%;
        }
        .column--status{
            width: 25%;
        }
        .column--actions{
            width: 15%;

            .btn{
                max-width: 100%;
                
                overflow: hidden;
                
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .column--name{
            width: 50%;
        }
        .column--quantity{
            width: 10%;
        }
        .column--price{
            width: 20%;
        }
        .column--total{
            width: 20%;
        }
        .column--info-labels{
            width: 20%;
        }
        .column--info-data{
            width: 40%;
        }
    }

    .order--item{
        margin: 0;
    }

    .order--pseudo-price{
        .unitize(font-size, 12);
    }

    .order--download,
    .order--price-unit,
    .order--current-price{
        .is--block;
    }

    .order--download{
        .unitize-margin(10, 0, 0, 0);
    }

    .order--quantity{
        .is--align-center;
    }

    .order--actions,
    .order--price,
    .order--amount{
        .is--align-right;
    }

    .account--downloads{
        .downloads--table-header{
            .is--block;
            
            background: 
                @panel--table-header--bg;

            .panel--th{
                color: 
                    @panel--table-header--color;
            }
        }

        .panel--tr{
            padding: 0;
            border-width: 0 0 1px 0;
        }
        .panel--td{
            float: left;
            display: inline-block;
            .unitize-padding(10, 10);
        }

        .column--date,
        .column--actions{
            width: 20%;
        }
        .column--info{
            width: 60%;
        }
    }

    .column--label{
        display: none;
    }

    .column--date,
    .column--id,
    .column--dispatch{
        width: 20%;
    }

    .column--status{
        width: 25%;
    }

    .column--actions{
        width: 15%;
    }

    .column--name{
        width: 50%;
    }

    .column--quantity{
        width: 10%;
    }

    .column--price{
        width: 20%;
    }

    .column--total{
        width: 20%;
    }

    .column--info-labels{
        width: 20%;
    }

    .column--info-data{
        width: 40%;
    }

    .column--summary{
        width: 20%;
    }

    .account--password-reset{
        .password-reset--input{
            .unitize-width(320);
        }
    }

    .account--error,
    .account--success{
        .unitize-margin(0, 0, 20, 0);
    }

    .is--act-partnerStatistic{
        .content-main--inner{
            .unitize-padding(0, 20, 16, 20);
        }

        .account--welcome{
            .unitize-padding(0, 0, 0, 0);
        }

        .listing--actions{
            .unitize-padding(10, 10, 10, 10);
            
            border: 1px solid @border-color;
            //.border-radius();
            
            background: 
                @gray-light;
        }

        .date-filter{
            float: left;
            width: 40%; height: auto;
            .unitize-padding(0, 10, 0, 10);
        }

        .date-filter--label{
            width:10%;
        }

        .btn--filter{
            float: left;
            width: 20%; height:40px;
        }

        .chart--holder{
            .is--block;
            width: 100%;
            
            .is--align-center;
        }

        .panel--th,
        .panel--td{
            .unitize-padding(10, 10, 10, 10);
        }

        .column--item-sum{
            width: 75% !important;

            .column--label,
            .column--value{
                float: left;
                width: 50%;
            }
        }

        .is--odd{
            padding: 0;
            border: 0;
        }

        .is--odd .column--total{
            float: left !important;
            width: 25%;

            .column--value{
                width:100%;
            }
        }
    }

    .account--addresses-container{
        margin: -2% 0 0 -2%;
    }
}



// Tablet landscape viewport width
// =============================================================================

@media screen and(min-width: @tablet-landscape--viewport-width){

    .account--info,
    .account--billing{
        float: left;
        width: 49%;
    }

    .account--payment,
    .account--shipping{
        float: right;
        width: 49%;
    }

    .account--email,
    .account--password{
        display: none;
    }

    .account--email,
    .account--password,
    .account--newsletter{
        clear: both;
    }

    .account--password-reset{
        .unitize-margin(20, 0, 0, 0);
    }

    .account--info,
    .account--payment{
        .panel--body{
            .unitize-height(120);
        }
    }

    .account--billing,
    .account--shipping{
        .panel--body{
            .unitize-height(220);
        }
    }
}



// Desktop viewport width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    .is--act-partnerStatistic{
        .content-main--inner{
            .unitize-padding(0, 45, 45, 45);
        }
    }

    .account--content{
        //.unitize-margin(45, 0, 0, 0);
    }
    
    .account--password-reset{
        .unitize-margin(45, 0, 0, 0);
    }
    .account--password-new{
        .unitize(margin-top, 45);
    }
    
    .account--error,
    .account--success{
        .unitize-margin(0, 0, 20, 0);
    }
}