// advanced-menu.less
// =============================================================================

// @package     Grace & Holmes
// @since       1.0

@adv-menu--link-color:              @adv-menu--text-color;
@adv-menu--link-hover-color:        @link--color;

@adv-menu--header-bg:               @brand-primary;
@adv-menu--header-text-color:       @btn-secondary--color;

@adv-menu--teaser-link-color:       @link--color;
@adv-menu--teaser-link-hover-color: @adv-menu--teaser-link-color;

@adv-menu--delimiter:               @brand-secondary-dark;

@adv-menu--text-color:              @text-color-dark;
@adv-menu--bg:                      @btn-secondary--color;

.advanced-menu {
    .clearfix();
    
    width: 100%; max-width: @max-width;
    border: 1px solid @adv-menu--header-bg;
    
    position: absolute;
    .unitize(top, 39);
    z-index: 3000;
    
    color: 
        @adv-menu--text-color;
    background: 
        @adv-menu--bg;
    
    .tap-highlight-color(rgba(0, 0, 0, 0));

    .content--wrapper {
        position: relative;
        .unitize-margin(20, 20);
    }
    
    .menu--list {
        display: block;
        list-style: none;
    }
    
    .menu--teaser {
        float: left;
        .unitize-padding(10, 10, 10, 10);
        position: relative;
    }
    .teaser--image {
        display: block;
        width: 100%; .unitize-height(250);
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        + .teaser--headline,
        + .teaser--text {
            .unitize(margin-top, 40);
        }
    }
    .teaser--headline {
        .unitize-margin(0, 0, 20, 0);
        .unitize(font-size, 21);
        font-weight: bold;
    }
    .teaser--text-link {
        color: 
            @adv-menu--teaser-link-color;
        &:hover {
            color: 
                @adv-menu--teaser-link-hover-color;
        }
    }

    .menu--list-item {
        .hyphens(auto);
        
        word-break: normal;
        word-wrap:  break-word;
    }

    .menu--list-item-link {
        display: block;
        .unitize-padding(5, 0);
        
        .unitize(font-size, 16);
        
        color: 
            @adv-menu--link-color;

        .transition(all 0.1s ease);
        
        &:hover {
            .unitize-padding(5, 0, 5, 3);
            
            color: 
                @adv-menu--link-hover-color;
        }
    }

    .button-container {
        display: none;
    }
    .menu--container {
        display: none;

        &.menu--is-active {
            display: block;
        }
    }
    .menu--level-0 {
        .unitize-padding(10, 10, 10, 10);
        float: left;

        &.columns--1 {
            .column-count(1);
        }
        &.columns--2 {
            .column-count(2);
        }
        &.columns--3 {
            .column-count(3);
        }
        &.columns--4 {
            .column-count(4);
        }
    }

    .menu--level-1 {
        .unitize-margin(5, 0, 0, 20);
    }

    .menu--level-2 {
        .unitize-margin(0, 0, 5, 20);
    }

    .item--level-0 {
        .unitize(padding-bottom, 40);
        display: inline-block;
        position: relative;

        .menu--list-item-link {
            font-weight: bold;
        }
    }

    .item--level-1 {
        &:last-child {
            margin: 0;
        }

        .menu--list-item-link {
            .menu--list-item-link();
            font-weight: normal;
        }
    }

    .item--level-2 .menu--list-item-link {
        .unitize(font-size, 14);

        + .menu--level-3 {
            .unitize-margin(0, 0, 5, 20);
        }
    }

    .item--level-3 .menu--list-item-link {
        .unitize(font-size, 12);
    }
}
.navigation-main .navigation--list .navigation--entry.is--hovered {
    position: relative;
    z-index: 3010;
    
    background: 
        transparent;

    .navigation--link {
        border: 1px solid @brand-primary;
        border-bottom: 1px solid @white;
        
        color: 
            @brand-primary;
        background: 
            @white;
    }
}