// blog-portfolio.less
// =============================================================================

// Defines the styles for the portfolio page and its components.
// It contains the sidebar selection, the comment section and the details.
// More precise designations are commented inside the document.

// @package     Grace & Holmes
// @since       1.0

.is--ctl-portfolio{
    .blog--box-metadata,
    .blog--metadata-author,
    .blog--metadata-comments,
    .blog--metadata-date{
        display: none !important;
    }
    
    .blog--sidebar,
    .blog--subscribe,
    .blog--filter-btn,
    .blog--filter-date,
    .blog--filter-author{
        display: none !important;
    }
    
    .blog--listing{
        &, .blog--box.panel{
            width: 100% !important;
        }
        .blog--box-tags{
            display: none !important;
        }
    }
    
    .blog--detail{
        .blog--detail-tags{
            display: none !important;
        }
    }
}

@media screen and (min-width: @tablet--viewport-width){
    .is--ctl-portfolio{
        .blog--listing{
            .unitize-padding(0, 10);
            
            .blog--box.panel{
                display: inline-block !important;
                width: 50% !important;
                
                margin-right: -4px;
                position: relative;
                
                vertical-align: top !important;
            }
            .blog--box.panel:nth-of-type(even){
                left: -10px;
            }
            .blog--box.panel:nth-of-type(odd){
                right: -10px;
            }
        }
    }
}