// blog.less
// =============================================================================

// Defines the styles for the blog page and its components.
// It contains the sidebar selection, the comment section and the details.
// More precise designations are commented inside the document.

// @package     Grace & Holmes
// @since       1.0



// Blog Navigation (Sidebar)
// -----------------------------------------------------------------------------

.blog--sidebar{
    width: 100%;

    .block-group{
        width: 100%;
    }
    
    .blog--filter-content,
    .blog--subscribe-content{
        display: none;

        &.is--active{
            display: block;
        }
    }

    .blog--filter-tags{
        .clearfix();
    }

    .blog--navigation{
        
        .has--border{
            border: none;
        }
        
        // Collapse Header
        // -----------------------------------------------------------------

        .collapse--header{
            .unitize-padding(10, 20, 10, 20, 16);
            .unitize(margin-bottom, 5);
            
            border: none !important;
            
            font-weight: @font-weight--normal;
            
            color: 
                @blog--sidebar--collapse-header--color;
            background:
                @blog--sidebar--collapse-header--bg !important;

            &:hover{
                color: 
                    @blog--sidebar--collapse-header--hover-color;
            }
            &.is--active{
                
                font-weight: @font-weight--semibold;
                
                &,&:hover{
                    color:
                        @blog--sidebar--collapse-header--active-color;
                }
            }
        }
        
        // Collapse content
        // -----------------------------------------------------------------

        .collapse--content{
            .unitize-padding(0, 0);

            &,&:hover,&.is--active{
                background:
                    @blog--sidebar--collapse-content--bg;
            }
            
            .filter--entry{
                &,&:hover,&.is--active{
                    border-color:
                        @blog--sidebar--collapse-content--border-color;
                }
            }
            .filter--entry-link{
                    
                color: 
                    @blog--sidebar--collapse-content--filter-link--color;
                
                &:hover{
                    color: 
                        @blog--sidebar--collapse-content--filter-link--hover-color;
                }
                &.is--active{
                    
                    font-weigt: @font-weight--semibold;
                    
                    &,&:hover{
                        color:
                            @blog--sidebar--collapse-content--filter-link--active-color;
                    }
                }
            }
        }
    }
}



// Blog filter options
// -----------------------------------------------------------------------------

.blog--filter-btn{
    .unitize-margin(20, 0);

    .filter--trigger{
        display: block;
    }
}

.blog--filter-options{
    //border-right: 1px solid @blog--filter-options--border-color;

    .filter--container{
        .unitize-padding(0, 10);
    }

    // Close button
    // ---------------------------------------------------------------------
    
    .blog--filter-close-btn{
        display: block;
        .unitize-padding(12, 10);
        
        font-weight: @font-weight--bold;
        text-align: right;

        color: 
            @blog--filter--close-btn--color;
        background: 
            @blog--filter--close-btn--bg;
            
            
        &:hover{
            color: 
                @blog--filter--close-btn--hover-color;
            background: 
                @blog--filter--close-btn--hover-bg;
        }

        .icon--arrow-right{
            float: right;
            .unitize-margin(3, 0, 0, 10);
        }
    }

    .blog--subscribe{
        display: none;
    }

    // Filter headline
    // ---------------------------------------------------------------------

    .filter--headline{
        .unitize-margin(16, 10, 6, 10);
        
        .unitize(font-size, 16);
        .unitize(line-height, 26);
        font-weight: @font-weight--bold;
        
        color: 
            @blog--filter--headline--color;
    }

    // Filter entry
    // ---------------------------------------------------------------------

    .filter--entry{
        display: block;
        .unitize-padding(10, 20);
        border-top: 1px solid @blog--filter--entry--border-color;
        
        position: relative;
        .unitize(top, -1);
        
        .unitize(font-size, 14);
        text-overflow: ellipsis;
        
        color:
            @blog--filter--entry--color;
        background:
            @blog--filter--entry--bg;

    }

    // Filter link
    // ---------------------------------------------------------------------

    .filter--link{
        color: 
            @blog--filter--link--color;

        &:hover{
            color: 
                @blog--filter--link--hover-color;
        }
    }
}



// Blog Listing (Content)
// -----------------------------------------------------------------------------

.blog--listing{
    .unitize(margin-top, 0);
}
.blog--box{
    .clearfix();
    
    .unitize(margin-bottom, 20);

    // Metadata
    // ---------------------------------------------------------------------
    
    .blog--box-metadata{
        .unitize(padding-top, 5);
        
        .unitize-margin(0, 20);
        
        .unitize(font-size, 12);


        .blog--metadata{
            display: inline-block;
            .unitize(padding-right, 8);
            border-right: 1px solid @blog--box-metadata--border-color;
            
            .unitize(margin-right, 8);

            &:last-child{
                border-right: 0 none;
            }
        }

        .blog--metadata-rating{
            .unitize(font-size, 14);
            
            color: 
                @blog--box-metadata--rating--color;
        }
    }

    // Headline
    // ---------------------------------------------------------------------

    .blog--box-headline{
        .unitize(font-size, 18);
    }

    .blog--box-link{
        color: @text-color-dark;

        &:hover{
            color: @brand-primary;
        }
    }

    .blog--box-picture{
        display: block;
        width: 100%; height: auto;
    }
    .blog--picture-preview{
        width: 100%;
    }

    .blog--box-description{
        .unitize(margin-top, 16);

        .blog--box-description-short{
            .unitize(margin-top, -6);
            .unitize(margin-bottom, 16);
        }
    }

    .blog--box-tags{
        .unitize(margin-top, 8);
        
        .unitize(font-size, 12);
    }
}


// Blog detail (Content)
// -----------------------------------------------------------------------------

.blog--detail{
    .unitize(max-width, 900);
    margin: 0 auto;

    ul, ol{
        .unitize(padding-left, 30);
    }

    .listing{
        margin: 0
    }

    // Article
    .blog--box{
        margin-bottom: 0;
    }
    .blog--detail-header{
        .unitize(padding-bottom, 14);
        border-bottom: 1px solid @blog--box-metadata--border-color;
        
        .unitize(margin-bottom, 20); 
    }
    .blog--detail-headline{
        .unitize-margin(0, 0, 5, 0);
    }
    .blog--detail-headline,
    .blog--detail-box-headline{
        .unitize(font-size, 18);
    }
    .blog--detail-description{
        margin: 0 auto;
        
        img{
            margin: 0 auto;
        }
    }
    

    .js--fancy-select{
        width: 100%;
    }

    .blog--rating-link{
        .unitize(font-size, 14);
        color: @text-color;
    }

    // Bookmarks
    .blog--bookmarks-icons{
        .unitize(margin-top, 10);
        float: right;
    }

    .blog--bookmark{
        .unitize(font-size, 40);
    }

    // Thumbnails & Image
    .blog--detail-thumbnails{
        .unitize(margin-bottom, 10);

        .blog--thumbnail-image{
            margin: 0 auto;
        }

        .block{
            .unitize(height, 80);
            width: 23%;
        }
    }

    .blog--image{
        .unitize-padding(10, 10, 10, 10, 16);
        width: 100%;
    }

    .blog--thumbnail{
        .unitize-padding(5, 5, 5, 5, 16);
        margin: 2% 1%;
        display: block;
        float: left;

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    .blog--comments-wrapper{
        .unitize-padding(20, 0);
    }

    // Comments
    .blog--comments{
        .unitize-padding(20, 20);

        .comments--actions .btn--create-entry{
            width: 100%;
        }

        .comments--list{
            .unitize(margin-top, 30);
        }

        .list--entry{
            .clearfix();
            .unitize(margin-top, 10);
        }

        .entry--meta{
            width: 100%;

            .meta--rating{
                .unitize(margin-bottom, 5);
            }
        }

        .entry--content{
            width: 100%;
        }

        .content--headline{
            .unitize-margin(10, 0, 5, 0);
            .unitize(font-size, 16);
        }
    }

    .blog--comments-headline{
        .unitize(font-size, 21);
        .unitize-margin(0, 0, 20, 0, 16);
    }

    .blog--comments-entry{
        .unitize(margin-bottom, 20);

        &:last-child{
            margin: 0;
        }
    }

    .blog--comments-entry-left{
        .unitize-padding(20, 40, 16);
        border-bottom: 1px solid @border-color;

        // Arrow down
        &::after{
            .unitize-margin(0, 0, 0, -9);
            .unitize-width(18);
            .unitize-height(18);
            .unitize(-9, 16, bottom);
            .rotate(45deg);
            content: '';
            position: absolute;
            left: 50%;
            background: #fff;
            border: 1px solid @border-color;
            border-left: 0 none;
            border-top: 0 none;
        }
    }

    .blog--comments-rating{
        .unitize(font-size, 18);
        color: @rating-star--color;
    }

    .blog--comments-entry-right{
        .unitize-padding(20, 40, 16);
    }

    .blog--comments-entry-headline{
        .unitize(font-size, 16);
        color: @text-color-dark;
        margin-top: 0;
    }

    .blog--comments-form{
        .form--comment-add{
            margin-top: 20px;
        }
    }

    .blog--comments-form-errors{
        .alert{
            .unitize-margin(20, 0, 20, 0);
        }
    }

    .blog--comments-voting{
        .unitize(margin-bottom, 10);
        line-height: 1;
    }

    .collapse--soft-hidden{
        display: none;
    }

    .collapse--soft-show{
        display: block;
    }
}



// Tablet viewport width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    // Blog-Entry Box
    // ---------------------------------------------------------------------

    .blog--box{
        .blog--box-metadata{
            .unitize(font-size, 14);
        }
        .blog--box-tags{
            .unitize(font-size, 14);
        }
        .blog--box-description{
            width: 76%;
            float: right;
            
            padding-top: 0;
            margin-top: 0;
        }
        .blog--box-picture{
            float: left;
            
            width: 20%;
        }
    }

    
    
    // Blog Navigation (Sidebar)
    // ---------------------------------------------------------------------
    
    .blog--content{

        .blog--navigation{

            .blog--sidebar-body,
            .blog--sidebar-title{
                -webkit-box-shadow: 
                    none;
                -moz-box-shadow: 
                    none;
                box-shadow: 
                    none;
            }
            .blog--sidebar-body{
                .unitize-padding(0, 0);
                border: 0 none;
                
                position: static;
                top: 0;
            }
            .blog--sidebar-title{
                display: block;
                .unitize-padding(10, 10, 10, 10, 16);
                
                border: 0 none;
                .reset-border-radius();
                
                .unitize-margin(0, 0);
                
                font-weight: @font-weight--bold;
                .unitize(font-size, 14);
                
                line-height: inherit;
                
                cursor: default;
                
                color: 
                    @brand-primary !important;
                background: 
                    @white !important;
            }
            .collapse--header:hover{
                color: 
                    @text-color-dark;
            }
            .blog--subscribe{
                display: block;
            }

            .blog--subscribe-content,
            .blog--filter-content{
                display: block;
            }

        }

        // Blog Filter Options
        // -----------------------------------------------------------------
        
        .blog--filter-btn{
            display: none;
        }

        .blog--filter-options{
            float: right;
            
            display: block;
            width: 20%;
            border: none;
            
            background: 
                none;

            .filter--container{
                padding: 0;
            }
            
            .filter--group{
                width: 100%; height: auto;
                padding: 0;
                .unitize-margin(0, 0, 20, 0, 16);
                
                background: 
                    transparent;
            }
            
            .filter--entry{
                padding: 0;
                border: none;
                top: 0;
                background:
                    none;
            }
            
            .filter--entry-link{
                display: block;
                .unitize-padding(10, 10);
                border: 0 none; 
                
                margin: 0;
                
                line-height: inherit;

                color:
                    @navigation--link--color !important;
                background:
                    @navigation--link--bg  !important;

                &:hover,&.is--active{
                    color:
                        @navigation--link--hover-color  !important;
                    background:
                        @navigation--link--hover-bg  !important;
                }
                &.is--active{
                    font-weight: @font-weight--bold;
                }
                .is--icon-right{
                    display: none;
                }
            }

            .blog--filter-close-btn{
                display: none;
            }

            .filter--headline{
                display: none;
            }
        }

        .filter--expand-collapse{
            display: none;
        }
    }

        
        
        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
        
        
        
        
    // Blog Content
    .blog--content{
        
        // Blog Listing
        .blog--listing{
            .unitize(margin-top, 16);

            .panel--title{
                .unitize-margin(0, 20, 0, 20);
            }

            .panel--body{
                .unitize(padding-left, 20);
                .unitize(padding-right, 20);
            }
        }
        
        // Blog listing
        .blog--listing{
            margin-top: 0;
            width: 78%;
            float: left;
        }

        // Blog-Entry Box
        .blog--box{
            .blog--box-headline{
                .unitize(font-size, 18);
            }

            .blog--box-link{
                color: @text-color-dark;

                &:hover{
                    color: @brand-primary;
                }
            }

            .blog--box-metadata{
                .unitize(padding-top, 5);
            }

            .blog--box-content .blog--box-description{
                width: 74%;
            }
        }
    }
    
    
    
    
    
    
    
    
    

    // Blog Detail
    .blog--detail{
        .unitize(margin-top, 30);

        .blog--detail-headline{
            .unitize(font-size, 18);
            .unitize(margin-bottom, 5);
        }

        .blog--box-metadata, .panel--title{
            margin: 0;
        }

        .panel--body{
            padding-left: 0;
            padding-right: 0;
        }

        // Thumbnails & Image
        .blog--detail-thumbnails{
            .unitize(margin-bottom, 10);

            .blog--thumbnail-image{
                margin: 0 auto;
            }

            .block{
                .unitize(width, 80);
                .unitize(height, 80);
            }
        }

        .blog--comments{
            .entry--meta{
                width: 25%;
                text-align: left;
            }

            .entry--content{
                width: 75%;
                float: left;
            }

            .comments--actions .btn--create-entry{
                width: auto;
            }
        }

        .blog--comments-name, .blog--comments-summary{
            .unitize(padding-right, 10);
            width: 50%;
            float: left;
        }

        .blog--comments-email, .blog--comments-voting{
            .unitize(padding-left, 10);
            width: 50%;
            float: right;
        }

        .blog--comments-voting{
            .unitize(margin-bottom, 10);
        }

        .blog--comments-opinion{
            clear: both;
        }

        .blog--comments-captcha{
            .clearfix();
            .unitize(margin-bottom, 10);
        }

        .blog--comments-captcha{
            width: 50%;

            .captcha--placeholder{
                .unitize(margin-top, 5);
                .unitize(padding-right, 10);
                width: 30%;
                float: left;
            }

            .captcha--code{
                .unitize(padding-right, 10);
                width: 70%;
                float: right;
            }
        }
    }
}

@media screen and(min-width: @tablet-landscape--viewport-width){

    .blog--detail{
        .blog--detail-description{
            width: 100%;
        }

        .blog--detail-image-container{
            width: 40%;
            margin: 0 0 3% 3%;
            float: right;
        }
    }
}

@media screen and(min-width: @desktop--viewport-width){

    // Blog Listing
    .blog--listing{
        .listing--actions{
            .unitize(margin-top, 15);
            padding-top: 0;
            margin-bottom: 0;
        }

        .listing--paging{
            border: 0 none;
        }
    }

    // Blog Detail
    .blog--detail{
        .unitize(margin-top, 50);

        .blog--detail-headline{
            .unitize(font-size, 21);
        }

        .blog--bookmark{
            .unitize(font-size, 32);
        }
    }
}