// breadcrump.less
// =============================================================================

// Defines the styling for the content breadcrumb elements that display the page location.
// Every breadcrumb entry is followed by a breadcrumb separator list-entry with an arrow icon.
// The main breadcrumb is positioned below the main navigation bar.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <nav class="content--breadcrumb">
//     <ul class="breadcrumb--list" role="menu">
//         <li class="breadcrumb--entry" role="menuitem" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
//             <a class="breadcrumb--link" href="" itemprop="url">
//                 <span class="breadcrumb--title" itemprop="title">
//                      Breadcrumb entry 1
//                 </span>
//             </a>
//         </li>
// 
//         <li class="breadcrumb--separator">
//             <i class="icon--arrow-right"></i>
//         </li>
// 
//         <li class="breadcrumb--entry" role="menuitem" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
//             <a class="breadcrumb--link" href="" itemprop="url">
//                 <span class="breadcrumb--title" itemprop="title">
//                      Breadcrumb entry 2
//                 </span>
//             </a>
//         </li>
//     </ul>
// </nav>

// -------------------------------------------------------------------------

@breadcrump--seperator--color:      @gray;

@breadcrump--link--color:           @text-color;
@breadcrump--link--hover-color:     @brand-primary;
@breadcrump--link--active-color:    @brand-primary;

.content--breadcrumb{
    .clearfix();
    float: none;
    display: block;
    
    .unitize(font-size, 14);

    .breadcrumb--list{
        overflow: hidden;
    }
    .breadcrumb--entry,
    .breadcrumb--separator{
        display: none;
        
        float: left;
        
        list-style: none;
        white-space: nowrap;
        overflow: hidden;

        &:last-child{
            display: list-item;
        }
    }
    
    .breadcrumb--link,
    .breadcrumb--separator{
        .unitize-padding(10, 10);
        .unitize(line-height, 24);
    }
    .breadcrumb--separator{
        .unitize(font-size, 9);
    }
    .breadcrumb--link{
        display: block;
        color: 
            @breadcrump--link--color;

        &:hover{
            color: 
                @breadcrump--link--hover-color;
        }
    }
    .is--active .breadcrumb--link{
        font-weight: @font-weight--semibold;

        color: 
            @breadcrump--link--active-color;
    }

    .breadcrumb--button{
        float: left;
        display: inline-block;
        .unitize-padding(10, 0, 10, 10);
        
        list-style: none;

        .breadcrumb--title{
            .unitize(padding-right, 20);
            border-right: 1px solid @breadcrump--seperator--color;
        }
        .icon--arrow-left{
            .unitize(margin-right, 10);
            .unitize(font-size, 9);
        }
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    .content--breadcrumb{
        .unitize-padding(0, 10);

        .breadcrumb--list{
            padding-left: 0;
        }
        .breadcrumb--entry,
        .breadcrumb--separator{
            display: list-item;
        }
        .breadcrumb--button{
            .unitize-padding(10, 30, 10, 10);
            .unitize(margin-right, 10);

            .breadcrumb--title{
                .unitize(padding-right, 0);
                //border-right: 0 none;
            }
        }
    }
}