/* 
 * compare.less
 * =============================================================================
 * Defines the styling of the comparison tool and its elements.
 * The comparision creates a fixed modalbox in that the user can compare multiple articles.
 * The user can open the tool inside the product detail section.
 * 
 * @package     Grace & Holmes
 * @since       1.0
 */



@zindex-compare-list: 4000;

.top-bar--navigation{
	position: relative;

    .entry--compare{
        .unitize-padding(0, 8);

        .compare--quantity{
            display: inline-block;
            .unitize(margin-left, 5);
            
            font-weight: @font-weight--semibold;
            
            color: 
                @brand-primary;
        }

        .icon--compare{
            .unitize(font-size, 12);
        }
    }

    .compare--list{
        display: none;
        .unitize-width(280);
        .unitize-padding(5, 10, 10, 10);
        border: 1px solid @border-color;
        
        list-style: none;
        
        position: absolute;
        .unitize(top, 32); .unitize(right, 12);
        z-index: @zindex-compare-list;
        
        text-align: left;

        background: 
            @white;
        
        &::after{
            content: '';
            display: block;
            .unitize-width(8); .unitize-height(8);
            
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: 
                @border-color;
            
            position: absolute;
            .unitize(top, -5); .unitize(left, 25);
            
            .rotate(135deg);
            
            background: 
                @white;
        }
    }

    .js--is--dropdown-active .compare--list{
        display: block;

        .compare--entry{cursor: default;}

        .compare--link{
            display: inline-block;
            .unitize(width, 230);
            .unitize-padding(10, 0);
            
            overflow: hidden;
            
            .unitize(font-size, 14);
            text-overflow: ellipsis;
            white-space: nowrap;

            color: 
                @text-color;
            
            &:hover{
                color: 
                    @brand-primary;
            }
        }

        .compare--button{
            float: right;
            .unitize-padding(3, 4);
            
            .unitize-margin(3, 0, 0, 0);
        }

        .btn--item-delete{
            float: right;
            .unitize-width(21); .unitize-height(21);
            .unitize-padding(4, 5);
            
            .unitize-margin(8, 0);
            
            .unitize(font-size, 8);
            .unitize(line-height, 14);

            .icon--cross{
                padding: 0;
                margin: 0;
            }
        }

        .compare--button .icon--cross{
            padding: 0;
            margin: 0;
        }

        .btn--compare{
            .unitize(margin-top, 5);
        }
    }
}

.compare--wrapper{
    display: block;
    overflow: auto;
}

.modal--compare{
    display: inline-block;
    
    .unitize(font-size, 14);
    .unitize(letter-spacing, -4);
    white-space: nowrap;
    
    vertical-align: top;

    &.is--fluid{
        width: 100%;
        overflow: hidden;
    }

    .modal--title{
        .unitize-padding(10, 40, 10, 20);
        border-bottom: 1px solid @text-color;
        
        .unitize(font-size, 16);
        font-weight: @font-weight--bold;
        letter-spacing: 0;
    }

    .modal--error{
        .unitize-padding(20, 20);
        
        letter-spacing: 0;
    }

    .list--head{
        font-weight: @font-weight--bold;
        
        background: 
            @gray-light;
    }

    .compare--group{
        display: inline-block;
        .unitize-width(200);
        
        letter-spacing: 0;
        white-space: normal;
        
        vertical-align: top;
    }

    .group--small{
        .unitize-width(200);
    }

    .compare--group-list{
        padding: 0;
        margin: 0;
    }

    .list--entry{
        .unitize-padding(10, 30, 10, 10);
        border-bottom: 1px solid @border-color;
        
        color: 
            @text-color;
    }

    .entry--picture{
        .unitize(height, 160);
        
        position: relative;

        .image--element img{
            max-width: 90%; max-height: 90%;
            
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }
    }

    .entry--name{
        .unitize(height, 125);
    }

    .link--name{
        display: block;
        height: 70px;
        
        position: relative;
        
        font-weight: @font-weight--bold;
        
        color: 
            @text-color-dark;
    }

    .entry--voting{
        .unitize(height, 50);

        .icon--star,
        .icon--star-empty{
            color: 
                @rating-star--color;
        }
    }

    .entry--description{
        .unitize(height, 150);
        
        text-align: left;
        word-wrap: break-word;
    }

    .entry--price{
        .unitize(height, 130);

        .price--pseudoprice{
            text-decoration: line-through;
        }

        .price--normal{
            .unitize(font-size, 16);
            font-weight: @font-weight--bold;
            
            color: 
                @text-color-dark;
        }

        .price--reduced{
            color: 
                @badge-discount-bg;
        }
    }

    .entry--property{
        height: auto;
    }
}

// Desktop viewport width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    .top-bar--navigation{
        .compare--list{right: 0;}
    }
}