// confirm.less
// =============================================================================

// Defines the styles for the confirm page on the checkout process.
// It is displayed as the third step of the checkout process of Shopware and shows the important checkout information and article details of the order.

// @package     Grace & Holmes
// @since       1.0



.confirm--content{

    & > .alert{
        .unitize-margin(8, 0, 0, 0);
    }

    .body--revocation{
        font-weight: @font-weight--bold;
    }

    .panel{
        //.border-radius();
        .unitize-margin(8, 0);
    }

    .product--table{
        margin: 0;

        .panel--body{
            padding-bottom: 0;
            
            color: 
                @text-color;
            background: 
                @panel--bg;
        }

        .table--tr,
        .table--media img{
            border-color: 
                @panel--border-color;
        }

        .basket--footer{
            border-color: 
                @panel--border-color;
            
            .unitize-margin(0, -10);
            
            background: 
                @gray-light;

            .aggregation--list{
                border-top: 1px solid @border-color;
                
                margin: 0;
                
                background: 
                    transparent;
            }
        }

        .is--last-row{
            border-bottom: 0 none;
        }
    }

    .panel--actions{
        padding: 0;
        .unitize-margin(16, 0, 0, 0);
    }

    .column--unit-price{
        display: none
    }

    .product--essential-features{
        .unitize-margin(10, 0, 0, 0);
    }

    .table--tr .column--tax-price{
        .unitize-padding(0, 0, 9, 10);
    }

    .agb_info, .list--checkbox{
        .unitize-margin(0, 0, 21, 0);
    }

    .list--checkbox{
        .column--checkbox{
            width: 10%;
        }
        .column--label{
            width: 90%;
        }
    }

    // Add product using the sku
    .add-product--form{
        .unitize-margin(12, 0);
    }

    .add-voucher--form,
    .add-product--form{
        .clearfix();
    }

    .add-product--field,
    .add-voucher--field{
        width: 90%;
        
        //.border-radius-multi(3px, 0, 0, 3px);
    }

    .add-product--button,
    .add-voucher--button{
        width: 10%;
        .unitize-padding(5, 0);
        
        //.border-radius-multi(0, 3px, 3px, 0);
        
        text-align: center;
    }

    .user-comment--field{
        width: 100%;
    }

    .table--actions{
        .main--actions{
            .unitize-margin(20, 0, 10, 0);
        }

        .btn{width: 100%;}
    }

    .table-footer--country-notice{
        .unitize-margin(11, 0, 0, 0);
    }

    .table--aggregation{
        display: none
    }

    .js--loading{
        display: block;
        .unitize-width(18); .unitize-height(18);
        
        border: 2px solid @border-color;
        border-top: 2px solid darken(@border-color, 50%);
        .border-radius(100%);
        
        .unitize-margin(8, 5, 8, 5);
        
        position: absolute;
        .unitize(top, 2); .unitize(right, 6);
        
        .animation(keyframe--spin 1s linear infinite);
    }

    .payment--panel{
        .payment--method-info,
        .shipping--method-info{
            .unitize(margin-bottom, 10);
        }

        .payment--description,
        .shipping--description{
            white-space: nowrap;
        }
    }
}

// Phone landscape viewport width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    
    .confirm--content{

        .product--table{
            .column--quantity{width: 26%;}
            .column--total-price{width: 28.5%;}
            .column--tax-price{
                float: left;
                width: 32%;
                
                .unitize(padding-right, 10);
            }
            .row--rebate,
            .row--premium-product,
            .row--voucher{
                .column--tax-price{
                    margin-left: 39.5%;
                }
            }
        }
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    .is--act-shippingPayment .basket--footer{
        //.border-radius();
    }

    .confirm--content{

        & > .alert{
            .unitize-margin(20, 0, 0, 0);
        }

        .panel{
            .unitize-margin(20, 0);
        }

        .product--table{

            .table--header{
                border-color: 
                    @panel--border-color;
                background: 
                    @panel--table-header--bg;

                .panel--th{
                    color: 
                        @panel--table-header--color;
                }
            }

            .column--product        {width: 47%;}
            .column--quantity       {width: 11%;}
            .column--tax-price      {width: 17%;}
            .column--total-price    {width: 17%;}
            .column--actions        {width: 7.5%;}

            .is--last-row{
                border-bottom: 0 none;
            }

            .row--product .column--tax-price{
                .unitize(padding-top, 26);
                .unitize(line-height, 42);
            }

            .panel--body{
                .unitize(padding-bottom, 20);
            }

            .basket--footer{
                .unitize-margin(0, -20, -20, -20);
            }
        }

        .product--delivery{
            float: none;
        }

        .product--table .row--rebate .column--tax-price,
        .product--table .row--premium-product .column--tax-price,
        .product--table .row--voucher .column--tax-price{
            .unitize(21 ,16, padding-top);
            margin-left: 11%;
        }

        .product--table .row--rebate .column--total-price,
        .product--table .row--premium-product .column--total-price,
        .product--table .row--voucher .column--total-price{
            margin-left: 0;
        }

        .product--table .column--tax-price{
            .tax-price--label{
                margin: 0; .unitize(margin-bottom, 12);
            }
        }

        .row--premium-product .column--product,
        .row--rebate .column--product{
            width: 58%;

            .column--image{width: 16.2%;};
        }

        .product--table .row--premium-product .column--tax-price,
        .product--table .row--rebate .column--tax-price{
            margin-left: 0;
        }

        
        
        // Terms of services box
        // -----------------------------------------------------------------
        
        .tos--panel{

            .column--checkbox{
                width: auto;
                .unitize(margin-right, 12);
            }

            .column--label{
                display: block;
                width: 95%;
            }
        }

        
        
        // Personal information panels like billing and shipping address
        // -----------------------------------------------------------------
        
        .information--panel{
            width: 32%; .unitize-height(300);
            
            margin: 0 2% 0 0;
            
            position: relative;

            .panel--body{
                position: static;
            }

            .panel--actions{
                .clearfix();
                
                position: absolute;
                .unitize(bottom, 20);

                .btn{
                    float: left;
                }
            }

            &:last-child{
                margin: 0;
            }
        }

        
        
        // Additional features
        // -----------------------------------------------------------------
        
        .additional--features{
            .feature--group{
                width: 40%;
                margin: 0 2.5% 0 0;
            }

            .feature--user-comment{
                width: 55%;
                margin: 0 0 0 2.5%;
            }

            .user-comment--field{
                .unitize-height(95);
            }
        }

        
        
        // Aggregation
        // -----------------------------------------------------------------
        
        .product--table{
            .basket--footer .aggregation--list{
                float: right;
            
                padding-right: 10.4%;
                border-top: 0 none;
            }
        }

        
        
        // Main Actions
        // -----------------------------------------------------------------
        
        .main--actions .btn{
            .clearfix();
            float: right;
            
            width: auto;
        }

        
        
        // Relevant info
        // -----------------------------------------------------------------
        
        .relevant--info{
            display: block;
        }
    }
}

// Tablet landscape viewport width
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    .confirm--content{
        .product--table .row--premium-product .column--image,
        .product--table .row--rebate .column--image{
            width: 13%;
        }
        .product--table .aggregation--list{
            padding-right: 10%;
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .confirm--content{
        .unitize(padding-top, 25);

        & > .alert{
            .unitize-margin(45, 0, 0, 0);
        }

        .product--table{
            .row--premium-product .column--product,
            .row--rebate .column--product{
                width: 58%;
            }
            .row--premium-product .column--image,
            .row--rebate .column--image{
                width: 11.3%;
            }
            .row--premium-product .column--tax-price,
            .row--rebate .column--tax-price{
                margin-left: 0;
            }
        }

        .product--table .aggregation--list{
            padding-right: 9.6%;
        }
    }
}
