// configurator.less
// =============================================================================

// Defines the styles for the product configuration options element.
// The configurator element allows the user to choose from different article variations on the Shopware product detail page and configure his product.

// @package     Grace & Holmes
// @since       1.0



@zindex-configurator-option-label:  500;
@zindex-configurator-option-input:  1000;

.configurator--variant{

    .variant--group{
        .clearfix();
        .unitize-margin(0, 0, 10, 0);
    }

    .variant--name{
        .unitize-margin(0, 0, 5, 0);
        font-weight: @font-weight--bold;
    }

    .variant--option{
        float: left;
        display: block;
        
        width: 23%; .unitize-height(50);
        
        margin-right: 2%; .unitize(margin-bottom, 10);
        
        position: relative;
        overflow: hidden;
        
        .unitize(line-height, 40);
    }

    .option--input{
        display: block;
        width: 100%; height: 100%;
        
        position: absolute;
        top: 0; left: 0;
        z-index: @zindex-configurator-option-input;
        
        .opacity(0);
        
        cursor: pointer;

        // Checkbox/Radio Hack
        // Changes the styling of the next label element
        // based on the state of the radio element.
        &:hover ~ label{
            color: 
                @brand-primary;
            border-color: 
                @brand-primary;

            &.is--disabled{
                color: 
                    @text-color;
                border-color: 
                    @border-color;
            }
        }

        &:checked ~ label{
            color: 
                @brand-primary;
            border-color: 
                @brand-primary;
        }

        &:disabled ~ label{
            .opacity(0.5);
        }

        &:disabled{
            cursor: not-allowed;
        }
    }

    .option--label{
        display: block;
        width: 100%; height: 100%;
        
        .unitize-padding(5, 5);
        
        border: 1px solid @border-color;
        //.border-radius();
        
        position: relative;
        z-index: @zindex-configurator-option-label;
        
        overflow: hidden;
        
        font-weight: @font-weight--bold;
        .unitize(line-height, 40);
        text-align: center;
        

        &.is--disabled img{
            opacity: 0.3;
        }

        .image--media{
            .unitize(line-height, 50);
            
            text-align: center;
            vertical-align: middle;
        }

        img{
            margin: 0 auto;
        }
    }
}