// details.less
// =============================================================================
// Defines the styling for the Shopware 5 detail page elements.

// It contains the product actions, the product information such as pictures and
// details and the user ratings of the product.

// @package     Grace & Holmes
// @since       1.0



// Product Navigation
// -----------------------------------------------------------------------------

// The product navigation displays 'previous' & 'next' product in category order.

@product-navigation--button--color:             @text-color;
@product-navigation--button--border-color:      @text-color;
@product-navigation--button--bg:                @white;

@product-navigation--button--hover--border-color:   @link--color;
@product-navigation--button--hover--color:          @link--color;

@product-navigation--image-wrapper--border-color:   @link--color;
@product-navigation--image-wrapper--bg:             @white;


@zindex-detail-notification-field-focus:    1;


.product--navigation{
    display: block;
    .unitize-height(44);
    
    .unitize-margin(11,0);
    position: relative;

    .navigation--link{
        &,
        &.link--prev[href="#"],
        &.link--next[href="#"]{
            display: none;
        }
    }
    
    .link--prev,
    .link--next{
        display: inline-block;
        width: auto; height: 100%;
        position: absolute;
        
        &:hover{
            .link--prev-button,
            .link--next-button{
                border-color:
                    @product-navigation--button--hover--border-color;
                color:
                    @product-navigation--button--hover--color;
            }
        }
    }
    .link--prev-button,
    .link--next-button{
        display: inline-block;
        .unitize-width(44); .unitize-height(44);
        
        border: 1px solid;
        
        -webkit-border-radius: 
            100%;
        -moz-border-radius: 
            100%;
        border-radius: 
            100%;
            
        border-color:
            @product-navigation--button--border-color;
        
        position: relative;
            
        .unitize(font-size, 14);
        .unitize(line-height, 42);

        color: 
            @product-navigation--button--color;
        background: 
            @product-navigation--button--bg;

        &:before{
            display: inline-block;
            width: 100%; height: 100%;
            
            font-family: 'shopware';
            text-align: center;
            
            .unitize(font-size, 9);
        }
    }
    .link--prev-inner,
    .link--next-inner{
        display: inline-block;
        width: auto; height: 100%;
        
        position: absolute;
        top: 0;
        
        font-weight: 600;
        text-transform: lowercase;
    }

    // Product Image
    .image--wrapper{
        display: none;
    }
    .image--container{
        width: 100%; height: 100%;
        position: relative;

        background-position:    center center;
        background-repeat:      no-repeat;
        background-size:        contain;
    }
    
    // Previous Product
    .link--prev{
        left: 0;
        text-align: left;
    }
    .link--prev-button{
        &:before{
            content: "\e611";
        }
    }
    .link--prev-inner{
        .unitize(left, 56);
    }

    // Next Product
    .link--next{
        right: 0;
        text-align: right;
    }
    .link--next-button{
        &:before{
            content: "\e60f";
        }
    }
    .link--next-inner{
        .unitize(right, 56);
    }
    
}

// Tablet Landscape Viewport
// =============================================================================
@media screen and (min-width: @tablet-landscape--viewport-width){
    
    // Product Navigation
    // -------------------------------------------------------------------------
    .product--navigation{
        
        // Product Image
        .image--wrapper{
            .unitize-width(176); .unitize-height(144);
            .unitize-padding(11,11);
            border: 1px solid;
            
            border-color:
                @product-navigation--image-wrapper--border-color;
            
            .unitize(margin-top, -72);
            
            position: absolute;
            top: 50%;
            z-index: 10;
            
            background:
                @product-navigation--image-wrapper--bg;
            
            &:before{
                content: '';
                display: block;
                .unitize-width(12); .unitize-height(12);
                
                margin: -6px;
                
                border: 1px solid;
                border-color: 
                    transparent
                    @product-navigation--image-wrapper--border-color
                    @product-navigation--image-wrapper--border-color
                    transparent;
                
                position: absolute;
                top: 50%;
                
                background: 
                    inherit;
            }
        }
        .link--prev,
        .link--next{
            &:hover .image--wrapper{
                display: block;
            }
        }
        .link--prev .image--wrapper{
            .unitize(left, 50);
            &:before{
                left: -1px;
                .rotate(135deg);
            }
        }
        .link--next .image--wrapper{
            .unitize(right, 50);
            &:before{
                right: -1px;
                .rotate(-45deg);
            }
        }
        
    }
}



// Product Details
// -----------------------------------------------------------------------------

@product-rating--text-color:    @text-color-dark;
@product-actions--border-color: @border-color;

.product--details{
    
    .product--actions{
        .clearfix();
        .unitize-padding(0, 0, 10, 0);
        //border-top: 0 none;
        //border-bottom: 1px solid @product-actions--border-color;
        
        .unitize-margin(0, 0, 10, 0);
    }
    

    // Product Header
    // ---------------------------------------------------------------------
    
    @product-header--text-color:    @text-color-dark;
    
    .product--header,
    .product--info,
    .product--supplier,
    .product--rating-container{
        width: 100%;
    }
    .product--header{
        .clearfix();
        .unitize(min-height, 70);
        .unitize-padding(10, 0);

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        
        // Product title
        .product--title{
            padding: 0;
            margin: 0;
            
            .unitize(font-size, 21);
            font-weight: bold;
            
            color: @product-header--text-color;
        }
    }
    .product--info{
        height: 100%;
    }
    
    .product--supplier{
        .unitize-height(35);
        
        //text-align: right;
        //float: right;
        //margin: 0;

        .product--supplier-link{
            .unitize-height(35);
            display: inline-block;
            max-width: 100%;
        }
    }
    
    .product--rating-container{
        .unitize-margin(5, 0, 0, 0);
        float: left;
    }
    .product--rating-link{
        display: inline-block;
    }
    .product--rating{
        .clearfix();
        display: block;
        
        .unitize(font-size, 19);
        letter-spacing: -1px;
        
        color: @product-rating--text-color;

        .rating--count-wrapper{
            vertical-align: text-top;
            .unitize(margin-left, 10);
            
            .unitize(font-size, 16);
            .unitize(line-height, 25);
            letter-spacing: 1px;
        }
    }

    
    
    // Product Detail Upper
    // ---------------------------------------------------------------------
    
    .product--detail-upper{
        
    }
    .product--image-container{
        width: 100%;
        .unitize-margin(0, 0, 20, 0);

        // Fixing the one pixel rounding error occurring when using a percentage based width.
        .image-slider--slide{
            margin-right: -0.5px;
        }
    }
    
    
    
    
    // Alert
    // ---------------------------------------------------------------------
    
    .alert{
        .unitize-margin(0, 0, 10, 0);
    }

    
    
    // Product Buybox
    // ---------------------------------------------------------------------
    
    .product--buybox{
        width: 100%;
        .unitize-margin(0, 0, 10, 0);

        .product--price{
            margin: 0;
        }

        .price--label{
            font-weight: bold;
        }
        .price--line-through{
            text-decoration: line-through;
        }
        .price--discount .price--content{
            color: @badge-discount-bg;
        }
        .price--content{
            display: inline-block;
            
            .unitize(font-size, 28);
            font-weight: bold;
            line-height: 1;
            white-space: nowrap;
            
            color: @text-color-dark;
        }
        
        .product--tax{
            margin: 0;
            .unitize(font-size, 12);
        }

        .content--discount{
            display: inline-block;
            .unitize-padding(4, 0);
            
            .unitize(font-size, 14);
            white-space: nowrap;
        }

        .price--discount-icon{
            display: inline-block;
            vertical-align: top;
            
            .unitize-padding(6, 7);
            //.unitize(border-radius, 3);
            
            position: relative;
            .unitize-margin(0, 5);
            
            .unitize(font-size, 13);
            font-weight: bold;
            text-align: center;
            
            color: 
                @badge-discount-color;
            background: 
                @badge-discount-bg;
        }
    }

    
    // Product Delivery
    // ---------------------------------------------------------------------
    
    .product--delivery{
        
    }
    
    
    
    // Product Configurator
    // ---------------------------------------------------------------------
    
    .product--configurator{
        .reset--configuration{
            .unitize-margin(0, 0, 20);
            
            white-space: nowrap;
        }

        .alert{
            .unitize-margin(10, 0, 0);
        }
    }
    
    
    
    // Buyboy Form
    // ---------------------------------------------------------------------
    
    .buybox--form{
        .unitize-padding(10, 0);
    }

    // Quanitity box and input
    .buybox--quantity{
        width: 35%;
        margin: 0 2% 0 0;

        .js--fancy-select{
            @buyboxBtnFontSize: @btn--font-size + 2;
            
            width: 100%; .unitize-height(42);
            //.border-radius(3px);
            
            .unitize(@buyboxBtnFontSize, 16, font-size);
            font-weight: bold;

            .js--fancy-select-text,
            .js--fancy-select-trigger{
                .unitize-height(42);
                .unitize(line-height, 42);
            }
        }
    }
    
    // "Buy now" button
    .buybox--button{
        @buyboxBtnFontSize: @btn--font-size + 2;
        
        width: 63%;
        
        .unitize(@buyboxBtnFontSize, 16, font-size);
        white-space: nowrap;
    }

    // Product base information
    .product--base-info{
        .unitize-margin(10, 0);
        .unitize(font-size, 14);

        .entry--label{
            display: inline-block;
            
            width: 35%;
            .unitize-margin(0, 8, 0, 0);
        }
    }

    .content--description,
    .content--product-reviews,
    .content--related-products,
    .content--similar-products{
        .unitize-padding(10, 10);
    }

    .product--properties{
        .unitize-margin(0, 0, 10, 0);

        .product--properties-table{
            width: 100%;
            background: 
                @table-row--bg;
        }
        td{
            width: 50%;
            .unitize-padding(5, 10, 5, 10);
            border: 0 none;
        }
        tr:nth-child(even) td{
            background: @table-row--highlight-bg;
        }
    }


    // Content headlines
    .content--title{
        .unitize-margin(10, 0, 5, 0);
        
        .unitize(font-size, 18);
        font-weight: 700;
        
        color: 
            @text-color-dark;

        &.title--description-supplier{
            .unitize(25, 16, margin-top);
        }
    }

    .content--link [class^=icon]{
        .unitize(font-size, 10);
        .unitize-margin(-2, 8, 0, 0);
    }

    // Block prices
    .block-prices--container{
        display: block;
        .unitize-margin(0, 0, 12, 0);

        .block-prices--table{
            width: 100%;

            td, th{
                .unitize-padding(4, 10);
                border: none;
            }

            th{
                text-align: left;
            }
        }
    }

    .listing .product--box .panel--body{
        border-left: 1px solid @panel--border-color;
        border-right: 1px solid @panel--border-color;
    }

    // Product action link
    .action--link{
        display: block;
        .unitize-margin(0, 10, 5, 0);
        
        .unitize(font-size, 14);
        white-space: nowrap;
        
        color: 
            @text-color;

        &.action--compare{
            display: none;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: @brand-primary;
        }

        // Icon
        *[class^="icon"]{
            .unitize-margin(0, 5, 0, 0);
            .unitize(font-size, 12);
        }
        // Icon
        *[class="icon--star"]{
            .unitize-margin(0, 5, 0, 0);
            .unitize(font-size, 14);
        }
    }

    .action--compare{display: none;}

    .link--notepad{
        &:focus{
            outline: none;
        }
        &.js--is-saved{
            color: @highlight-success;
        }
    }

    .price--unit{
        .unitize(font-size, 12);
    }
    .delivery--text{
        .unitize(font-size, 14);
    }

    .similar--content,
    .viewed--content,
    .related--content,
    .product-streams--content{
        .product-slider{
            .unitize-padding(10, 10);
            .unitize-min-height(270);
        }
        .product-slider--arrow{
            &.arrow--prev{
                border-left: 0 none;
            }
            &.arrow--next{
                border-right: 0 none;
            }
        }
    }
}

// Product reviews form
.review--form{
    .review--field{
        width: 100%;
        .unitize-margin(0, 0, 10, 0);
    }

    .captcha--placeholder{
        .unitize-margin(20, 0);
    }

    .review--notice{
        .unitize(font-size, 12);
    }
}



// Product description
// -----------------------------------------------------------------------------

.product--description{
    ol, ul{
            padding: 0;
            .unitize-margin(0, 16, 16);

        & li{
            .unitize-margin(0, 0, 0, 6);
        }
    }
}



// Product review entry
// -----------------------------------------------------------------------------

.review--entry{
    .unitize-padding(20, 20);
    .unitize-margin(0, 0, 25, 0);
    
    border: 1px solid @border-color;
    //.border-radius(3px);
    
    .unitize(font-size, 14);
    
    background: 
        #fff;

    &.is--last{
        .unitize-margin(0, 0, 30, 0, 16);
    }

    &.has--answer{
        //.border-radius-multi(3px, 3px, 0, 0);
        margin: 0;
    }

    .entry--header, .product--rating{
        .unitize(margin-bottom, 10);
    }
    
    .content--field{
        .clearfix();
    }
    .content--label{
        float: left;
        .unitize-margin(0, 8, 0, 0, 16);
    }
    .content--title{
        .unitize(font-size, 16);
    }
    .review--content{
        margin: 0;
        .unitize(font-size, 14);
    }
}



// Product review entry - Administrator answers
// -----------------------------------------------------------------------------

.review--entry.is--answer{
    .unitize-padding(20, 10);
    border-top: 0;
    //.border-radius-multi(0, 0, 3px, 3px);
    
    .unitize-margin(0, 10, 30, 10);
    
    background: @gray;

    .entry--header{
        border: 0 none;
        position: relative;

        // Arrow up
        &::after{
            .unitize(-9, 16, top);
            
            background: 
                @gray;
            
            .rotate(225deg);
        }
    }
}



// Product review form
// -----------------------------------------------------------------------------

.content--product-reviews{
    .alert{
        .unitize-margin(0, 0, 16, 0, 16);
    }
    .captcha--notice{
        .unitize(font-size, 12);
        line-height: 1.2;
    }
}

.product--rating-count{
    .unitize-padding(2, 7);
    //.border-radius(3px);
    
    .unitize(margin-left, 8);
    
    font-weight: bold;
    
    color: 
        #fff;
    background: 
        @brand-secondary;
}



// Product notification
// -----------------------------------------------------------------------------

.product--notification{
    .unitize-margin(0, 0, 16, 0);

    .alert{
        .unitize-margin(0, 0, 8, 0);
        word-wrap: break-word;
    }
    .notification--field{
        width: 80%;
        //.border-radius-multi(3px, 0, 0, 3px);
        position: relative;

        &:focus{z-index: @zindex-detail-notification-field-focus;}
    }
    .notification--button{
        width: 20%;
        
        .unitize-padding(3, 10);
        //.border-radius-multi(0, 3px, 3px, 0);
        
        .unitize(-1, 16, margin-left);
        position: relative;

        .icon--mail{
            .unitize(font-size, 12);
        }
    }
}



// Product configurator
// -----------------------------------------------------------------------------

.configurator--form{
    .unitize-padding(10, 0);

    .js--fancy-select{
        width: 100%;
    }
}

.configurator--label{
    .unitize-margin(6, 0, 4, 0);
    
    .unitize(font-size, 14);
    font-weight: bold;
}

.is--ctl-detail .content-main--inner{
    position: relative;
    background: 
        #fff;
}

.link--prev-button,
.link--next-button{
    display: none;
}

.base-info--entry{
    .unitize-margin(0, 0, 5, 0);
}

.tab--navigation{
    display: none;
}

.tab--title{
    font-weight: bold;
    
    color: 
        @text-color;

    &:hover{
        color: 
            @link--color;
    }

    &:after{
        content: "";
        
        margin-top: -9px;
        position: absolute;
        top: 50%; .unitize(right, 10);
        
        font-family: shopware;
        .unitize(font-size, 18);
    }
}

.tab-menu--cross-selling{
    .tab--container{
        display: none;
        //border: 1px solid @panel--border-color;
        //.border-radius(3px);
        
        .unitize-margin(0, 0, 10, 0);

        &.has--content{
            display: block;
        }

        &:last-child{
            .unitize-margin(0, 0);
        }
    }
    .tab--header{
        &.is--active{
            border-bottom: 1px solid @panel--border-color;

            .tab--title:after{
                content: "\e68e";
            }
        }
    }
    .tab--title{
        display: block;
        .unitize-padding(10, 38, 10, 10);
     
        position: relative;
        
        .unitize(line-height, 20);

        &:after{
            content: "\e68f";
        }
    }
}

/* Phone Landscape Viewport
 * =============================================================================
 */
@media screen and (min-width: @phone-landscape--viewport-width){
    
    .product--details{
        
        // Product action link
        .action--link{
            .unitize-margin(0, 35, 5, 0);

            // Icon
            *[class^="icon"]{
                .unitize(font-size, 12);
            }

            // Icon
            *[class="icon--star"]{
                .unitize(font-size, 14);
            }
        }

        // Product configurator
        .configurator--form{
            .js--fancy-select{
                width: 80%;
                .unitize(line-height, 36);
            }
        }

        .configurator--form,
        .buybox--form{
            width: 80%;
        }
    }

    .tab-menu--product{
        .unitize-margin(0, 0, 10, 0);

        .tab--navigation{
            display: block;
        }

        .tab--header,
        .tab--preview{
            display: none;
        }
    }
}



// Tablet Portrait Viewport
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){

    // Product Details
    // ---------------------------------------------------------------------
    
    .product--details{

        .product--header{
            .unitize-padding(30, 0, 20, 0, 16);

            .product--title{
                float: left;
                width: 80%;
                border: 0 none;
                
                .unitize(font-size, 28);
                .unitize(line-height, 30);
            }
        }

        // Product supllier
        .product--supplier{
            float: right;
            width: 20%;
            .unitize-height(70);

            .product--supplier-link{
                .unitize-height(70);
            }
        }

        // Compare
        .action--link.action--compare{
            display: inline;
        }

        // Rating container
        .product--rating-container{
            float: left;
            width: 80%;
        }

        // Product image
        .product--image-container{
            width: 100%;
        }

        // Product base information
        .product--base-info{
            .entry--label{
                .unitize-margin(0, 8, 0, 0);
            }
        }

        .content--description,
        .content--product-reviews{
            .unitize-padding(30, 30);
        }

        .content--related-products,
        .content--similar-products{
            .unitize-padding(20, 35);
        }

        .product--properties{
            .unitize-margin(0, 0, 20, 0);
        }

        // Block prices
        .block-prices--container{
            .unitize(margin-top, 12);
        }

        .tab--navigation{
            display: block;
        }

        .tab--header,
        .tab--preview{
            display: none;
        }

        .review--entry{
            .unitize-padding(30, 30);
        }

        .review--entry.is--answer{
            .unitize-padding(30, 20);
        }

        .tab--container{
            .unitize-margin(0, 0, 0, 0);
        }

        .tab-menu--product{
            .unitize-margin(0, 0, 30, 0);
        }

        .tab-menu--cross-selling .tab--container{
            display: none;
        }

        .review--form-container{
            width: 80%;
        }
    }
    
}



// Tablet Landscape Viewport
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    // Product Details
    // ---------------------------------------------------------------------
    
    .product--details{

        // Product image
        .product--image-container{
            float: left;
            width: 58%;

            margin-right: 4%;
        }

        .product--buybox{
            width: 38%;
        }

        .configurator--form{
            .unitize-padding(10, 0);
        }

        .buybox--inner{
            float: none;
            width: 100%;
        }

        .product--base-info{
            float: none;
            width: 100%;
            padding: 0;

            .unitize-margin(10, 0, 20, 0);
        }

        .product--properties{
            width: 50%;
        }

        // Product actions
        .action--link{
            //float: left;
            //display: inline-block;

            //.unitize(margin-right, 25);
        }

        .review--form-container{
            width: 70%;
        }

        .product--actions{
            .unitize-padding(0, 0, 5, 0);
            //border-bottom: 1px solid @border-color;
        }

        .product--buybox{
            border-bottom: 0 none;
        }

        .configurator--form,
        .buybox--form{
            width: 100%;
        }
    }
        
}



// Desktop Viewport
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    .is--ctl-detail .page-wrap{
        overflow-x: hidden;
    }
    
    .product--details{
        .product--header{
            .unitize(padding-top, 45);
        }
        .review--form-container{
            width: 60%;
        }
    }

    .product--navigation{
        
    }

    .product--supplier{
        .unitize-height(70);

        .product--supplier-link{
            .unitize-height(70);
        }
    }

    .content--description,
    .content--product-reviews{
        .unitize-padding(10, 45, 45, 45);
    }

    .content--related-products,
    .content--similar-products{
        .unitize-padding(30, 45, 20, 45);
    }

    .product--notification{
        .unitize-margin(0, 0, 20, 0);

        .alert{
            .unitize-margin(0, 0, 10, 0);
        }
    }
    
}