// devices.less
// =============================================================================

// Contains device specific classes to handle content on different viewports.

// @package     Grace & Holmes
// @since       1.0

// The viewport classes: ---------------------------------------------------

// .device--mobile,
// .device--tablet,
// .device--tablet-portrait,
// .device--tablet-landscape,
// .device--desktop,

// -------------------------------------------------------------------------



.device--mobile{display: block;}
.device--tablet{display: none;}
.device--tablet-portrait{display: none;}
.device--tablet-landscape{display: none;}
.device--desktop{display: none;}



// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    .device--mobile{display: none;}
    .device--tablet{display: block;}
    .device--tablet-portrait{display: block;}
    .device--tablet-landscape{display: none;}
    .device--desktop{display: none;}
}



// Tablet Viewport Landscape Width
// =============================================================================

@media screen and(min-width: @tablet-landscape--viewport-width){
    .device--mobile{display: none;}
    .device--tablet{display: block;}
    .device--tablet-portrait{display: none;}
    .device--tablet-landscape{display: block;}
    .device--desktop{display: none;}
}



// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    .device--mobile{display: none;}
    .device--tablet{display: none;}
    .device--tablet-portrait{display: none;}
    .device--tablet-landscape{display: none;}
    .device--desktop{display: block;}
}