// finish.less
// =============================================================================

// Contains the styles for the finish page.
// It is displayed after the Shopware checkout process is finished and contains the important order information, the users information and option to print the order confirmation.

// @package     Grace & Holmes
// @since       1.0

.is--act-finish .content-main{
    .unitize(margin-top, 20);
}
.finish--content{
    .unitize(padding-top, 10);
}
.finish--teaser{
    .unitize-margin(0, 0, 20, 0);
}
.teaser--btn-back{
    .unitize-margin(0, 0, 20, 0);
}
.teaser--btn-print,
.teaser--btn-back{
    width: 100%;
    
    text-align: center;

    *[class^="icon--"]{
        float: left;
     
        .unitize-margin(4, 0, 0, 0);
    }
}

.finish--info{
    .clearfix();
}

.finish--details,
.finish--billing,
.finish--shipping{
    .unitize-margin(0, 0, 20, 0);
}

.finish--table{
    
    .panel--body{
        border: 1px solid @panel--border-color;
    }

    .table--tr{
        .unitize-padding(10, 10);
    }

    .column--quantity,
    .column--total-price{
        padding-right: 0;
    }


    .table--aggregation{
        display: none;
    }
    
    .aggregation--list{
        border-bottom: 0 none;
        
        margin: 0;
    }
    
    .basket--footer{
        border-top: 1px solid @panel--border-color;
    }
    
    .is--last-row{
        border-bottom: 0 none;
    }
    
}

// Phone landscape viewport width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    
    .finish--table{
        .table--tr .column--quantity{
            margin-left: 42.3%;

            .column--label{
                .unitize(margin-bottom, 12);
                text-align: right;
            }
        }
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .teaser--btn-print{
        width: auto;
        
        text-align: left; 
    }

    .is--act-finish .content-main{
        .unitize(margin-top, 40);
    }

    .finish--content{
        .unitize(padding-top, 20);
    }

    .teaser--btn-back{
        width: auto;
        .unitize-margin(0, 20, 0, 0);
    }

    .finish--info{
        .unitize-height(280);
    }

    .finish--details,
    .finish--billing,
    .finish--shipping{
        width: 32%; height: 100%;
    }

    .finish--billing,
    .finish--shipping{
        margin-right: 2%;
    }

    .finish--table{
        .unitize-margin(20, 0, 0, 0);

        .table--header .panel--th{
            padding-right: 0;
        }

        .panel--body{
            .unitize-padding(20, 20);
        }

        .column--total-price{
            width: 37%;
        }

        .table--tr{
            padding: 0;

            &:last-child{border: 0 none;}

            .column--quantity{
                margin: 0;
                
                .unitize(line-height, 42);
            }
        }

        .row--rebate .column--total-price,
        .row--premium-product .column--total-price{
            width: 22.5%;
        }

        .row--voucher .column--total-price{
            width: 48%;
            margin-left: 0;
        }

        .table--aggregation{
            display: block;
            width: 50%;
        }

        .aggregation--list{
            .unitize-padding(20, 20);
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){

    .finish--content{
        .unitize(padding-top, 45);

        .column--total-price{
            width: 34%;
        }

        .finish--table{

            .table--header .column--product{
                width: 55%;
            }
            .row--premium-product .column--total-price,
            .row--rebate .column--total-price{
                width: 19.5%
            }
            .row--voucher .column--total-price{
                width: 45%;
            }
        }
    }
}

// Print
// =============================================================================

@media print{

    body{
        width: auto; height: auto;
        
        overflow: auto;
        
        background: 
            @white;
    }
    .container{
        max-width: none;
    }
    .is--act-finish .content-main{
        margin-top: 0;
    }
    .finish--teaser,
    .navigation-main,
    .footer--columns,
    .shop--navigation,
    .top-bar,
    .btn--back-top-shop,
    .header-main .container--ajax-cart{
        display: none;
    }

    .is--ctl-checkout.is--minimal-header .header-main,
    .header-main{
        padding: 0;
        border-bottom: none;
        margin: 0;
    }

    .content-main{
        margin-bottom: 0;
    }

    .finish--info{
        .unitize-height(280);
    }

    .finish--details,
    .finish--billing,
    .finish--shipping{
        height: 100%;
        width: 32%;
    }

    .finish--billing,
    .finish--shipping{
        margin-right: 2%;
    }

    .finish--table{
        clear: both;

        .table--tr{
            page-break-inside: avoid;
        }
        .table--content{
            width: 85%;
        }
        .column--product .column--image{
            width: 15%;
        }
        .column--label.quantity--label{
            margin: 0;
        }
        .column--product{
            .clearfix();
            width: 100%;
        }
        .column--total-price,
        .column--quantity{
            width: 30%;
            margin-left: 70%;
        }
    }

    .footer-minimal,
    .footer-main{
        .footer--service-menu,
        .footer--copyright,
        .footer--logo{
            display: none;
        }
        .vat-info--text{
            .unitize(font-size, 9);
        }
        a{
            color: @text-color
        }
    }
}
