// footer.less
// =============================================================================

// Defines the styles for the storefront footer and its components.
// Contains the footer columns, the navigation elements and the vat notice/logo at the bottom of the page.
// It contains the viewport specific styles inside media queries.
// The footer element sizes are defined with the unitize mixin.

// @package     Grace & Holmes
// @since       1.0



.footer--partner{
    display: none;
}





// Main Footer
// -----------------------------------------------------------------------------

.footer-main{
    
    // Footer columns
    // ---------------------------------------------------------------------
    
    .footer--column{
        .unitize-padding(0, 10);

        //border-top: 1px solid @border-color;
        &.is--last{
            //border-bottom: 1px solid @border-color;
        }
    }
    
    .column--headline{
        .unitize-padding(8, 0);
        margin: 0;
        
        text-transform: uppercase;
        font-weight: @font-weight--bold;
        cursor: pointer;
        
        .unitize(font-size, 16);
        .unitize(line-height, 26);
        
        .user-select(none);
        
        color: 
            @brand-secondary-dark;

        &::after{
            float: right;
            content: '\e68f';
            
            .unitize(4, margin-top);
            .unitize(18, font-size);
            
            font-family: 'shopware';
            font-weight: @font-weight--semibold;
            
            color: inherit;
        }
        &.is--active::after{
            content: '\e68e';
        }
    }
    
    .column--content{
        display: none;
        
        &.is--active{
            display: block;
        }
    }
    
    .footer--phone-link{
        .unitize(font-size, 19);
        font-weight: @font-weight--semibold;
        
        color: 
            @brand-secondary-dark;
    }
    
    
    
    // Footer navigation list
    // ---------------------------------------------------------------------
    
    .navigation--list{
        .unitize-padding(0, 0, 16, 0);

        .is--level1{
            .unitize(padding-bottom, 10);

            .navigation--entry{
                .unitize(margin-left, 10);
            }
        }
    }
    .navigation--link{
        .unitize-padding(10, 0, 10, 0, 16);
        display: block;
        color: inherit;

        &:hover{
            text-decoration: underline;
        }
    }


.footer--top .container .column--desc {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
	font-size: 14px;
	}

    
    
    // Newsletter form
    // ---------------------------------------------------------------------
    
    @zindex-footer-newsletter-field-focus:      1;
    
    .newsletter--form{
        .clearfix();
        .unitize-padding(0, 0, 16, 0, 16);
    }
    .newsletter--field{
        float: left;
        width: 87.5%;
        position: relative;
        
        
        border: 1px solid @brand-secondary-dark !important;
        background-color:
            #fff;
        
        &:focus{
            z-index: @zindex-footer-newsletter-field-focus;
        }
    }
    .newsletter--button{
        float: left;
        width: 12.5%;
        .unitize-padding(4, 5, 4, 5, 16);
        border: none;
        
        .unitize(-1, 16, margin-left);
        position: relative;
        
        .box-shadow(0 0 0 transparent);
        
        text-align: center;
        
        color: #fff;
        background: none;
        background-color:
            @brand-secondary-dark;

        .icon--mail{
            vertical-align: middle;
            .unitize(margin-right, 0);
            
            .unitize(font-size, 14);
        }
        .button--text{
            display: none 
        }
    }
    
}


// Footer types
// -----------------------------------------------------------------------------

.footer--top,.footer--social-networks,.footer--bottom{
    display: block;
    width: 100%;
    
    .unitize(margin-bottom, 4);
}
.footer--top,.footer--social-networks{
    .container{
        color: inherit;
        background-color:
            inherit;
    }
    a{
        color: inherit;
    }
}

// Top Footer
// -------------------------------------------------------------------------

.footer--top{
    
    color: @white;
    background-color:
        @brand-primary;
}

// Social Networks Footer
// -------------------------------------------------------------------------

.footer--social-networks{
    .unitize-height(88);
    .unitize(padding-top, 22);
    
    color: @brand-primary;
    background-color:
        @brand-secondary-dark;
}
.social-networks--list{
    list-style: none;
    
    font-size:  0;
    text-align: center;
    
    li{
        display: inline-block;
    }
    li + li{
        .unitize(margin-left, 4);
    }
    li a{
        display: block; 
        .unitize-width(44); .unitize-height(44);
        
        .border-radius(3px);
        
        background-image:       url('../../img/socials/sprite.png');
        background-size:        600% 200%;
    }
    a span{
        display: none;
    }
}
.social-networks--facebook a{
    background-position: 0 0;
    &:hover{
        background-position: 0 -100%;
    }
}
.social-networks--googleplus a{
    background-position: -100% 0;
    &:hover{
        background-position: -100% -100%;
    }
}
.social-networks--instagram a{
    background-position: -200% 0;
    &:hover{
        background-position: -200% -100%;
    }
}
.social-networks--pinterest a{
    background-position: -300% 0;
    &:hover{
        background-position: -300% -100%;
    }
}
.social-networks--twitter a{
    background-position: -400% 0;
    &:hover{
        background-position: -400% -100%;
    }
}
.social-networks--youtube a{
    background-position: -500% 0;
    &:hover{
        background-position: -500% -100%;
    }
}

// Bottom Footer
// -------------------------------------------------------------------------

.footer--bottom{
    .unitize-padding(12, 6, 12, 6);
    
    .container{
        position: relative;
    }
    
    text-align: center;
    
    color: 
        @text-color;
    background:
        none transparent;
}

.footer--vat-info{
    .vat-info--text{
        .unitize(font-size, 12);
        margin: 0;
        text-align: center;
    }
}



// Minimal Footer
// -----------------------------------------------------------------------------

.footer-minimal{
    .unitize-padding(40, 10, 20, 10);
    
    .unitize(font-size, 13);
    text-align: center;

    background:
        @brand-primary;
    
    .footer--service-menu .service--list{
        list-style-type: none;
        
        padding: 0;
        margin: 0;

        .service--link{
            display: inline-block;
            .unitize-padding(8, 2);
        }

        .service--entry{
            display: inline-block;

            &:after{
                content: '';
                display: inline-block;
                
                .unitize-width(1, 16); .unitize-height(10, 16);
                border-left: 1px solid darken(@brand-secondary-dark, 10%);
                
                .unitize-margin(0, 5);
            }

            &:last-child:after{
                display: none;
            }
        }
    }

    .footer--vat-info{
        .unitize-margin(15, 0, 10, 0);

        .vat-info--text{
            .unitize(line-height, 18);
            margin: 0;
        }
    }
}



// Tablet Viewport Width
// ==============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .footer-main{

        .column--headline{
            padding: 0;
            .unitize-margin(28, 0, 10, 0, 16);
            
            cursor: text;

            &::after{display: none;}
        }

        .footer--column{
            width: 25%;
            .unitize-padding(0, 10, 0, 0, 16);
            border: 0 none;

            &.is--last{
                padding-right: 0;
                border-bottom: 0 none;
            }
        }

        .footer--columns{
            .unitize-padding(0, 30);
        }

        .column--content{display: block;}

        .navigation--list{
            // Don't display sub Navigation links on tablet/desktop
            .is--level1{display: none;}
        }
        .navigation--entry{
            padding: 0;
        }
        .navigation--link{
            padding: 0;
            line-height: 1.7;
        }

        .newsletter--field{width: 80%;}

        .newsletter--button{
            width: 20%;

            .icon--mail{
                .unitize(font-size, 16);
            }
        }
    }
    
    
    // Footer bottom
    // ---------------------------------------------------------------------
    
    .footer--vat-info{
        .vat-info--text{
            .unitize(line-height, 64);
        }
    }

    .footer--partner{
        display: inline-block;
        
        position: absolute;
        top: 0; left: 0;
        
        text-align: right;
        
        .footer--partner-list{
            list-style: none;
            padding: 0;

            li{
                display: inline-block;
                a{
                    display: block;
                    width: 100px; height: 70px;
                    
                    background-size: 100% auto;
                    background-size: contain;
                    
                    background-position: center center;
                    background-repeat: no-repeat;
                    
                    &.fhs{
                        background-image:   url('../../img/partner/fhs.jpg');
                    }
                    &.houz{
                        background-image:   url('../../img/partner/houze_badge.png')
                    }
                    &.young-guns{
                        background-image:   url('../../img/partner/youngguns.jpg');
                    }
                    &.sos-partner{
                        background-image:   url('../../img/partner/sos_button.jpg');
                    }
                    
                }
            }
        }
    }
    
    
}

// Desktop Viewport Width
// ==============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .footer-main{
        .footer--columns{
            .unitize-padding(0, 0, 20, 0, 16);
        }

        .footer--bottom{
            .unitize(font-size, 15);
        }
    }

    .footer-minimal{
        padding-top: 0;
    }
}