// forms.less
// =============================================================================

// Defines the general form element styles.
// It contains the components as: 'capacha', 'description', 'required information' etc.

// @package     Grace & Holmes
// @since       1.0



.forms--content{
    width: 100%;

    .forms--headline{
        .unitize(margin-bottom, 20);

        .forms--title{
            .unitize(margin-top, 0);
        }

        .forms--text{
            p{.unitize(margin-bottom, 12);}
        }
    }

    .alert{
        .unitize-margin(30, 0, 0, 0);
    }
    
    .forms--field{
        width: 100%;
        .unitize(margin-bottom, 5);
    }
    input{
        width: 100%;
        .unitize(margin-bottom, 10);
    }
    textarea{
        width: 100%;
        .unitize(margin-bottom, 10);
    }
    .field--select{
        .unitize(margin-bottom, 10);
    }
    .btn{
        float: right;
    }
    .buttons{
        .clearfix();
    }
    .strasse{
        float: left;
        width: 80%;
        
        margin-right: 2%;
    }
    .nr{
        float: left;
        width: 18%;
    }
    .plz{
        float: left;
        width: 28%;
        
        margin-right: 2%;
    }
    .ort{
        .clearfix();
        float: left;
        
        width: 70%;
    }

    .forms--required{
        .unitize(margin-bottom, 10);
        
        .unitize(font-size, 12);
    }

    .forms--description{
        clear: both;
        .unitize-margin(-8, 0, 10, 0, 16);
    }
    .forms--captcha{
        .captcha--placeholder{
            .unitize(margin-bottom, 8);
        }
        strong.captcha--notice{
            display: block;
            .unitize(margin-bottom, 8);
        }
    }
    .forms--checkbox{
        label{
            position: relative;
            .unitize(-2, 16, top);
        }
        input[type="checkbox"]{
            width: auto;
        }
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    .forms--content{
        .unitize(margin-top, 45);

        input{
            .unitize(margin-bottom, 15);
        }

        textarea{
            .unitize(margin-bottom, 15);
        }

        .forms--captcha{
            .captcha--placeholder{
                .unitize(margin-bottom, 16);
            }
            strong.captcha--notice{
                .unitize(margin-bottom, 16);
            }
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){

    .forms--content{
        .unitize(margin-top, 45);

        .alert{
            .unitize-margin(0, 0, 0, 0, 16);
        }
    }
}