// global.less
// =============================================================================

// Defines the global styles of Shopware.
// It contains the global modifier classes that help working with the Shopware elements and the typographic styles.

// @package     Grace & Holmes
// @since       1.0



// Box Sizing
// -----------------------------------------------------------------------------

*{
    .box-sizing(border-box);
}



// HTML & Body
// -----------------------------------------------------------------------------

@font-stack--base:       "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@font-size--base:        14;
@font-weight--base:      @font-weight--normal;

@body--bg:                  @white;
@body--color:               @text-color;

body{
    font-family: @font-stack--base;
    .unitize(@font-size--base, 16, font-size);
    font-weight: @font-weight--base;
    
    text-rendering:
        optimizeLegibility;
    -webkit-font-smoothing: 
        antialiased;
    
    color: @body--color;
    background: 
        @body--bg;
}

// Fix the body for off-canvas handling

html{
    html,body{
        width: 100%; height: 100%;
        position: relative;
    }
    body{   
        overflow-x: hidden;
        overflow-y: scroll;
    }
    //&.no--scroll{
    //    overflow: hidden;
    //}
}



// Placeholder
// -----------------------------------------------------------------------------

@input--placeholder--color:  #777;

::-moz-placeholder{
    color: @input--placeholder--color;
}
::-webkit-input-placeholder{
    color: @input--placeholder--color;
}
:-ms-input-placeholder{
    color: @input--placeholder--color;
}



// Links
// -----------------------------------------------------------------------------

@link--color:               @brand-primary;
@link--hover-color:         @brand-primary;

a{
    text-decoration: none;
    color: 
        @link--color;
}



// Images
// -----------------------------------------------------------------------------

img{
    display: block;
    
    max-width: 100%; max-height: 100%;
    height: auto;
    
    a &{
        outline: 0 !important;
    }
}



// Lists
// -----------------------------------------------------------------------------

ul{
    margin: 0;
    padding: 0;
}



// Headlines
// -----------------------------------------------------------------------------

@font-stack--headline:   @font-stack--base;
@font-weight--headline:  @font-weight--semibold;

@font-size--h1:          26;
@font-size--h2:          21;
@font-size--h3:          18;
@font-size--h4:          16;
@font-size--h5:          14;
@font-size--h6:          12;

@headline--color:           @text-color;

h1, h2, h3, h4, h5, h6{
    .unitize-margin(28, 0, 10, 0);
    
    font-family: @font-stack--headline;
    font-weight: @font-weight--headline;
    
    .unitize(line-height, 26);
    
    color: 
        @headline--color;
}
h1{
    .unitize-margin(34, 0, 20, 0);
    
    .unitize(@font-size--h1, 16, font-size);
    .unitize(line-height, 28);
}
h2{
    .unitize(@font-size--h2, 16, font-size);
}
h3{
    .unitize(@font-size--h3, 16, font-size);
}
h4{
    .unitize(@font-size--h4, 16, font-size);
}
h5{
    .unitize(@font-size--h5, 16, font-size);
}
h6{
    .unitize(@font-size--h6, 16, font-size);
}



// Paragraph
// -----------------------------------------------------------------------------

p{
    .unitize-margin(0, 0, 20, 0);
    
    .unitize(@font-size--base, 16, font-size);
    .unitize(line-height, 24);
}



// Blockquote
// -----------------------------------------------------------------------------

@blockquote--bg:          gray;

blockquote{
    .unitize-padding(10, 10);
    margin: 0;
    
    text-align: left;
    
    background: 
        @blockquote--bg;
}



// Page Wrap
// -----------------------------------------------------------------------------
.page-wrap{
    min-width: @min-width;
}



// Content
// -----------------------------------------------------------------------------
.content-main,
.content-main--inner,
.content--wrapper{
    .clearfix();
}
.content-main--inner{
    .unitize-padding(0,0);
}
.content{
    float: left;
    width: 100%;
}

// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    .content-main{
        .unitize(min-height, 750);
    }
    .content-main--inner{
        width: 100%;
    }
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    .content-main{
        .unitize(min-height, 700);
        .unitize(margin-bottom, 45);
    }
}



// Ajax Loader
// -----------------------------------------------------------------------------
.ajax-loader{
    display: none 
}



// Product Rating
// -----------------------------------------------------------------------------

@rating-star--color:            @brand-primary;
@rating-star--empty-color:      @brand-secondary-dark;

.product--rating{
    i[class^=icon]{
        color: @rating-star--color;
    }
    i.icon--star-empty{
        color: @rating-star--empty-color;
    }
}



// Global modifier classes
// -----------------------------------------------------------------------------

// Add a is-- class to an element to easily change the properties.

// .is--block           - sets element to display: block
// .is--inline          - sets element to display: inline
// .is--inline-block    - sets element to display: inline-block

.is--block          {display: block !important;}
.is--inline         {display: inline !important;}
.is--inline-block   {display: inline-block !important;}

// .is--hidden          - sets element to display: none
// .is--invisible       - sets element to  visibility: none

.is--hidden         {display: none !important;}
.is--invisible      {visibility: hidden !important;}

// .is--align-left      - sets element to text-align: left;
// .is--align-right     - sets element to text-align: right
// .is--align-center    - sets element to text-align: center

.is--align-left     {text-align: left !important;}
.is--align-right    {text-align: right !important;}
.is--align-center   {text-align: center !important;}

// .is--underline       - sets element to text-decoration: underline
// .is--line-through    - sets element to text-decoration: line-through

.is--underline      {text-decoration: underline !important;}
.is--line-through   {text-decoration: line-through !important;}

// .is--uppercase       - sets element to text-transform: uppercase

.is--uppercase      {text-transform: uppercase !important;}

// .is--strong          - sets element to font-weight: 600
// .is--bold            - sets element to font-weight: bold

.is--strong         {font-weight: 600 !important;}
.is--bold           {font-weight: bold !important;}

// .is--italic          - sets element to font-style: italic

.is--italic         {font-style: italic;}

// .is--nowrap          - sets element to white-space: nowrap

.is--nowrap         {white-space: nowrap !important;}

// .is--dark            - changes color to @text-color-dark
// .is--light           - changes color to darken(@gray-dark, 20%)
// .is--soft            - changes color to @gray-dark

.is--dark           {color: @text-color-dark !important;}
.is--light          {color: darken(@gray-dark, 20%) !important;}
.is--soft           {color: @gray-dark !important;}

// .is--fluid           - sets element to width: 100%

.is--fluid          {width: 100% !important;}

// .left                - sets element to float: left
// .right               - sets element to float: right
.left               {float: left;}
.right              {float: right;}