// header.less
// =============================================================================

// Defines the styles of the Shopware storeview header and its components.
// It contains the viewport specific styles inside media queries.
// The header sizes are defined by the unitize mixin.
// More precise designations are commented inside the document.

// @package     Grace & Holmes
// @since       1.0



// Basic Header
// -----------------------------------------------------------------------------

@header-main--color:        @text-color;
@header-main--bg:           @white;
@header-main--border-color: @brand-secondary-dark;

.header-main{
    .unitize-padding(48,0,0,0);
    .unitize-margin(0,0,48,0);
    
    color:
        @header-main--color;
    background: 
        @header-main--bg;
    
    .container.header--navigation{
        max-width: 100%;
    }
    
    // Tob Bar
    // ---------------------------------------------------------------------

    @top-bar--z-index:          2010;
    
    @top-bar--color:            @text-color;
    @top-bar--bg:               @white;
    
    .top-bar{
        width: 100%;
        
        position: fixed;
        top: 0; left: 0;
        z-index: @top-bar--z-index;
        
        .unitize-padding(6,6,6,6);
        
        color:
            @top-bar--color;
        background:
            @top-bar--bg;
    }
    .top-bar--navigation{
        display: none;
    }
    .top-bar--search{
        width: 100%;
        position: relative;
        
        .btn{
            display: none !important;
        }
    }

    // Logo
    // ---------------------------------------------------------------------

    @logo-main--bg-color:       @brand-secondary-dark;
    
    .logo-main{
        width: 100%;
        .unitize-height(80, 16);
        .unitize-padding(10, 10);
        
        overflow: hidden;
        
        background-color:
            @logo-main--bg-color;
    }
    .logo--shop,.logo--link{
        display: block;
        width: 100%; height: 100%;
        
        text-align: center; 
        vertical-align: middle;
        
        position: relative;
        
        img{
            display: inline-block;
            width: auto; max-width: 100%;
            height: auto; max-height: 100%;
            
            margin: auto;
            position: absolute;
            top: 0; bottom: 0; 
            left: 0; right: 0;
        }
    }
    .logo--link{
        font-size: 0px;
    }
    .logo--supportinfo{
        display: none;
    }
    
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .header-main{
        .unitize-padding(64,0,0,0);
        .unitize-margin(0,0,64,0);
        
        border-bottom: 0 none;
        
        
        // Container
        // ---------------------------------------------------------------------

        .container{
            .clearfix();
        }
        
        
        
        // Top Bar Navigation
        // ---------------------------------------------------------------------
        
        @top-bar--navigation--entry--color:         @text-color; 
        @top-bar--navigation--entry--hover-color:   @brand-primary;

        @service-list--z-index: 3500;
        
        @service--list--border-color:   @brand-primary;
        @service--list--bg-color:       @white;

        @service--link--color:          @top-bar--navigation--entry--color;
        @service--link--hover-color:    @top-bar--navigation--entry--hover-color;    
        
        .top-bar{
            .unitize-padding(12,6,12,6);
        }
        .top-bar--navigation{
            float: left;

            display: block;
            width: auto;

            .navigation--entry{
                float: left;
                display: block;

                .unitize(line-height, 25);

                li{
                    line-height: normal;
                }
            }
            .navigation--entry,
            .navigation--link{
                cursor: pointer;

                color: 
                    @top-bar--navigation--entry--color;

                &:hover{
                    color: 
                        @top-bar--navigation--entry--hover-color;
                }
            }

            .field--select,
            .navigation--entry,
            .js--fancy-select,
            .js--fancy-select-text,
            .js--fancy-select-trigger{
                .unitize-height(25, 16);
            }
            .field--select{
                padding: 0; margin: 0;
                position: relative;
            }
            .js--fancy-select{
                width: auto;
                
                border: 0 none;
                .reset-border-radius();

                background: 
                    none;
                
                select{border: 0 none;}
            }
            .js--fancy-select-text{
                .unitize-padding(0, 32, 0, 0);
                border: 0 none;
                
                .unitize(line-height, 25);
            }
            .js--fancy-select-trigger{
                .unitize-width(32); .unitize-height(40);
                border: 0 none;
                
                .unitize(line-height, 40);
            }
            
            // Top Bar Language
            // ---------------------------------------------------------
            
            .top-bar--language{
                .js--fancy-select-text{
                    .unitize-width(32, 16);

                    text-indent: -9999px;
                    text-align: left;

                    white-space: nowrap;
                    overflow: hidden;
                }
                .language--flag{
                    &:hover ~ .js--fancy-select{
                        
                    }
                }
            }

            // Service list
            // ---------------------------------------------------------
            
            .entry--service{
                .unitize-height(40);
                .unitize-padding(8, 14);

                border: 1px solid transparent;

                .unitize(line-height, 22);

                position: relative;

                &:after,
                &::after{
                    .unitize(-3, 16, top);
                    .unitize(margin-left, 5);
                    content: "\e612";
                    font-family: 'shopware';
                    font-size: 5px;
                    position: relative;
                }

                &:hover,&.js--is--dropdown-active{
                    border-color:
                        transparent;
                    color: 
                        @brand-primary;
                }
            }
            .service--list{
                display: none;
                .unitize-min-width(200);
                .unitize-padding(5, 0);
                border: 1px solid @service--list--border-color;

                position: absolute;
                .unitize(top, 42); .unitize(left, -1, 16);
                z-index: @service-list--z-index;

                text-align: left;
                list-style: none;

                &::after{
                    content: '';
                    display: block;
                    .unitize-width(8); .unitize-height(8);

                    border-color: @service--list--border-color;
                    border-width: 0 0 1px 1px;
                    border-style: solid;

                    position: absolute;
                    .unitize(-5, 16, top); .unitize(left, 16);

                    .rotate(135deg);
                }
                &,&::after{
                    background-color: 
                        @service--list--bg-color;
                }

                .service--link{
                    display: block;
                    .unitize-padding(5, 10);

                    color: 
                        @service--link--color; 
                }
                .service--link:hover{
                    color: 
                        @service--link--hover-color; 
                }
            }
            .js--is--dropdown-active .service--list{
                display: block;
            }
        }
        .top-bar--search{
            float: right;
            display: inline-block;
            width: 450px;
        }

        
        
        // Logo
        // ---------------------------------------------------------------------
        
        .logo-main{
            .unitize-height(120, 16);
        }
    }
}

// Tablet Viewport Landscape Width
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    .header-main{
        .logo-main{
            .unitize-height(160, 16);
        }
    }
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .header-main .top-bar--navigation{
        .service--list{
            right:  0;
        }
    }
}



// Small Checkout & Registration Header
// -----------------------------------------------------------------------------

.is--ctl-checkout.is--minimal-header,
.is--ctl-register.is--minimal-header,
.is--ctl-register.is--minimal-header.is--target-checkout{

    // Header Support Info
    .header-main{
        border-bottom: 1px solid @header-main--border-color;
        
        .logo--supportinfo{
            display: none;
        }

        .btn--back-top-shop{
            float: right;
            width: 40%;
            overflow: hidden;
            
            .unitize(margin-top, 10);
            
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    
    .navigation-main--wrapper.is--fixed{
        top: 0 !important;
    }
}

// Phone Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    
    .is--ctl-checkout.is--minimal-header,
    .is--ctl-register.is--minimal-header,
    .is--ctl-register.is--minimal-header.is--target-checkout{
        .header-main{
            
            .btn--back-top-shop{
                width: auto;
            }
        }
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .is--ctl-checkout.is--minimal-header,
    .is--ctl-register.is--minimal-header,
    .is--ctl-register.is--minimal-header.is--target-checkout{
        .header-main{
            
        }
    }
}
@media screen and (min-width: @tablet-landscape--viewport-width){
    
    .is--ctl-checkout.is--minimal-header,
    .is--ctl-register.is--minimal-header,
    .is--ctl-register.is--minimal-header.is--target-checkout{

        .header-main{

            .btn--back-top-shop{
                display: inline-block;
                float: right;
            }
        }
    }
}
@media screen and (min-width: @desktop--viewport-width){

    .is--ctl-checkout.is--minimal-header,
    .is--ctl-register.is--minimal-header,
    .is--ctl-register.is--minimal-header.is--target-checkout{

        .header-main{

            .btn--back-top-shop{
                display: inline-block;
                float: right;
            }
        }
    }
}



// Default Ajax Search Form
// -----------------------------------------------------------------------------

@main-search--form--z-index: 3000;

@main-search--field--border-radius: 0px;
@main-search--field--border-color:  @border-color;
@main-search--field--bg:            @white;

@main-search--button--z-index: 2;
@main-search--button--color:    @text-color;
@main-search--button--bg-color: transparent;

.main-search--form{
    width: 100%;
    
    position: relative;
    z-index: @main-search--form--z-index;

    .main-search--field{
        .box-sizing(border-box);
        width: 100%; .unitize-height(40, 16);
        .unitize-padding(8, 38, 8, 8);
        
        border: 1px solid @main-search--field--border-color;
        .border-radius(@main-search--field--border-radius);
        
        position: relative;
        vertical-align: middle;
        
        background: 
            @main-search--field--bg;
    }
    .main-search--button{
        .unitize-padding(0, 10);
        
        border: 0 none;
        outline: none;
        
        position: absolute;
        .unitize(top, 0); .unitize(bottom, 0);
        .unitize(right, 0);
        
        z-index: @main-search--button--z-index;
        
        .appearance(none);
        
        .unitize(font-size, 16);
        line-height: 1;
        
        color: 
            @main-search--button--color;
        background-color: 
            @main-search--button--bg-color;
    }
    .main-search--text{
        display: none
    }
}
// Creating the arrow on active search field
.has--csstransforms .entry--search .entry--trigger{
    &.is--active::after{
        content: '';
        display: block;
        
        .unitize-width(15, 16); .unitize-height(15, 16);
        .unitize(margin-top, 8);
        .unitize(margin-left, 1);
        
        .rotate(-45deg);
        
        background-color: 
            red;
    }
}

// Form Ajax Loader
// -----------------------------------------------------------------------------

@form--ajax--loader--border-color:  @brand-primary;

.form--ajax-loader{
    display: none;
}
.has--cssanimations{
    .form--ajax-loader{
        position: absolute;
        .unitize(top, 10); .unitize(right, 46);

        &::before{
            content: "";
            display: block;
        
            .unitize-width(16); .unitize-height(16);
            
            border: 2px solid transparent;
            border-top: 2px solid @form--ajax--loader--border-color;
            .border-radius(100%);
            
            .animation(keyframe--spin 1s linear infinite);
        }
    }
}
.has--no-cssanimations .form--ajax-loader{
    .unitize-width(16); .unitize-height(16);
    
    position: absolute;
    .unitize(top, 24); .unitize(right, 55);
    
    background-image: 
        url('../../img/icons/loading-indicator.gif');
}



// Main search results
// -----------------------------------------------------------------------------

@main-search--results--z-index: 3500;

.main-search--results{
    .clearfix();
    
    display: none;
    width: 100%;
    
    position: absolute;
    .unitize(top, 37); left: 0;
    
    z-index: @main-search--results--z-index;
    
    text-align: left;
}

@main-search--results--lists--border-color:     @brand-primary;
@main-search--results--lists--bg:               @white;

@main-search--results--lists--seperator-color:  @gray;

.results--list{
    .unitize-padding(10, 10);
    
    border: 1px solid @main-search--results--lists--border-color;
    border-top: none;
    
    .border-radius-multi(0, 0, @main-search--field--border-radius, @main-search--field--border-radius);
    
    -ms-touch-action: manipulation;
    
    background: 
        @main-search--results--lists--bg;

    &::after{
        content: '';
        
        display: none;
        .unitize-width(12); .unitize-height(12);
        border: 1px solid @main-search--results--lists--seperator-color;
        border-top: 0 none; border-right: 0 none;
        
        .rotate(135deg);
        
        position: absolute;
        .unitize(-6, 16, top); left: 48%;
        
        background: #fff;
    }

    .list--entry,
    .entry--all-results{
        display: block;
    }

    .entry--all-results.is--active{
        font-weight: 600;

        .entry--all-results-number{
            font-weight: 600;
        }
    }

    .list--entry{
        .unitize(line-height, 30);
        border-bottom: 1px solid @main-search--results--lists--seperator-color;

        &:last-child{border: 0 none;}
    }

    .entry--no-results{
        width: 100%;
        text-align: center;
        list-style: none;
        font-weight: normal;
    }

    .is--active,
    .list--entry:hover{
        color: @link--color;

        .entry--name,
        .entry--price{
            color: @link--color;
        }
    }

    .search-result--link{
        .clearfix();
        display: block;
        .unitize-padding(6, 0);
    }

    .entry--name,
    .entry--price,
    .entry--all-results-link,
    .entry--all-results-number{
        display: block;
        .unitize-height(30, 16);
        .unitize(line-height, 30);
    }

    .entry--media{
        width: 10%; min-width: 10%;
        .unitize-height(30, 16);
        
        position: relative;
        
        text-align: center;

        .media--image{
            display: inline-block;
            
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            right: 0; left: 0;
        }
    }
    .entry--name{
        width: 60%;
        .unitize(padding-left, 10);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        color: 
            @text-color;
    }

    .entry--price,
    .entry--all-results-number{
        width: 30%;
        
        text-align: right;
        white-space: nowrap;
        
        color: 
            @text-color;
    }
    
    .entry--all-results{
        .unitize-padding(6, 5);
        font-weight: @font-weight--normal;
    }
    .entry--all-results-link{
        width: 70%;
        padding: 0;

        .icon--arrow-right{
            .unitize-margin(0, 8, 0, 0);
            
            position: relative;
            .unitize(-1, 16, top);
        }
    }
    .entry--all-results-number{
        font-weight: @font-weight--normal;
        
        color: 
            @link--color
    }
}

// Phone Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    .main-search--results{
        .clearfix();
        .unitize-width(300);
        
        left: auto;
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    .main-search--results{
        .clearfix();
        .unitize-width(450);
    }
}