/* 
 * listing.less
 * =============================================================================
 * Contains the styles of the product listing and its components.
 * The styling defines the listing components such as the product filter element.
 * It contains the viewport specific styles inside media queries.
 * 
 * @package     Grace & Holmes
 * @since       1.0
 */

@hero-unit--bg:             @brand-primary;

@hero--headline--color:     @brand-secondary-dark;
@hero--text--color:         @white;

/* Listing Content
 * -------------------------------------------------------------------------- */
.listing--content{
    .unitize-margin(20, 0);
    
    &:empty{
        display: none !important;
        .unitize-margin(0, 0);
    }
    
    .product--box{
        .box--content{
            .unitize-padding(10, 10);
        }
        
        .product--rating-container:empty,
        .price--unit:empty{
            display: none;
        }
    }
}
@media screen and (min-width: @tablet--viewport-width){
    .listing--content{
    	.clearfix();
        .unitize-margin(30, 0);
    }
}
@media screen and (min-width: @desktop--viewport-width){
    .listing--content{
        //.unitize(padding-top, 45);
        .unitize-margin(0, 0);
    }
}

/* Banner Container
 * -------------------------------------------------------------------------- */
.banner--container{
    .unitize-margin(0, 0, 20, 0);
    
    &:empty{
        display: none !important;
        .unitize-margin(0, 0, 0, 0);
    }
}

/* Category Teaser
 * -------------------------------------------------------------------------- */
.category--teaser{
    .unitize(min-width, 280);
    .unitize-padding(20, 20);
    
    overflow: hidden;
    position: relative;
    
    background:
        @hero-unit--bg;
    
    .hero--text,.hero--headline{
        text-align: center;
    }
    .hero--headline{
        .unitize-margin(0,0,20,0);
        
        .unitize(@font-size--h1, 18, font-size);
        font-weight: bold;
        text-transform: uppercase;
        
        color:
            @hero--headline--color;
    }
    .hero--text{
        .unitize-margin(0,0,0,0);
        
        &,a{
            color:
                @hero--text--color;
        }
    }
    .hero--image-wrapper,
    .hero--image{
        display: none;
    }

    .offcanvas--content{
        .unitize(padding, 20);

        .content--title{
            .unitize(font-size, 18);
            .unitize-margin(10, 0, 15, 0);
            font-weight: bold;
            color: @text-color-dark;
        }
    }
}
@media screen and (min-width: @tablet--viewport-width){
    .category--teaser{
        .hero--headline,.hero--text{
            width: 50%;
            
            text-align: left;
        }
        .hero--headline{
            .unitize-padding(40, 40, 0, 40);
        }
        .hero--text{
            .unitize-padding(20, 40, 40, 40);
        }
        
        .hero--image-wrapper,
        .hero--image{
            display: block;
        }
        .hero--image-wrapper{
            width: 50%; height: 100%;
            .unitize-padding(20, 20);
            
            position: absolute;
            top: 0; right: 0;
        }
        .hero--image{
            width: 100%; height: 100%;
            
            background-size:        cover;
            background-position:    50% 50%;
        }
    }
}
@media screen and (min-width: @tablet-landscape--viewport-width){
    .category--teaser{
        .hero--headline,.hero--text{
            width: 40%;
        }
        .hero--image-wrapper{
            width: 60%;
        }
    }
}

/* Vendor Information
 * -------------------------------------------------------------------------- */
.vendor--info{
    .clearfix();
    .unitize-margin(0, 0, 0, 0);

    .vendor--image-wrapper{
        .unitize-max-width(200); .unitize-height(70);
        .unitize-margin(0, 0, 10, 0);
        margin-left: auto; margin-right: auto;
    }
    .vendor--image{
        margin: 0 auto;
    }
    .vendor--text{
        .unitize-margin(0, 0, 20, 0);
    }
}
@media screen and (min-width: @tablet--viewport-width){
    .vendor--info{
        .vendor--image-wrapper{
            .unitize-margin(0, 20, 20, 0);
            float: left;

            & + .vendor--text{
                .unitize-margin(0, 0, 0, 250);
            }

            .vendor--image{
                margin: 0;
            }
        }
    }
}

/* Listing Actions
 * -------------------------------------------------------------------------- */
.listing--actions{
    .clearfix();
    .tap-highlight-color();
}
@media screen and (min-width: @tablet--viewport-width){
    .listing--actions{
        //.unitize(padding-top, 10);
        .unitize-margin(0, 0, 20, 0);
        //border: 1px solid @border-color;
        //.border-radius();
        //background: darken(@gray-light, 1%);

        .listing--paging{
            display: block;
            .unitize-padding(10, 10);
            //border-top: 1px solid @border-color;
        }
    }
}

/* Listing Action Filter
 * -------------------------------------------------------------------------- */
/*
.action--filter-btn{
    .unitize(margin-bottom, 10);

    .filter--trigger{
        .unitize-height(34);
        .unitize-padding(4, 4, 4, 10);
        .unitize(24, 16, line-height);
        display: block;
        position: relative;
        overflow: hidden;

		.icon--filter{
			.unitize(margin-right, 8);
		}

        .action--collapse-icon{
            .unitize-padding(0, 10);
            .unitize(line-height, 24);
            .primary-gradient();
            .border-radius();
            display: inline-block;
            color: #fff;
            float: right;
        }
    }
}
.action--filter-options{
    .filter--container{
        .unitize-padding(0, 10);
    }

    .filter--close-btn{
        .unitize-padding(12, 10);
        .secondary-gradient();
        display: block;
        color: #fff;
        font-weight: bold;

        &:hover{
            color: #fff;
        }

        .icon--arrow-right{
            .unitize-margin(3, 0, 0, 0);
            float: right;
        }
    }

    .filter--btn-apply{
        clear: both;
    }

    .filter--list{
        list-style: none;
    }

    .filter--entry{
        .unitize-padding(10, 20);
        .unitize(font-size, 16);
        display: block;
        border-bottom: 1px solid @border-color;

        &:last-child{
            border: 0 none;
        }
    }

    .filter--link{
        color: @text-color;

        &:hover{
            color: @brand-primary;
        }
    }
}
@media screen and (min-width: @tablet--viewport-width){
    .action--filter-btn{
        .unitize-width(190);
        .unitize-margin(0, 20, 10, 10);
        float: left;

        .filter--trigger{
            .action--collapse-icon{
                display: none;
            }

            &:before,
            &:after{
                .transition(margin-top .4s cubic-bezier(.02, .01, .47, 1));
                .unitize-width(16);
                .unitize-height(16);
                .unitize(right, 10);
                .unitize(margin-top, -8);
                .unitize(font-size, 6);
                .unitize(line-height, 16);
                font-family: "shopware";
                content: "\e612";
                position: absolute;
                text-align: center;
                background: none;
                color: inherit;
                top: 50%;
            }

            &:after{
                .unitize(margin-top, -48);
                content: "\e610";
            }

            &.is--active{
                .is--primary();

                &:before{
                    .unitize(margin-top, 40);
                }

                &:after{
                    .unitize(margin-top, -8);
                }
            }
        }
    }

    .action--filter-options{
        width: auto;
        height: auto;
        padding: 0;
        overflow: visible;
        position: relative;
        background: #fff;
        border: 0 none;
        clear: both;

        &.is--collapsed,
        &.is--active-filter{
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: @border-color;
        }

        &.is--active-filter{
            .filter--active-container{
                display: block;
            }
        }

        #filter,
        .filter--active-container{
            display: none;
        }

        .filter--close-btn{
            display: none;
        }

        .filter--container{
            .clearfix();
            margin-left: -2%;
            padding-left: 3%;
        }

        .filter--group{
            .unitize-height(38);
            width: 31%;
            margin: 0 2% 2% 0;
            position: relative;
            float: left;
        }

        .filter--header{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: @zindex-listing-filter-header;

            &.is--active{
                z-index: @zindex-listing-filter-header-active;
            }
        }

        .filter--content{
            .unitize(top, 38);
            width: 100%;
            position: absolute;
            left: 0;
        }

        #filter{
            .clearfix();
            .unitize(padding-bottom, 10);
        }
    }
}
@media screen and (min-width: @desktop--viewport-width){
    .action--filter-btn{
        width: 20%;
        margin-right: 2%;

        .filter--trigger{
            .unitize(font-size, 14);

            .action--collapse-icon{
                .unitize(-8, 16, margin-top);
            }
        }
    }
    .action--filter-options{
        background: #fff;

        &.is--collapsed,
        &.is--active-filter{
            border-width: 1px 0 0 0;
        }
    }
}
*/

/* Listing Sorting Options
 * -------------------------------------------------------------------------- */
.action--sort{
    .unitize(margin-bottom, 20);
    display: block;

    .sort--label{
        display: none;
    }

    .sort--select{
        .unitize-height(34);
        .unitize(line-height, 34);
        width: 100%;
    }
}
@media screen and (min-width: @tablet--viewport-width){
    .action--sort{
        //display: inline-block;
        display: block;
        
        //.unitize-width(200);
        width: 100%;
        
        .unitize-margin(0, 0, 0, 0);

        .sort--select{
            .unitize-width(200);
        }
    }
}
@media screen and (min-width: @desktop--viewport-width){
    .action--sort{
        .unitize(line-height, 32);
        .unitize-margin(0, 0, 10, 0);
        //width: 40%;

        .sort--label{
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }

        .sort--select{
            .unitize-width(200);
            vertical-align: top;
        }
    }
}


/* Items per Page Filter
 * -------------------------------------------------------------------------- */
.action--per-page{
    display: none;
}
@media screen and (min-width: @tablet--viewport-width){
    .action--per-page{
        .unitize(line-height, 32);
        display: inline-block;
        width: 30%;
        text-align: right;
        float: right;

        .per-page--label{display: none }

        .per-page--select{
            .unitize-width(80);
            .unitize-height(32);
            .unitize(line-height, 30);
            text-align: center;
            vertical-align: top;
        }
    }
}
@media screen and (min-width: @desktop--viewport-width){
    .action--per-page{

        .per-page--label{
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }
    }
}


/* Listing Paging
 * -------------------------------------------------------------------------- */
.listing--paging{
    .clearfix();
    .unitize-padding(10, 0);
    display: block;

    .paging--label{
        display: none;
    }

    .paging--display{
        .unitize(line-height, 30);
        .unitize(margin-left, 10);
    }
}
.listing--bottom-paging{
    .unitize-margin(10, 0, 20, 0);
}
.listing--container{
    overflow: hidden;
}
.listing{
	.clearfix();
	margin: -2% 0 0 -2%;
	padding: 0 0 2% 0;
}
@media screen and (min-width: @tablet--viewport-width){
    .listing--bottom-paging{
        .unitize-padding(0, 10, 0, 10);
        .border-radius();
        //border: 1px solid @border-color;
        //background: darken(@gray-light, 1%);
    }
}
@media screen and (min-width: @desktop--viewport-width){
    .listing--paging{
        display: block;
        clear: both;

        .paging--label{
            .unitize-margin(0, 10, 0, 0);
            font-weight: bold;
        }

        .paging--display{
            .unitize(line-height, 30);
        }
    }
}

/* Button Wrapper for Ininite Scrolling Actions
 * -------------------------------------------------------------------------- */
.infinite--actions{
	width: 100%;
	margin: 0 auto;
	text-align: center;

	.js--load-more, .js--load-previous{
		.unitize(margin-bottom, 20);
	}
}