// main-navigation-less
// =============================================================================

// Contains the styles of the main navigation of the Shopware storefront.
// The main navigation is positioned above the content section.
// It contains the viewport specific styles inside media queries.

// @package     Grace & Holmes
// @since       1.0



// Main Navigation
// -----------------------------------------------------------------------------

@navigation-main--wrapper--bg:              @white;
@navigation-main--wrapper--border-color:    @border-color;
@navigation-main--wrapper--box-shadow:      0;

@navigation-main--logo--bg-image:           url("../../img/logos/logo--small.png");

@navigation-main--wrapper--z-index:         2000;

.navigation-main,
.navigation-main .navigation--entry.is--home{
    display: none;
}
.navigation-main--wrapper{
    width: 100%; height: auto;
    .unitize-padding(4,6,4,6);
    
    position: relative;
    .unitize(top, -48);
    margin-bottom: -48px;
    
    &,.navigation-main,.shop--navigation{
        background:
            @navigation-main--wrapper--bg;
    }
    .container{
        position: relative;
    }
}
.navigation-main--wrapper.is--fixed{
    .unitize-padding(4,6,3,6);
    border-bottom: 1px solid @navigation-main--wrapper--border-color;

    position: fixed;
    .unitize(top, 48); left: 0;
    z-index: @navigation-main--wrapper--z-index;
    
    .box-shadow(@navigation-main--wrapper--box-shadow);
}
.navigation-main--logo{
    .unitize-width(50); .unitize-height(40);
    
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    
    &>a{
        display: block;
        width: 100%; height: 100%;

        background-image:
            @navigation-main--logo--bg-image;

        background-repeat:   no-repeat;
        background-position: 50% 50%;
        background-size:     auto 100%;
    }
}



// Shop Navigation
// -----------------------------------------------------------------------------

@shop-navigation--btn--color:               @text-color;
@shop-navigation--btn--hover-color:         @shop-navigation--btn--color;

@shop-navigation--btn--border-color:        transparent;
@shop-navigation--btn--hover-border-color:  @brand-primary;

@shop-navigation--btn--bg:                  none;
@shop-navigation--btn--hover-bg:            @shop-navigation--btn--bg;

.shop--navigation{
    position: relative;
    
    .navigation--list{
        width: 100%;
        text-align: right;
    }
    
    .navigation--entry{
        display: inline-block;
        
        .unitize(margin-right, 4);
        &:last-child{
            margin-right: 0;
        }

        .btn{
            .unitize-width(40, 16); .unitize-height(40, 16);
            border: 1px solid;
            
            .unitize(line-height, 33);
            vertical-align: middle;
            
            border-color:
                @shop-navigation--btn--border-color;
            color:
                @shop-navigation--btn--color;
            background: 
                @shop-navigation--btn--bg;
        }
        .btn:hover{
            border-color:
                @shop-navigation--btn--hover-border-color;
            color: 
                @shop-navigation--btn--hover-color;
            background: 
                @shop-navigation--btn--hover-bg;
        }
        
        .account--link{
            .unitize-padding(2, 10, 2, 8);
        }
        .cart--link{
            .unitize-padding(2, 10, 2, 6);
        }

        // Icon Sets
        .icon--account,
        .icon--basket,
        .icon--heart,
        .icon--search{
            position: relative;
        }
        .icon--account{
            display: inline;
            
            top: 0;
            .unitize(left, 0, 21);
            
            .unitize(font-size, 21);
            vertical-align: middle;
        }
        .icon--basket{
            display: inline;
            
            top: 0;
            .unitize(left, 0, 21);
            
            .unitize(font-size, 21);
            vertical-align: middle;
        }
        .icon--heart{
            .unitize(left, 0, 18);
            
            .unitize(font-size, 18);
            vertical-align: middle;
        }
        .icon--search{
            .unitize(font-size, 22);
            vertical-align: middle;
        }
    }

    .entry--link{
        .unitize(font-size, 14);
            
        text-align: center;
        text-decoration: none;
    }
    
    .entry--menu-left{
        display: block;
        
        position: absolute;
        top: 0; .unitize(left, 54);
        
        
        text-align: left;
        
        font-weight: @font-weight--bold !important;
        text-transform: uppercase;

        .btn{
            width: auto; .unitize-height(40, 16);
            .unitize(padding-left, 48);
            padding-right: 0;
            
            .unitize(font-size, 17);
            .unitize(line-height, 33);
        }

        .icon--menu{
            .unitize(font-size, 20);
        }
    }
    
    .cart--quantity,
    .notes--quantity{
        margin: 0;
        
        position: absolute;
        .unitize(-4, 16, top); .unitize(left, 23);
    }
    
    .account--display,
    .cart--display,
    .cart--amount{
        display: none;
    }
    
    .entry--notepad{
       //
    }
    .entry--account{
       //
    }
    .entry--cart{
       //
    }
}



// Phone Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    
    // Shop Navigation
    // -------------------------------------------------------------------------

    @cart--display--color:      @text-color;
    @cart--amount--color:       @text-color;
    
    .shop--navigation{
        .navigation--entry .btn{
            width: auto;
        }
        .cart--link,
        .account--link{
            font-weight: normal;
        }
        .cart--display{
            .unitize-margin(0, 25, 0, 5, 16);

            color:
                @cart--display--color;
        }
        
        .entry--notepad{
            display: inline-block;
        }
        .entry--cart{
            .entry--link{
                padding: 0;
                display: inline-block;
            }
            .cart--link{
                .unitize(padding-left, 50);
                
                .cart--quantity{
                    display: inline-block;
                }
                .cart--amount{
                    display: inline-block;
                    color: 
                        @cart--amount--color;
                }
            }
            .icon--basket{
                display: block;
                
                position: absolute;
                top: 50%; .unitize(left, 8);
            }
        }
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    // Main Navigation
    // -------------------------------------------------------------------------
    
    .navigation-main--wrapper{
        .unitize-padding(12,6,12,6);
        .unitize(top, -64);
    }
    .navigation-main--wrapper.is--fixed{
        .unitize-padding(12,6,11,6);
        .unitize(top, 63);
    }
    .navigation-main,.shop--navigation{
        height: 100%;
        position: relative;
    }
    .navigation-main{
        display: block;
        width: 100%; 
        
        .navigation--list-wrapper{
            .unitize(padding-left, 59);
        }
        
        .navigation--list{
            .clearfix();

            margin: 0;
            position: relative;

            white-space: nowrap;
        }

            .navigation--entry{
                display: inline-block;
                .unitize(margin-right, 4);
                
                -ms-touch-action: none;
            }

            .navigation--link{
                display: block;
                .unitize-height(40);
                .unitize-padding(7, 13);
                border: 1px solid transparent;
                
                margin: 0;
                
                .unitize(font-size, 18);
                font-weight: normal;
                
                text-transform: uppercase;
                
                cursor: pointer;
                
                color: @brand-secondary-dark;
                
                .transition(none 0);

                &:hover{
                    border-color: @brand-primary;
                    color: @brand-primary;
                    background:
                        @body--bg;
                }
            }

            .is--active .navigation--link{
                color: @brand-primary;

                &,&:focus,&:hover{
                    background:
                        @brand-secondary-dark;
                }
            }
    }
    
    // Shop Navigation
    // -------------------------------------------------------------------------
    
    .shop--navigation{
        width: 33.3%;
        
        position: absolute;
        .unitize(top, 0); .unitize(right, 0);
        
        .navigation--list{
            text-align: right;
            
            background-image: 
                none;
        }
        .navigation--entry{
            float: none;
            
            display: inline-block;
            width: auto;
            
            border: 0 none;
        }

        .cart--quantity,
        .entry--account{
            display: inline-block;
        }
        .entry--menu-left{
            display: none;
        }
    }
}

// Tablet Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    // Shop Navigation
    // -------------------------------------------------------------------------
    
    .shop--navigation{
        .entry--account{
            .account--link{
                .unitize(padding-right, 36);
            }
            .icon--account{
                display: block;
                
                position: absolute;
                top: 50%; 
                left: auto; .unitize(right, 8);
            }
        }
        .account--display{
            display: inline-block;
        }
    }
    
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    // Main Navigation
    // -------------------------------------------------------------------------
    
    .navigation-main{
        .navigation--list{
            padding: 0;
        }
    }
}