// note.less
// =============================================================================

// Contains the styling of the note page inside Shopware 5.
// The users can add an article to their note list if they are interested in the product and the product will be saved inside the list if the user is logged in inside their account.
// The articles are displayed inside a slim product box with an article thumbnail and the general item information.
// The styling also contains the viewport specific styles inside media queries.

// @package     Grace & Holmes
// @since       1.0



.note--content{
    .unitize-margin(20, 0);
}
.note--overview .panel--td{
    padding: 0;
}
.note--item{
    .unitize-padding(20, 0);
    
    position: relative;
}
.note--info,
.note--sale{
    width: 80%;
}
.note--image-container{
    float: left;
    
    display: table-row;
    .unitize-width(75);
    
    .unitize-margin(0, 20, 20, 0);
}
.note--image-link{
    display: table-cell;
    .unitize-width(75); .unitize-height(75);
    .unitize-padding(5, 5);
    
    border: 1px solid @border-color;
    //.border-radius();
    
    .unitize(line-height, 65);
    
    text-align: center;
    vertical-align: middle;
}
.note--image{
    .unitize-max-width(65); .unitize-max-height(65);
    
    margin: 0 auto;
}
.note--title{
    display: block;
    
    .unitize-margin(0, 0, 5, 95);
    
    .unitize(font-size, 18);
    font-weight: @font-weight--bold;
    
    color: 
        @text-color-dark;

    &:hover{
        color: 
            @brand-primary;
    }
}
.note--rating{
    .unitize-margin(0, 0, 10, 95);

    [class^="icon--"]{
        color: 
            @rating-star--color;
    }
}
.note--supplier{
    display: none;
}
.note--ordernumber,
.note--date,
.note--overview .product--rating{
    display: block;
    .unitize-margin(0, 0, 0, 95);
}

.note--delivery{
    .unitize-margin(0, 0, 0, 95);

    .delivery--status-icon{
        display: none;
    }

    .delivery--text-available{
        display: block;
    }
}

.note--compare{
    display: none;
    .unitize-margin(10, 0, 0, 95);

    .compare--link{
        color: 
            @text-color;

        &:hover{color: 
                  @link--color;}
    }

    [class^="icon--"]{
        .unitize-margin(0, 5, 0, 0);
        .unitize(font-size, 12);
    }
}

.note--price-unit{
    display: block;
    
    .unitize-margin(5, 0, 0, 95);
    
    .unitize(font-size, 12);
    .unitize(line-height, 18);
}

.note--price{
    .unitize-margin(15, 0, 0, 95);
    
    .unitize(font-size, 18);
    font-weight: @font-weight--bold;
    
    color: 
        @text-color-dark;
}

.note--delete{
    display: block;
    .unitize-width(40); .unitize-height(40);
    
    border: 1px solid @btn-default--border-color;
    //.border-radius();
    
    position: absolute;
    .unitize(top, 20);
    right: 0; left: auto;
    
    .unitize(font-size, 10);
    font-weight: @font-weight--normal;
    .unitize(line-height, 38);
    text-align: center;
    
    color: 
        @text-color;
    background:
        @btn-default--bg;

    &:hover{
        border-color: 
            @btn-default--hover-border-color;
        color: 
            @btn-default--hover-color;
    }
}



// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    .note--overview .panel--table{
        .unitize-padding(0, 20);
        border: 1px solid 
            @border-color;
    }

    .note--compare{display: block;}
}



// Tablet Landscape Viewport Width
// =============================================================================

@media screen and(min-width: @tablet-landscape--viewport-width){
    
    .note--info{
        width: 70%;
        .unitize(padding-right, 20);
    }

    .note--sale{
        width: 30%;
        .unitize(padding-right, 55);
    }

    .note--zoom{
        display: block;
        
        .unitize(font-size, 12);
        text-align: center;
        
        color: 
            @text-color;

        &:hover{
            color: 
                @brand-primary;
        }
    }

    .note--title{
        .unitize-margin(0, 0, 5, 105);
    }

    .note--supplier,
    .note--ordernumber,
    .note--date,
    .note--overview .product--rating{
        display: block;
        
        .unitize-margin(0, 0, 0, 105);
    }

    .note--delivery{
        .unitize-margin(0, 0, 0, 105);
    }

    .note--compare{
        .unitize-margin(5, 0, 0, 0);
    }

    .note--price{
        margin: 0;
    }

    .note--price-unit{
        .unitize(padding-right, 50);
        
        .unitize-margin(5, 0, 0, 0);
    }
}



// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    .note--content{
        .unitize-margin(45, 0, 0, 0);
    }
}