// payment.less
// =============================================================================

// Defines the styling of the payment-form elements.
// The payment page allows the user to choose the prefered payment option and add his personal payment informations inside form elements.
// The payment page is a part of the Shopware checkout process.

// @package     Grace & Holmes
// @since       1.0

.payment--form-group{
    .unitize-margin(10, 0);

    .payment--field{
        display: block;
        width: 100%;

        .unitize(margin-bottom, 10);
    }
    .register--required-info{
        margin: 0;
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    .payment--form-group .payment--field{
        width: 85%;
    }
}