// product-box.less
// =============================================================================

// Defines the element styles of the Shopware product boxes.

// @package     Grace & Holmes
// @since       1.0

// Shopware provides 3 product box types: ----------------------------------

// box-basic, box-minimal, box-image

// -------------------------------------------------------------------------

// Example: ----------------------------------------------------------------

// <div class="product--box">
//     <div class="box--content is--rounded">
//         <div class="product--info">
// 
//             <a href="" class="product--image">
//                 <!-- Article images -->
//             </a>
// 
//             <div class="product--rating-container">
//                 <!-- Product rating stars -->
//             </div>
// 
//             <a href="" class="product--title" title="">
//                 Product title
//             </a>
// 
//             <div class="product--description">
//                 Dux texo propino, hic tres, casus Ubertas, pax Alumnus catena, ut,
//                 acer tero an, per edo in is arx Arma querul.
//             </div>
// 
//             <div class="product--price-info">
//                 <div class="price--unit">
//                 </div>
//                 <div class="product--price">
//                     <span class="price--default is--nowrap">
//                         35,00 €
//                     </span>
//                 </div>
//             </div>
// 
//             <div class="product--actions">
//                 <!-- Product action links e.g. product compare
//             </div>
// 
//         </div>
//     </div>
// </div>

// -------------------------------------------------------------------------



// Product box
// -----------------------------------------------------------------------------

@product-box--border-color: @border-color;

.product--box{
    .clearfix();
    float: left;
    
    display: block;
    width: 100%;
    padding: 2% 0 0 2%;

    .box--content{
        height: 100%;
        //.unitize-padding(10, 10);
        border: 1px solid @product-box--border-color;
        
        position: relative;
    }
    
    .product-info{
        
    }

    .product--image{
        display: block;
        .unitize-height(180);
        
        .unitize-margin(0, 0, 5, 0);
        
        text-align: center;

        .image--element{
            display: block;
            width: 100%; height: 100%;
            margin: 0 auto;
            position: relative;

            img{
                display: block;
                width: auto; max-width: 100%;
                height: auto; max-height: 100%;
            }
        }
    }
    
    .product--title{
        display: block;
        width: 100%; .unitize-height(40);
        .unitize-margin(0, 0, 5, 0);
        
        overflow: hidden;
        
        .unitize(font-size, 16);
        font-weight: bold;
        .unitize(line-height, 20);

        color: @text-color-dark;
        
        &:hover{
                color: @link--color;
        }
    }
    
    // Rating Star Container
    .product--rating-container{
        display: block;
        .unitize-height(25);
    }
    .product--rating-container:empty{
        display: none;
    }
    
    .product--description{
        display: block;
        width: 100%; .unitize-height(72);
        .unitize-margin(0, 0, 10, 0);
        
        overflow: hidden;
        
        .unitize(font-size, 14);
        .unitize(line-height, 18);
    }

    .product--price-info{
        .unitize-height(40);

        .price--unit{
            display: block;
            .unitize-height(20);
            
            overflow: hidden;
            
            .unitize(font-size, 11);
            .unitize(line-height, 16);
        }
        .price--unit:empty{
            display: none;
        }
    }
    .product--price{
        .unitize-height(20);

        .price--default{
            display: inline-block;
            
            .unitize(font-size, 18);
            font-weight: bold;
            .unitize(line-height, 20);
            
            color: @text-color-dark;

            &.is--discount{
                color: @badge-discount-bg;
            }
        }
        .price--discount{
            display: inline-block;
            
            .unitize(font-size, 12);
            .unitize(line-height, 20);
            
            text-decoration: line-through;
            vertical-align: baseline;
        }
    }
    
    
    
    
    
    
    
    
    
    
    .product--actions{
        .unitize-margin(15, 0, 0, 0);
        .unitize(font-size, 14);
        .unitize(line-height, 24);
    }
    .product--action{
        display: inline-block;
        .unitize-margin(0, 20, 0, 0);
        
        .unitize(font-size, 14);
        .unitize(line-height, 24);
        word-break: keep-all;
        white-space: nowrap;

        color: @text-color;
        
        &:hover{
            color: @link--color;
        }
        
        [class^="icon--"]{
            .unitize-margin(0, 5, 0, 0);
            .unitize(font-size, 12);
        }
    }
    .action--compare{
        display: none;
    }

    .action--note{
        &:focus{
            outline: none;
        }

        &.js--is-saved{
            color: @highlight-success;
        }
    }

    /* Product Badges
     * ---------------------------------------------------------------------- */
    .product--badges{
        .clearfix();
        
        position: absolute;
        .unitize(top, 10); .unitize(left, 10);
        z-index: @zindex-product-box-product-badge;

        .product--badge{
            float: left;
        
            display: block;
            .unitize(min-width, 44); .unitize-height(44);
            .unitize-padding(2, 6);
            
            .border-radius(44px);
            
            .unitize-margin(0, 5, 5, 0);
            position: relative;
            
            .unitize(font-size, 12);
            font-weight: @font-weight--light;
            .unitize(line-height, 40);
            text-align: center;
            text-transform: uppercase;
        }

        // Comming Soon Badge
        .badge--comming-soon{
            color: @badge-upcoming-color;
            background: @badge-upcoming-bg;
        }
        
        // Sold Badge
        .badge--sold{
            color: @badge-sold-color;
            background: @badge-sold-bg;
        }
        
        // Discount Badge
        .badge--discount{
            color: @badge-discount-color;
            background: @badge-discount-bg;
        }

        // Recommendation Badge
        .badge--recommend{
            color: @badge-recommendation-color;
            background: @badge-recommendation-bg;
        }

        // Newcomer Badge
        .badge--newcomer{
            color: @badge-newcomer-color;
            background: @badge-newcomer-bg;
        }

        // ESD Badge
        .badge--esd{
            background: @badge-download-bg;
            color: @badge-download-color;
        }
    }
}

.box--minimal{
    width: 50%;

    .product--image{
        .unitize-height(120);
    }
    .product--price-info{
        .unitize-height(70);

        .price--unit{
            display: block;
            .unitize-height(30);
         
            .unitize(font-size, 10);
            .unitize(line-height, 14);
        }
        .price--unit:empty{
            display: none;
        }
    }
    .product--price-outer{
        .unitize-height(40);
        position: relative;
    }
    .product--price{
        height: auto;
        position: absolute;
        bottom: 0; left: 0;

        .unitize(line-height, 20);
        
        .price--default{
            float: left;
            .unitize(font-size, 16);
            .unitize(line-height, 20);
            .unitize-margin(0, 5, 0, 0);
            vertical-align: bottom;
        }
        .price--discount{
            .unitize(font-size, 10);
            .unitize(line-height, 14);
            vertical-align: bottom;
        }
    }
}
.box--image{
    .image--top(200);
}
.box--slider{
    float: none;
    display: block;
    padding: 0;
    
    position: relative;
    text-align: center;

    &:hover .product--title{
            color: @brand-primary;
    }
    .box--content{
        border: 0 none;
        padding: 0;
    }
    .product--price-info{
        height: auto;

        .price--unit{
            .unitize-height(14);
            .unitize(font-size, 10);
        }
        .price--default{
            .unitize(font-size, 14);
        }
        .is--discount{
            font-weight: bold;
        }
    }
    .product--image{
        display: block;
        .unitize-height(140);
        
        .unitize(margin-bottom, 10);
        position: relative;
        
        text-align: center;
        
        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
    }
    .image--element{
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;

        img{
            display: inline-block;
            
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            z-index: @zindex-product-box-image-element;
            vertical-align: middle;
            
            .user-select(none);
            .touch-callout(none);
            .tap-highlight-color(rgba(0, 0, 0, 0));
        }
    }
    .product--title{
        display: block;
        .unitize(height, 40);
        
        .unitize(font-size, 14);
        font-weight: normal;
        white-space: normal;
        
        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
        
        
        color: @text-color;
    }
}
@media screen and(min-width: @phone-landscape--viewport-width){
    .box--basic{
        .image--left(160);
    }
    .box--minimal{
        width: 33.3%;
    }
    .box--image{
        .image--left(50%);

        .product--price-info{
            .unitize-height(60);

            .price--unit{
                .unitize-height(40);
            }
        }
    }
}
@media screen and(min-width: @tablet--viewport-width){
    .product--box{
        .action--compare{
            display: inline-block;
        }
    }
    .box--basic{
        .image--left(160);
    }
    .box--image{
        .image--top(240);

        .product--price-info{
            .unitize-height(40);

            .price--unit{
                .unitize-height(20);
            }
        }
    }
    .is--ctl-search,
    .is--ctl-listing.is--no-sidebar{
        .box--basic{
            width: 50%;
            .image--top(180);
        }
        .box--minimal{
            width: 25%;

            .product--image{
                .unitize-height(180);
            }
        }
        .box--image{
            width: 50%;
        }
    }
}
@media screen and(min-width: @tablet-landscape--viewport-width){
    .box--basic{
        .image--top(180);
        width: 50%;
    }
    .box--minimal{
        width: 25%;
    }
    .box--image{
        .image--top(280);
        width: 50%;
    }
    .is--ctl-search,
    .is--ctl-listing.is--no-sidebar{
        .box--basic{
            .image--left(170);
        }
        .box--minimal{
            width: 20%;
        }
        .box--image{
            width: 33.3%;
        }
    }
}
@media screen and(min-width: @desktop--viewport-width){
    .box--basic{
        .image--left(170);

        .box--content{
            .unitize-padding(20, 10);
        }
    }

    .box--minimal{
        width: 25%;
    }
    .box--image{
        .image--top(300);
    }
    .is--ctl-search,
    .is--ctl-listing.is--no-sidebar{

        .box--minimal{
            width: 20%;
        }
    }
}