// register.less
// =============================================================================

// Contains the styles of the registration process form and its components.
// The user can see the registration steps, advantages and required information.

// @package     Grace & Holmes
// @since       1.0



.register--content{
    .clearfix();

    display: none;
    width: 100%;

    .unitize-margin(10, 0);

    &.is--collapsed{
        display: block;
    }
    .alert{
        .unitize-margin(20, 18, 20, 18, 16);
    }
    .register--check{
        .unitize(padding-bottom, 8);
    }
    .register--action{
        .unitize-margin(20, 20);

        .register--submit{
            width: 100%;
            text-align: center;
        }
    }
    .register--required-info{
        .unitize-margin(0, 26, 16);

        .unitize(font-size, 14);
    }
    .js--fancy-select{
        width: 100%;

        .unitize(margin-bottom, 10);
    }
    .register--field{
        width: 100%;

        .unitize(margin-bottom, 10);
    }
    .register--customertype{
        display: block;
    }
    .register--zip-city{
        .register--field-zipcode{
            float: left;
            width: 28%;
        }

        .register--field-city{
            .clearfix();

            float: left;
            width: 70%;
        }

        .register--spacer{
            margin-right: 2%;
        }

    }

    .birthday--label{
        .clearfix();
        display: block;

        .unitize-margin(0, 0, 5, 0);

        font-weight: @font-weight--bold;
    }

    .register--password-description{
        .unitize(padding-bottom, 20);
    }

    .register--birthdate{

        .js--fancy-select{
            float: left;
            width: 100%;
            
            .unitize(margin-bottom, 15);
        }

        .register--birthyear,
        .register--birthyear .js--fancy-select{
            .unitize(margin-right, 0);
        }

    }

    .register--privacy{
        .unitize-padding(20, 20);
        border: 1px solid @border-color;
        
        .unitize-margin(0, 20, 20);
        
        .unitize(font-size, 14);

        input[type="checkbox"]{
            .unitize-margin(0, 10, 0, 0);
        }
    }

    
    
    // Personal information fieldset
    // ---------------------------------------------------------------------
    
    .register--personal{
        .clearfix();
        .unitize(padding-bottom, 10);
    }
    
}

// Register Login
// -----------------------------------------------------------------------------

.register--login{
    .clearfix();

    .register--new-customer{
        .unitize-margin(20, 0);

        .new-customer-btn{
            display: block;
            width: 100%;
            
            position: relative;

            text-align: center;
            
            &:after{
                content: "\e612";
                .unitize-width(16); .unitize-height(16);
                .unitize(margin-top, -8);
                
                position: absolute;
                top: 50%; .unitize(right, 10);
                
                font-family: "shopware";
                .unitize(font-size, 6);
                font-weight: @font-weight--normal;
                .unitize(line-height, 16);
                
                color: 
                    inherit;
            }

            &.is--active:after{
                content: "\e610";
            }
        }
    }

    .register--login-field{
        width: 100%;
        .unitize(margin-bottom, 10);
    }

    .register--login-description{
        .unitize(padding-bottom, 20);
    }

    .register--login-lostpassword{
        .unitize(padding-bottom, 20);
    }

    .register--login-btn{
        width: 100%;
        text-align: center;
    }
}



// Register Advantages
// -----------------------------------------------------------------------------
.register--advantages{
    display: none;
}



// Password success
// -----------------------------------------------------------------------------
.password--success{
    .unitize-margin(10, 0, 20, 0);
}



// Register Steps
// -----------------------------------------------------------------------------
.steps--container{
    background: transparent;
}

.steps--content{
    display: table;
    width: 100%;
    
    .unitize(padding-top, 16);
    //border-top: 1px solid @border-color;

    .steps--list{
        .clearfix();
        
        display: table-row;
    }

    .steps--entry{
        display: table-cell;
        .unitize-padding(0, 10);
        
        list-style: none;
        
        text-align: center;
        vertical-align: top;
    }

    .steps--spacer{
        display: none;
        vertical-align: middle;
    }

    .steps--entry .icon{
        display: inline-block;
        .unitize-width(46, 16);
        .unitize-padding(10, 16);
        .border-radius(22px);
        
        .unitize(font-size, 20);
        font-weight: @font-weight--bold;
        text-align: center;
        
        color: 
            @text-color-light;
        background:
            @brand-secondary-dark;
    }

    .is--active .icon{
        color: 
            @text-color;
        background:
            @brand-primary;
    }

    // Text
    .steps--entry .text{
        display: none;
        .unitize-height(52);
        
        //.unitize-margin(0, 0, 0, 10);
        
        position: relative;
        top: -2px;
        
        text-align: center;
        vertical-align: middle;

        &::after{
            content: '';
            height: 100%;
        }
    }

    .is--active .text{
        display: inline-block;
        
        font-weight: @font-weight--bold;
        
        color: 
            @brand-primary;
    }

    .steps--entry .text--inner, .steps--entry .text::after{
        display: inline-block;
        vertical-align: middle;
    }

}



// Change payment
// -----------------------------------------------------------------------------

.account--change-payment{
    .payment--method{
        .unitize-padding(10, 0, 10, 0);
    }

    .payment--selection-input{
        float: left;
        .unitize-width(40);
        
        text-align: center;
    }

    .payment--selection-label,
    .payment--description,
    .payment--content{
        width: 100%;
        .unitize-padding(0, 0, 0, 40);
    }

    .payment--content input{
        max-width: 100%;
    }
}



// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    
    
    // General Register Form
    // ---------------------------------------------------------------------
    
    .register--content{
        float: right;
        
        display: block;
        width: 64%;
        
        .unitize(margin-top, 50);

        .js--fancy-select{
            .unitize(margin-bottom, 15);

            .register--birthday{
                margin-right: 2%;
            }
        }

        .register--field{
            .unitize(margin-bottom, 15);
        }

        .register--check{
            .unitize(padding-bottom, 8);
        }

        .js--fancy-select{
            .unitize-width(290);
        }

        .register--birthdate{
            .js--fancy-select{
                width: 32%;
                margin-right: 2%;
            }
        }

        .register--action{
            text-align: right;

            .register--submit{
                width: 35%;
            }
        }
    }

    
    
    // Register Steps
    // ---------------------------------------------------------------------

    .steps--content{
        .unitize-padding(30, 0, 24, 0, 16);
        border: none;
        background: 
            transparent;

        .steps--spacer{
            display: table-cell;
            .unitize-width(80);
            
            text-align: center;
        }

        .steps--entry{
            .text{
                display: inline-block;
                .unitize-margin(0, 10, 0, 10);
            
                font-weight: @font-weight--bold;
            }
        }
    }

    
    
    // Register Login
    // ---------------------------------------------------------------------
    
    .register--login{
        float: left;
        width: 34%;
        
        .unitize(margin-top, 50);

        .register--new-customer{
            display: none;
        }

        .register--login-field{
            .unitize(margin-bottom, 15);
        }

        .register--login-btn{
            width: auto;
            text-align: left;
        }
    }

    
    
    // Register advantages
    // ---------------------------------------------------------------------
    
    .register--advantages{
        .clearfix();
        float: left;
        
        display: block;
        width: 34%;

        .panel--title{
            .unitize-margin(0, 0, 10, 0, 16);
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){

    // Register Steps
    // ---------------------------------------------------------------------
    
    .steps--content{

        .steps--entry{
            &.step--payment{
                width: 29%;
            }

            .text{
                width: 69%;
                .unitize-margin(0, 0, 0, 10);
                
                text-align: left;
            }
        }

        .steps--spacer{
            width: 15%
        }
    }
}