// search.less
// =============================================================================

// Contains the styles for the main search-box component of the Shopware storefront.
// The styling defines the search result page layout and its components.
// It contains the viewport specific styles inside media queries.

// @package     Grace & Holmes
// @since       1.0



.search--content{
    .unitize-padding(40, 0, 0, 0);
}
.search--headline{
    .unitize-margin(0, 0, 40, 0);
    
    text-align: center;
}
.search--cat-filter{
    .unitize-margin(0, 0, 20, 0);

    .cat-filter--headline{
        .unitize-padding(0, 0, 5, 0);
        border-bottom: 1px solid @border-color;

        .unitize-margin(0, 0, 20, 0);

        .unitize(font-size, 16);
        .unitize(line-height, 24);
    }

    .cat-filter--reset{
        //&:extend(.filter--active);

        border-color: 
            @brand-primary;
        
        .unitize-margin(0, 0, 15, 0);
        
        .unitize(line-height, 24);

        [class^="icon--"]{
            .unitize(margin-right, 10);
            
            position: relative;
            .unitize(top, -1);
            
            .unitize(font-size, 8);
        }
    }

    .cat-filter--active-path{
        .unitize-margin(0, 0, 20, 0);
    }

    .cat-filter--label{
        .unitize-margin(0, 10, 0, 0);
        font-weight: @font-weight--bold;
    }

    .cat-filter--path{
        white-space: nowrap;

        [class^="icon--"]{
            .unitize-margin(0, 20);
            .unitize(font-size, 10);
        }
    }

    .cat-filter--link,
    .cat-filter--sub-cat{
        color: 
            @text-color;

        &:hover{
            color: 
                @link--color;
        }

        .checkbox{
            .unitize-margin(0, 5, 0, 0);

            position: relative;
            .unitize(-1, 16, top);
        }
    }

    .cat-filter--sub-cat{
        display: block;
        .unitize-width(180); .unitize(line-height, 24);

        .unitize-margin(0, 10, 0, 0);
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .search--cat-filter{
        .unitize-margin(0, 0, 40, 0);
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .search--content{
        .unitize-padding(45, 0, 0, 0);
    }
}