// sidebar.less
// =============================================================================

// Defines the styling of the storefront sidebar navigation and its components.
// The sidebar is displayed inside the off-canvas menu on small devices.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <ul class="sidebar--navigation">
//     <li class="navigation--entry is--active has--sub-categories has--sub-children">
//         <a class="navigation--link is--active has--sub-categories">
//             Sidebar Head
//         </a>
//         <ul class="sidebar--navigation is--level1">
//             <li class="navigation--entry has--sub-children" role="menuitem">
//                 <a class="navigation--link">
//                     Navigation entry
//                 </a>
//                 <a class="navigation--link">
//                     Navigation entry
//                  </a>
//                <a class="navigation--link">
//                     Navigation entry
//                 </a>
//             </li>
//         </ul>
//     </li>
// </ul>

// -------------------------------------------------------------------------



// Ajax Loader
// -----------------------------------------------------------------------------

.has--cssanimations{
    .sidebar--ajax-loader{
        display: none;
        
        margin: 2px 0;
        position: absolute;
        .unitize(top, 12); .unitize(right, 15);

        &::before{
            content: "";
            
            display: block;
            .unitize-width(16); .unitize-height(16);
            
            border: 2px solid transparent;
            border-top: 2px solid @sidebar--ajax-loader--border-color;
            .border-radius(100%);
            
            .animation(keyframe--spin 1s linear infinite);
        }
    }
}
.sidebar--ajax-loader{
    display: none;
    
    margin: 2px 0;
    position: absolute;
    .unitize(top, 12); .unitize(right, 15);

    &::before{
        content: "";
        
        display: block;
        .unitize-width(16); .unitize-height(16);
        
        border: 2px solid transparent;
        border-top: 2px solid darken(@sidebar--ajax-loader--border-color, 50%);
        .border-radius(100%);
        
        .animation(keyframe--spin 1s linear infinite);
    }
}



// Campaign Box
// -----------------------------------------------------------------------------
.campaign--box{
    display: none;
}



// Mobile Switches
// -----------------------------------------------------------------------------

.mobile--switches{
    .clearfix();
    
    display: block;
    .unitize-height(44);
    
    color:
        @mobile--switches--color;
    background:
        @mobile--switches--bg;
    
    &:empty{
        color: transparent;
        background:
            none transparent;
    }
    
    // Top Bar Language
    .top-bar--language{
        text-align: center;
        
        .js--fancy-select{
            width: 100%; height: 100%;
            border: none;
        }
        .js--fancy-select-text{
            width: 100%;
            color: @text-color-light;
        }
        .js--fancy-select-trigger,
        .language--flag{
            display: none;
        }
    }
    
    .navigation--entry{
        float: left;
        .unitize(margin-right, 20);
    }
}



// Smartphone navigation
// -----------------------------------------------------------------------------

.navigation--smartphone{
    .navigation--entry{
        .unitize-padding(12, 10, 12, 10);
        
        color: @navigation--entry--color;
        background: 
            @navigation--entry--bg;
    }
    .navigation--link{
        display: block;
    }
    .entry--close-off-canvas{
        .unitize-height(44);
        .unitize-padding(2, 10);
        .unitize(line-height, 40);
        
        color: @close-off-canvas--color;
        background:
            @close-off-canvas--bg;

        .navigation--link{
            .clearfix();
            
            .unitize(font-size, 14);
            font-weight: bold;
            text-align: right;
            
            color: 
                inherit;
        }
        .icon--arrow-right{
            .unitize-margin(12, 0, 0, 10);
            
            .unitize(font-size, 11);
        }
    }
}



// Sidebar Navigation
// -----------------------------------------------------------------------------

.sidebar--navigation{
    border-left: 0 none; border-right: 0 none;
    .reset-border-radius();

    //.unitize-margin(0, 10, 0, 10);
    margin: 0;
    
    // Navigation Entry
    .navigation--entry{
        position: relative;
    }
    .navigation--link{  
        display: block;
        width: 100%; height: 100%;
        .unitize-padding(10, 20, 10, 20);
        
        overflow: hidden;
        
        .unitize(line-height, 30);
        text-overflow: ellipsis;
        
        color: 
            @navigation--link--color;
        background:
            @navigation--link--bg;
        
        &:hover{
            color: 
                @navigation--link--hover-color;
            background:
                @navigation--link--hover-bg;
        }
        
        .is--icon-right{
            float: right;
            display: inline-block;
            margin-top: 0;
            
            .unitize(font-size, 10);
        }
        .is--icon-left{
            float: left;
            .unitize-margin(0, 10, 0, 0);
        }
    }
    &.show--active-items .navigation--link.is--active{
        color: 
            @navigation--link--active-color;
        background:
            @navigation--link--active-bg;
    }
}



// Sidebar Main
// -----------------------------------------------------------------------------

body > .sidebar-main{
    .clearfix();
    .unitize(padding-bottom, 20);
    
    border-right: @sidebar-main--border-color;
}



// Navigation Headline
// -----------------------------------------------------------------------------

.navigation--headline{
    .unitize-padding(16, 10, 6, 10);
    margin: 0;

    font-weight: @font-weight--bold;
    font-size: 1em;
    .unitize(line-height, 26);

    color: 
        @navigation--headline--color;
    background:
        @navigation--headline--bg;
}



// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    // Campaign box
    // ---------------------------------------------------------------------
    
    .campaign--box{
        display: block;
        .unitize-margin(0, 0, 20, 0);
    }
    
    
    
    // Mobile switches
    // ---------------------------------------------------------------------
    
    .mobile--switches{
        display: none;
    }
    
    
    
    // Offcanvas overlay
    // ---------------------------------------------------------------------
    
    .offcanvas--overlay{
        display: none;
    }
    
    
    
    // Sidebar Main
    // ---------------------------------------------------------------------
    
    .sidebar-main{
        float: left;
        
        display: none;
    	.unitize-width(230);
        
        //.unitize(padding-top, 20);
        .unitize-margin(0, 0);

        // Hide Elements
        .entry--close-off-canvas,
        .icon--arrow-right,
        .icon--arrow-left,
        .filter--container,
        .navigation--smartphone{
            display: none;
        }
        
        // Hide Sidebar
        .is--ctl-blog &,
        .is--ctl-note &,
        .is--ctl-index &,
        .is--ctl-detail &,
        .is--ctl-search &,
        .is--ctl-checkout &,
        .is--ctl-register &,
        .is--ctl-campaign &,
        .is--ctl-account.is--act-logout &,
        .is--ctl-account.is--act-password &,
        .is--ctl-account.is--act-resetPassword &,
        .is--ctl-listing.is--no-sidebar &{
            display: none;

            & + .content--wrapper{
                margin: 0;
            }
        }
        
        // Display Sidebar
        .is--ctl-listing &,
        .is--ctl-forms &,
        .is--ctl-tellafriend &,
        .is--ctl-newsletter &,
        .is--ctl-sitemap &,
        .is--ctl-custom &,
        .is--ctl-note.is--user &,
        .is--ctl-account.is--user &{
            display: block;

            & + .content--wrapper{
                .unitize(margin-left, 260);
            }
        }
        // Hide Sidebar Elements
        .is--ctl-note &,
        .is--ctl-account &{
            .categories--headline,
            .sidebar--categories-navigation,
            .shop-sites--container{
                display: none;
            }
        }
        .is--ctl-forms &,
        .is--ctl-custom &{
            .categories--headline,
            .sidebar--categories-navigation{
                display: none;
            }
            .shop-sites--container{
                display: block;
            }
        }
        
        .sidebar--categories-wrapper{
            display: block;
        }
        .shop-sites--container{
            display: none;
        }
        &.off-canvas{
            background: 
                transparent;
        }
    }

    
    
    // Sidebar Navigation
    // ---------------------------------------------------------------------
    
    .sidebar--navigation{
        .border-radius(@sidebar--navigation--border-radius);

        background:
            @sidebar--navigation--bg;

        .navigation--entry{
            padding: 0; margin: 0;
        }
        .navigation--link{
            display: block;
            .unitize-padding(10, 10);
            
            color:
                @navigation--link--color;
            background:
                @navigation--link--bg;
            
            &:hover,&.is--active{
                color:
                    @navigation--link--hover-color;
                background:
                    @navigation--link--hover-bg;
            }
            &.is--active{
                font-weight: bold;
            }
            .is--icon-right{
                display: none;
            }
        }
        
        .navigation--link{
            .unitize-padding(10, 10);
            line-height: inherit;
        }
        
        ul.sidebar--navigation{
            .reset-border-radius();
        }

        .is--level1{
            .unitize(margin-bottom, 10);

            .navigation--link{
                .unitize-padding(10, 10, 10, 15);
            }
        }
        .is--level2{
            .unitize(font-size, 12);
            
            .navigation--link{
                .unitize-padding(10, 10, 10, 20);
            }
        }
    }
    
    
    
    // Navigation Headline
    // ---------------------------------------------------------------------
    .navigation--headline{
        .unitize-padding(10,10,10,10);

        color: 
            @brand-primary;
        background:
            @brand-secondary-dark;
    }
    
    
    
    // Categories Navigation
    // ---------------------------------------------------------------------
    
    .categories--headline{
        display: none;
    }
    .sidebar--categories-navigation{
        .unitize(margin-bottom, 20);
    }
    
    
    
    // Shop Sites Container
    // ---------------------------------------------------------------------
    
    .shop-sites--container{
        //.unitize-padding(15, 10);
        //.unitize(margin-bottom, 20);
        
        //border: 1px solid @shop-sites--container--border-color;
        
        color:
            @shop-sites--container--color;
        background:
            @shop-sites--container--bg;

        .shop-sites--headline{
            
        }

        .shop-sites--navigation,
        .navigation--entry{
            border: 0 none;

            .navigation--link{
                .unitize-padding(5, 10);
            }
        }
    }
    
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    // Sidebar Main
    // ---------------------------------------------------------------------
    
    .sidebar-main{
        display: block;

        &.off-canvas{
            position: relative;
            top: 0; left: 0;
            z-index: @sidebar--z-index--desktop-viewport;
        }
    }
}