// sitemap.less
// =============================================================================

// Contains the styles for the the Sitemap.
// The sitemap page shows all categories and subpages of the shop in an overview.
// The sitemap link is located in the footer information column.

// @package     Grace & Holmes
// @since       1.0



.sitemap--content{
    .unitize(margin-top, 10);

    .sitemap--headline{
        .unitize(margin-bottom, 10);

        .sitemap--title{
            margin-top: 0;
        }

        .sitemap--headline-text {
            .unitize(margin-bottom, 0);
        }
    }

    .sitemap--category{
        .unitize(min-height, 60);
        .unitize(padding-bottom, 10);
        
        .unitize(margin-bottom, 16);
        
        background-color: 
            @gray-light;

        .sitemap--navigation-link{
            display: block;
            .unitize-padding(4, 0, 4, 20);
            
            color: 
                @text-color;

            &:hover{
                color: 
                    @brand-primary;
            }
        }
    }
    .sitemap--navigation-entry-inner{
        .sitemap--navigation-link{
            .unitize(padding-left, 35);
        }

    }
    .sitemap--navigation-head{
        .unitize-padding(4, 10, 4, 10);
        
        .unitize(margin-bottom, 8);
        
        background: 
            @brand-secondary;

        .sitemap--navigation-head-link{
            color: #fff;
        }
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .sitemap--content{
        .unitize(margin-top, 20);

        .sitemap--headline{
            .unitize(margin-bottom, 20);
        }
        .sitemap--category{
            float: left;
            width: 49%;
            
            margin-right: 2%;

            &:last-child,
            &:nth-child(2){
                .unitize(margin-right, 0);
            }
        }
    }
}

// Tablet landscape viewport width
// =============================================================================

@media screen and(min-width: @tablet-landscape--viewport-width){
    
    .sitemap--content{
        .sitemap--category{
            float: left;
            width: 24%;
            
            margin-right: 1.25%;

            &:last-child{
                .unitize(margin-right, 0);
            }
            &:nth-child(2){
                margin-right: 1.25%;
            }
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .sitemap--content{
        .unitize(margin-top, 45);
    }
}