// tell-a-friend.less
// =============================================================================

// Contains the tell-a-friend element styling that can be used to share products.
// The option can be enabled in the Shopware backend and is disabled by default.

// @package     Grace & Holmes
// @since       1.0



.tellafriend--content{
    width: 100%;
    .unitize(padding-top, 10);

    .tellafriend--field{
        width: 100%;
        .unitize-margin(0, 0, 10, 0);
    }

    .tellafriend--buttons{
        .clearfix();
    }

    .captcha--placeholder{
        .unitize(margin-bottom, 10);
    }

    .captcha--notice{
        display: block;
        .unitize(margin-bottom, 10);
    }

    .alert{
        .unitize(margin-top, 30);
    }

    .review--notice{
        .unitize(margin-bottom, 10);
        .unitize(font-size, 14);
    }
}

// Tablet viewport width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    .tellafriend--content{
        width: 100%;
        .unitize(padding-top, 20);

        .tellafriend--field{
            .unitize(margin-bottom, 15);
        }

        .alert{
            .unitize-margin(0, 0, 16, 0);
        }
    }
}

// Desktop viewport width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){

    .tellafriend--content{
        .unitize(padding-top, 45);
    }
}