// components.less
// =============================================================================

// The 'components.less' contains the imports to all styled elements of Shopware.
// The files are destinated inside the '_components' folder.

// @package     Grace & Holmes
// @since       1.0



// Icon sets
@import "_components/flags";                //complete
@import "_components/icon-set";             //complete

// Buttons
@import "_components/buttons";              //complete

// Container
@import "_components/container";            //complete

// Form
@import "_components/form";                 //complete
@import "_components/checkbox";             //complete
@import "_components/fields";               //complete
@import "_components/label";                //complete

// Lists
@import "_components/lists";                //complete
@import "_components/navigation-list";      //complete

// Tables
@import "_components/tables";               //complete

// Alert
@import "_components/alert";                //complete

// Badge & Ribbon
@import "_components/badge";                //complete
@import "_components/ribbon";               //complete

// Delivery Information
@import "_components/delivery-information"; //complete

// Tag Cloud
@import "_components/tag-cloud";            //complete

// Panel
@import "_components/panel";                //complete

.js--mobile-tab-panel{
    .navigation--entry{
        display: block;
        .unitize-margin(0, 0, 6, 0);

        & > [class^=content]{
            .unitize-padding(10, 10);
            border: 1px solid @border-color;
            border-top: 0 none;
        }
    }

    .navigation--link{
        .unitize-padding(5, 10, 5, 10);
        border: 1px solid @border-color;
        
        margin: 0;
        
        font-weight: @font-weight--normal;
        text-align: left;

        &:after,
        &::after{
            content: '+';
        
            .unitize(font-size, 16);
            font-weight: @font-weight--bold;
            
            position: absolute;
            .unitize(right, 8);
        }
        &.is--active{
            top: 0;
            cursor: default
        }
        &.is--active:after,
        &.is--active::after{
            content: '-';
        }
    }
}

// Off Canvas
@import "_components/offcanvas-menu";       //complete
@import "_components/offcanvas-button";     //complete

// Collapse
@import "_components/collapse";             //complete
@import "_components/collapse-cart";        //complete

// Filter Panel
@import "_components/filter-panel";         //

// Product
@import "_components/product-quick-view";   //complete
@import "_components/product-slider";       //complete
@import "_components/last-seen-products";   //complete

// JavaScripts / jQuery UIs
@import "_components/datepicker";           //complete
@import "_components/loading-indicator";    //complete
@import "_components/menu-scroller";        //complete
@import "_components/modal";                //complete
@import "_components/overlay";              //complete
@import "_components/range-slider";         //complete
@import "_components/tab-menu";             //complete

// Image -Gallery & -Slider / Lightbox
@import "_components/image-zoom";           //complete
@import "_components/image-slider";         //complete
@import "_components/image-gallery";        //complete
@import "_components/lightbox";             //complete

// Emotions
@import "_components/emotions";             //complete