// colors.less
// =============================================================================

// @package     Grace & Holmes
// @since       1.0



@white: #FFFFFF;
@black: #000000;

@gray:                          #F5F5F8;
@gray-light:                    lighten(@gray, 10%);
@gray-dark:                     darken(@gray, 10%);


@border-color:                  #4A6A70;

@text-color-light:              @white;
@text-color:                    @black;
@text-color-dark:               @black;


@brand-primary:                 #A78659;
@brand-primary-light:           #b88f9b;

@brand-secondary:               #222222;
@brand-secondary-dark:          @black;


@highlight-success:             #2ECC71;
@highlight-error:               #E74C3C;
@highlight-notice:              #A78659;
@highlight-info:                #4AA3DF;



@badge-sold-color:              @white;
@badge-sold-bg:                 @brand-primary;

@badge-upcoming-color:          @white;
@badge-upcoming-bg:             @brand-primary;

@badge-discount-bg:             @highlight-error;
@badge-discount-color:          @white;

@badge-newcomer-bg:             @black;
@badge-newcomer-color:          @white;

@badge-recommendation-bg:       @brand-primary-light;
@badge-recommendation-color:    @white;

@badge-download-bg:             @brand-primary-light;
@badge-download-color:          @white;