/* Modules
 * =============================================================================
 */

// -----------------------------------------------------------------------------

// Input
@input-font-size:       @input-bg;

@input-bg:                  @white;
@input-color:               @brand-secondary-dark;
@input-placeholder-color:   @brand-secondary;
@input-border:              @border-color;

@input-focus-bg:            @white;
@input-focus-border:        @brand-secondary-dark;
@input-focus-color:         @brand-secondary-dark;

@input-error-bg:            desaturate(lighten(@highlight-error, 40%), 20%);
@input-error-border:        @highlight-error;
@input-error-color:         @highlight-error;

@input-success-bg:          @white;
@input-success-border:      @highlight-success;
@input-success-color:       @brand-secondary;