// structure.less
// =============================================================================

// The variables define the widths for the different viewports.

// @package     Grace & Holmes
// @since       1.0



@phone--viewport-width:             20em;       // 320px
@phone-landscape--viewport-width:   30em;       // 480px
@tablet--viewport-width:            48em;       // 768px
@tablet-landscape--viewport-width:  64em;       // 1024px
@desktop--viewport-width:           78.75em;    // 1260px

// Original values from responsive template
@phoneLandscapeViewportWidth: 30em;     // 480px
@tabletViewportWidth: 48em;             // 768px
@tabletLandscapeViewportWidth: 64em;    // 1024px
@desktopViewportWidth: 78.75em;         // 1260px

@max-width:                     1160px;
@min-width:                     @phone--viewport-width;