// styles.less
// =============================================================================

// @package     Grace & Holmes
// @since       1.0



// Components
// =============================================================================


// alert.less
// -----------------------------------------------------------------------------

@alert--success--color:     @highlight-success;
@alert--success--icon--bg:  @highlight-success;
@alert--success--bg:        desaturate(lighten(@highlight-success, 40%), 10%);

@alert--info--color:        @highlight-info;
@alert--info--icon--bg:     @highlight-info;
@alert--info--bg:           desaturate(lighten(@highlight-info, 40%), 10%);
    
@alert--warning--color:     @highlight-notice;
@alert--warning--icon--bg:  @highlight-notice;
@alert--warning--bg:        desaturate(lighten(@highlight-notice, 40%), 10%);

@alert--error--color:       @highlight-error;
@alert--error--icon--bg:    @highlight-error;
@alert--error--bg:          desaturate(lighten(@highlight-error, 40%), 10%);


// badge.less
// -----------------------------------------------------------------------------
    
@badge--border-radius:          50px;
@badge--z-index:                500;    

@badge-default--color:          @white;
@badge-default--border-color:   @brand-primary;
@badge-default--bg:             @brand-primary;

@badge-primary--color:          @white;
@badge-primary--border-color:   @brand-primary;
@badge-primary--bg:             @brand-primary;

@badge-secondary--color:        @white;
@badge-secondary--border-color: @brand-secondary-dark;
@badge-secondary--bg:           @brand-secondary-dark;


// buttons.less
// -----------------------------------------------------------------------------

@btn--border-radius:            0px;

@btn--font-size:                14;
@btn--font-size--large:         16;

@btn--icon-size:                10;


@btn-default--color:                @text-color;
@btn-default--border-color:         @border-color;
@btn-default--bg:                   none @body--bg;

@btn-default--hover-color:          @link--color;
@btn-default--hover-border-color:   @link--color;
@btn-default--hover-bg:             none @body--bg;


@btn-primary--color:                @text-color-light;
@btn-primary--border-color:         @text-color-light;
@btn-primary--bg:                   none @brand-primary;

@btn-primary--hover-color:          @text-color;
@btn-primary--hover-border-color:   @brand-primary;
@btn-primary--hover-bg:             none @brand-primary;


@btn-secondary--color:              @text-color-light;
@btn-secondary--border-color:       @brand-secondary-dark;
@btn-secondary--bg:                 none @brand-secondary-dark;

@btn-secondary--hover-color:        @link--color;
@btn-secondary--hover-border-color: @brand-secondary-dark;
@btn-secondary--hover-bg:           none @brand-secondary-dark;


// checkbox.less
// -----------------------------------------------------------------------------

@checkbox--state--z-index:          60;
@checkbox--element--z-index:        65;

@checkbox--state--border-radius:    0px;

@checkbox--state--border-color:     @brand-secondary-dark;


// collapse-cart.less
// -----------------------------------------------------------------------------

@collapse--cart--z-index:               3000;
@collapse--cart--off-canvas--z-index:   3000;

@ajax--cart--icon--loading-indicator--color:    @brand-secondary-dark;

@ajax--cart--border-radius:             0px;

@ajax--cart--color:                     @text-color;
@ajax--cart--border-color:              @brand-secondary-dark;
@ajax--cart--bg:                        @body--bg;

@off-canvas--ajax--cart--color:         @off-canvas--color;
@off-canvas--ajax--cart--border-color:  @off-canvas--color;
@off-canvas--ajax--cart--bg:            @off-canvas--bg;


// collapse.less
// -----------------------------------------------------------------------------

@collapse--header--z-index:         1100;
@collapse--header--active-z-index:  1300;

@collapse--header--border-radius:   0px;

@collapse--header--box-shadow:          0 0 0 0 transparent;
@collapse--header--active-box-shadow:   0 0 0 0 transparent;

@collapse--header--color:           @text-color;
@collapse--header--border-color:        @border-color;
@collapse--header--bg:              @body--bg;

@collapse--header--hover-color:     @brand-primary;

@collapse--header--active-color:    @brand-primary;
@collapse--header--active-border-color: @brand-primary;
@collapse--header--active-bg:       @body--bg;


@collapse--content--z-index:                1000;
@collapse--content--collapsed-z-index:      1200;

@collapse--content--box-shadow:             0 0 0 0 transparent;

@collapse--content--border-radius-multi:    0, 0, 0px, 0px;

@collapse--content--color:                  @text-color;
@collapse--content--border-color:           @gray;
@collapse--content--bg:                     @body--bg;


// container.less
// -----------------------------------------------------------------------------

@container-width--phone:            @min-width;
@container-width--phone-landscape:  480px;
@container-width--tablet:           760px;
@container-width--tablet-landscape: 1000px;
@container-width--desktop:          @max-width;


// datepicker.less
// -----------------------------------------------------------------------------

@datepicker--z-index:       1000;

@datepicker--border-radius: 0px;

@datepicker--border-color:  @border-color;
@datepicker--bg:            @gray;

@datepicker--header--box-shadow:    0 0 0 0 transparent;

@datepicker--header--color:         @text-color;
@datepicker--header--bg:            @brand-primary;

@datepicker--th--color:         @text-color;
@datepicker--th--bg:            @gray;

@datepicker--td--color:         @text-color;
@datepicker--td--bg:            @gray;

@datepicker--current-day--color:    @text-color;
@datepicker--current-day--bg:       none;

@datepicker--week-end--color:       @text-color;
@datepicker--week-end--bg:          none;


// delivery-information.less
// -----------------------------------------------------------------------------

@product--delivery--shipping-free--color:   @highlight-info;
@product--delivery--shipping-free--bg:      @highlight-info;

@product--delivery--available--color:       @highlight-success;
@product--delivery--available--bg:          @highlight-success;

@product--delivery--more-is-coming--color:  @highlight-notice;
@product--delivery--more-is-coming--bg:     @highlight-notice;

@product--delivery--not-available--color:   @highlight-error;
@product--delivery--not-available--bg:      @highlight-error;


// emotions.less
// -----------------------------------------------------------------------------

// ---


// fields.less
// -----------------------------------------------------------------------------

@input--font-size:              14;

@input--placeholder-color:      #777;

@input--color:                  @text-color;
@input--border-color:           @border-color;
@input--bg:                     @white;

@input--focus-color:            @text-color;
@input--focus-border-color:     @brand-primary;
@input--focus-bg:               @white;

@input--error-color:            @highlight-error;
@input--error-border-color:     @highlight-error;
@input--error-bg:               desaturate(lighten(@highlight-error, 40%), 20%);

@input--success-color:          @highlight-success;
@input--success-border-color:   @highlight-success;
@input--success-bg:             @white;


@fancy-select--z-index:                 1000;

@fancy-select--border-radius:           0px;

@fancy-select--color:                   @text-color;
@fancy-select--border-color:            @border-color;
@fancy-select--bg:                      none transparent;

@fancy-select--hover-color:             @link--color;
@fancy-select--hover-border-color:      @link--color;
@fancy-select--hover-bg:                none transparent;

@fancy-select--focused-color:           @link--color;
@fancy-select--focused-border-color:    @link--color;
@fancy-select--focused-bg:              none transparent;

@fancy-select--error--color:            @input--error-color;
@fancy-select--error--border-color:     @input--error-border-color;
@fancy-select--error--bg:               @input--error-bg;

@fancy-select--option--color:           @text-color;


// filter-panel.less
// -----------------------------------------------------------------------------

// ---


// flags.less
// -----------------------------------------------------------------------------

@language--flag--bg:        url("../../img/ico-flags.png") no-repeat 0 0;         


// form.less
// -----------------------------------------------------------------------------

@fieldset--border-color:    @border-color;


// icon-set.less
// -----------------------------------------------------------------------------

@icon--account--bg-image:   url(../../img/account.png);
@icon--basket--bg-image:    url(../../img/basket.png);
@icon--mail--bg-image:      url(../../img/newsletter.png);


// image-gallery.less
// -----------------------------------------------------------------------------

@image--gallery--button--z-index:           1;
@image--gallery--button--border-radius:     0px;

@image--gallery--slider--thumbnails--bg:    @white;


// image-slider.less
// -----------------------------------------------------------------------------

@image-slider--z-index:                     1000;


@image-slider--arrow--z-index:              1000;

@image-slider--arrow--border-radius:        0px;

@image-slider--arrow--color:                @text-color;
@image-slider--arrow--border-color:         @border-color;
@image-slider--arrow--bg:                   @white;

@image-slider--arrow--hover--color:         @brand-primary;
@image-slider--arrow--hover-border-color:   @brand-primary;
@image-slider--arrow--hover--bg:            @white;


@image-slider--dot-link--bg:                    @white;

@image-slider--dot-link--border-color:          @border-color;
@image-slider--dot-link--hover-border-color:    @brand-primary-light;
@image-slider--dot-link--active-border-color:   @brand-primary;


@image-slider--thumbnails--border-radius:       0px;

@image-slider--thumbnails--border-color:        transparent;
@image-slider--thumbnails--hover-border-color:  @border-color;
@image-slider--thumbnails--active-border-color: @brand-primary;


@image-slider--thumbnails--arrow--border-radius:        0px;

@image-slider--thumbnails--arrow--border-color:         @border-color;
@image-slider--thumbnails--arrow--color:                @text-color;
@image-slider--thumbnails--arrow--bg:                   @white;

@image-slider--thumbnails--arrow--hover-border-color:   @brand-primary;
@image-slider--thumbnails--arrow--hover-color:          @brand-primary;
@image-slider--thumbnails--arrow--hover-bg:             @white;


// image-zoom.less
// -----------------------------------------------------------------------------

@js--img-zoom--lens--border-radius:     0px;
@js--img-zoom--lens--border-color:      @brand-primary;
@js--img-zoom--lens--bg:                rgba(255,255,255,0.25);


@js--img-zoom--flyout--z-index:         2500;

@js--img-zoom--flyout--border-radius:   0px;
@js--img-zoom--flyout--border-color:    @brand-primary;
@js--img-zoom--flyout--bg:              @white;


@js--img-zoom--title--color:            @text-color-light;
@js--img-zoom--title--bg:               @brand-primary;


// label.less
// -----------------------------------------------------------------------------

@label--font-size:              @font-size--base;

@label--color:                  @text-color;
@label--bg:                     none transparent;

@label--highlight-success--bg:  @highlight-success;
@label--highlight-info--bg:     @highlight-info;
@label--highlight-warning--bg:  @highlight-notice;
@label--highlight-error--bg:    @highlight-error;


// last-seen-products.less
// -----------------------------------------------------------------------------

@last-seen-products--color:     @text-color;

@last-seen-products--slider--border-radius:     0px;
@last-seen-products--slider--bg:                @body--bg;



// lightbox.less
// -----------------------------------------------------------------------------

@lightbox--container--bg:       @white;


// lists.less
// -----------------------------------------------------------------------------

// ---


// loading-indicator.less
// -----------------------------------------------------------------------------

@js--loading-indicator--z-index:        6000;
@js--loading-indicator--border-color:   @brand-secondary-dark;


// menu-scroller.less
// -----------------------------------------------------------------------------

@js--menu-scroller--arrow--z-index:         750;

@js--menu-scroller--arrow--border-radius:   0px;

@js--menu-scroller--arrow--color:           @btn-default--color;
@js--menu-scroller--arrow--border-color:    @btn-default--border-color;
@js--menu-scroller--arrow--bg:              @btn-default--bg;

@js--menu-scroller--arrow--hover-color:         @btn-default--hover-color;
@js--menu-scroller--arrow--hover-border-color:  @btn-default--hover-border-color;
@js--menu-scroller--arrow--hover-bg:            @btn-default--hover-bg;


// modal.less
// -----------------------------------------------------------------------------

@js--modal--z-index:            7000;

@js--modal--border-radius:      0px;

@js--modal--box-shadow:         0 0 0 0 transparent;
@js--modal--bg:                 padding-box @white;

@js--modal--header--border-color:   @border-color;


// navigation-list.less
// -----------------------------------------------------------------------------

// ---


// offcanvas-button.less
// -----------------------------------------------------------------------------

@js--off-canvas-button--border-radius:      0px;
@js--off-canvas-button--border-color:       @panel--border-color;

@js--off-canvas-button--tab-title--color:       @text-color;
@js--off-canvas-button--tab-title--hover-color: @brand-primary;


// offcanvas-menu.less
// -----------------------------------------------------------------------------

@page-wrap--transition:
    left @constant--transition cubic-bezier(.16,.04,.14,1);
    

@off-canvas--z-index:           9990;

@off-canvas--transition:
    all @constant--transition cubic-bezier(.3,0,.15,1);

@off-canvas--color:             @text-color;
@off-canvas--bg:                @white;
    
@off-canvas--navigation--link--transition:
    color @fast--transition, background @fast--transition;
    

@close-off-canvas--color:       @text-color-light;
@close-off-canvas--bg:          @brand-secondary-dark;

@off-canvas--overlay--z-index:              1500;
@off-canvas--overlay--background--z-index:  1400;

@off-canvas--overlay--color:            @text-color;
@off-canvas--overlay--bg:               @white;

@off-canvas--overlay--headline--color:  @text-color;       
@off-canvas--overlay--headline--bg:     none transparent;

@off-canvas--overlay--headline--link--color:        inherit; 
@off-canvas--overlay--headline--link--hover-color:  @brand-primary; 

@off-canvas--overlay--category--headline--color:    @text-color;


// overlay.less
// -----------------------------------------------------------------------------

@overlay--bg:            @brand-secondary-dark;
@overlay--opacity:       0.7;

@overlay--z-index:      2490;


// panel.less
// -----------------------------------------------------------------------------

@panel--box-shadow:             0 0 0 0 transparent;
@panel--border-color:           @border-color;
@panel--bg:                     @body--bg;


@panel--table-header--color:    @text-color;
@panel--table-header--bg:       @panel--bg;


@panel-header--font-size:    18;

@panel-header--border-color: @panel--border-color;
@panel-header--color:        @text-color;
@panel-header--bg:           none transparent;

@panel-header--primary-border-color: @panel--border-color;
@panel-header--primary-color:        @text-color;
@panel-header--primary-bg:           none transparent;

@panel-header--secondary-border-color: @panel--border-color;
@panel-header--secondary-color:        @text-color;
@panel-header--secondary-bg:           none transparent;


@panel--title--border-color:        @panel--border-color;
@panel--title--color:               @text-color;

@panel--title--primary-color:       @text-color;

@panel--title--secondary-color:     @text-color;


@panel--body--bg:           @panel--bg;
@panel--body--flat-bg:      @gray;
@panel--body--embossed-bg:  @gray;


@panel--actions--border-color:      @panel--border-color;


@panel--table--border-color:        @panel--border-color;

@panel--tr--primary-color:          @brand-primary;
@panel--tr--bg:                     @panel--bg;

@panel--th--color:                  @text-color;


@panel--list--border-color:     @panel--border-color;

@panel--list--primary-color:    @brand-primary;

@panel--list--secondary-bg:     @gray;


@panel--arrow--z-index:     2000;

@panel--arrow--border-radius:   0px;
@panel--arrow--border-color:    @panel--border-color;

@panel--arrow--color:           @text-color;
@panel--arrow--hover-color:     @brand-primary;

@panel--arrow--bg:              @panel--bg;


@panel--dot-nav--border-radius:     11px;
@panel--dot-nav--border-color:      @panel--border-color;

@panel--dot-nav--active-border-color:       @brand-primary;
@panel--dot-nav--active-bg:                 @brand-primary;


@panel--tab-nav--link--z-index: 2000;

@panel--tab-nav--link--border-radius-multi: 3px, 3px, 0, 0;
@panel--tab-nav--link--border-color:        @panel--border-color;

@panel--tab-nav--link--color:               @link--color;
@panel--tab-nav--link--hover-color:         @link--color;
@panel--tab-nav--link--active-color:        @text-color;

@panel--tab-nav--link--bg:                  @panel--bg;
@panel--tab-nav--link--active-bg:           @panel--bg;


@panel--paging-link--border-radius:     0px;
@panel--paging-link--border-color:      @btn-default--border-color;
@panel--paging-link--color:             @btn-default--color;
@panel--paging-link--bg:                @btn-default--bg;

@panel--paging-link--hover-border-color:    @btn-primary--border-color;
@panel--paging-link--hover-color:           @btn-primary--color;
@panel--paging-link--hover-bg:              @btn-primary--bg;

@panel--paging-link--active-color:      @btn-primary--color;
@panel--paging-link--active-bg:         @btn-primary--bg;


@panel--filter-btn--box-shadow:     0 1px 1px 0 rgba(0, 0, 0, 0.05);
@panel--filter-btn--border-radius:  0px;

@panel--filter-btn--border-color:   #c7cfda;
@panel--filter-btn--color:          @text-color;
@panel--filter-btn--bg:             @panel--bg;

@panel--filter-btn--hover-color:    @brand-primary;


@panel--filter-select--box-shadow:      0 1px 1px 0 rgba(0, 0, 0, 0.05);
@panel--filter-select--border-radius:   0px;

@panel--filter-select--border-color:    @border-color;
@panel--filter-select--color:           @text-color;
@panel--filter-select--bg:              @panel--bg;


// product-quick-view.less
// -----------------------------------------------------------------------------

@quick-view--image--border-radius:  0px;
@quick-view--image--border-color:   @border-color;

@quick-view--title--color:          @text-color;
@quick-view--title--hover-color:    @brand-primary;

@quick-view--description--color:    @text-color;

@quick-view--description-title--border-color:   @border-color;
@quick-view--description-title--color:          @text-color;


// product-slider.less
// -----------------------------------------------------------------------------

@product-slider--arrow--z-index:    750;

@product-slider--arrow--border-radius:  0px;
@product-slider--arrow--border-color:       @border-color;
@product-slider--arrow--hover-border-color: @brand-primary;

@product-slider--arrow--color:              @text-color;
@product-slider--arrow--hover-color:        @brand-primary;

@product-slider--arrow--bg:                 @white;
@product-slider--arrow--hover-bg:           @white;


// range-slider.less
// -----------------------------------------------------------------------------

@range-slider--container--box-shadow:       inset 0 0 0 0 transparent;

@range-slider--container--border-radius:    0px;
@range-slider--container--border-color:     @border-color;

@range-slider--container--bg:               @white;


@range-slider--range-bar--bg:           @brand-primary;
@range-slider--range-bar--box-shadow:   inset 0 0 0 transparent;


@range-slider--handle--border-radius:       0px;
@range-slider--handle--border-color:        @border-color;
@range-slider--handle--hover-border-color:  @brand-primary;


// ribbon.less
// -----------------------------------------------------------------------------

@ribbon--z-index:                   750;

@ribbon--content--green--color:     @badge-recommendation-color;
@ribbon--content--green--bg:        @badge-recommendation-bg;

@ribbon--content--orange--color:    @badge-newcomer-color;
@ribbon--content--orange--bg:       @badge-newcomer-bg;


// tab-menu.less
// -----------------------------------------------------------------------------

@js--tab-menu--link--border-radius-multi:   0px, 0px, 0, 0;

@js--tab-menu--link--color:                 @text-color;
@js--tab-menu--link--border-color:          transparent;
@js--tab-menu--link--bg:                    @body--bg;

@js--tab-menu--link--hover-color:           @link--color;
@js--tab-menu--link--hover-border-color:    transparent;
@js--tab-menu--link--hover-bg:              @body--bg;

@js--tab-menu--link--active-color:          @link--color;
@js--tab-menu--link--active-border-color:   @link--color;
@js--tab-menu--link--active-bg:             @body--bg;


@js--menu-scroller--border-radius:      0px;

@js--menu-scroller--border-color:       @border-color;
@js--menu-scroller--hover-border-color: @link--color;


// tables.less
// -----------------------------------------------------------------------------

@table-row--bg:              @white;
@table-row--color:           @brand-secondary;
@table-row--highlight-bg:    darken(@table-row--bg, 4%);

@table-header--bg:           @white;
@table-header--color:        @black;


// tag-cloud.less
// -----------------------------------------------------------------------------

@tagcloud--link--color:         @text-color;
@tagcloud--link--hover-color:   @link--color;



// Modules
// =============================================================================


// blog.less
// -----------------------------------------------------------------------------

@blog--sidebar--collapse-header--color:                     @text-color;
@blog--sidebar--collapse-header--hover-color:               @brand-primary;
@blog--sidebar--collapse-header--active-color:              @brand-primary;

@blog--sidebar--collapse-header--bg:                        transparent;

@blog--sidebar--collapse-content--border-color:    @gray;
@blog--sidebar--collapse-content--bg:              transparent;

@blog--sidebar--collapse-content--filter-link--color:           @text-color;
@blog--sidebar--collapse-content--filter-link--hover-color:     @brand-primary;
@blog--sidebar--collapse-content--filter-link--active-color:    @brand-primary;

@blog--filter-options--border-color:        @gray;

@blog--filter--close-btn--color:            @text-color-light;
@blog--filter--close-btn--bg:               @brand-secondary-dark;

@blog--filter--close-btn--hover-color:      @text-color-light;
@blog--filter--close-btn--hover-bg:         @brand-secondary-dark;

@blog--filter--headline--color:             @text-color;

@blog--filter--entry--border-color:     @gray;
@blog--filter--entry--color:            @text-color;
@blog--filter--entry--bg:               none transparent;

@blog--filter--link--color:             @text-color;
@blog--filter--link--hover-color:       @brand-primary;

@blog--box-metadata--border-color:          @border-color;

@blog--box-metadata--rating--color:         @text-color;

// note.less
// -----------------------------------------------------------------------------


// payment.less
// -----------------------------------------------------------------------------


// product-box.less
// -----------------------------------------------------------------------------


// register.less
// -----------------------------------------------------------------------------


// search.less
// -----------------------------------------------------------------------------


// sidebar.less
// -----------------------------------------------------------------------------

@sidebar--ajax-loader--border-color:    @brand-primary;

@mobile--switches--color:           @text-color-light;
@mobile--switches--bg:              @brand-secondary-dark;

@navigation--entry--color:          @text-color-dark;
@navigation--entry--bg:             transparent;

@navigation--link--color:           @text-color-dark;
@navigation--link--bg:              transparent;
    
@navigation--link--hover-color:     @brand-primary;
@navigation--link--hover-bg:        transparent;

@navigation--link--active-color:    @brand-primary;
@navigation--link--active-bg:       @brand-secondary-dark;

@sidebar-main--border-color:        @brand-secondary-dark;
    
@navigation--headline--color:       @brand-primary;
@navigation--headline--bg:          transparent;
    
@sidebar--navigation--border-radius:    0px;
@sidebar--navigation--border-color:     @border-color;
@sidebar--navigation--bg:               @body--bg;

@shop-sites--container--border-color:   @brand-secondary-dark;
@shop-sites--container--color:          @text-color;
@shop-sites--container--bg:             none;
    
@sidebar--z-index--desktop-viewport:    1000;


// sitemap.less
// -----------------------------------------------------------------------------


// tell-a-friend.less
// -----------------------------------------------------------------------------


// top-seller.less
// -----------------------------------------------------------------------------


