// transition.less
// =============================================================================

// @package     Grace & Holmes
// @since       1.0



@fast--transition:          0.2s;
@constant--transition:      0.4s;
@slow--transition:          0.6s;