// typography.less
// =============================================================================

// The variables define the sizes and weights for typographic elements.
// The values can be changed with the backend theme manager.

// @package     Grace & Holmes
// @since       1.0



// Shopware font directory
@font-directory:   "../../fonts/";

// Open Sans font directory
@OpenSansPath:   "../../fonts/open-sans-fontface";

// Font Weights
@font-weight--light:    300;
@font-weight--normal:   500;
@font-weight--semibold: 600;
@font-weight--bold:     700;