// zindex.less
// =============================================================================

// The z-index variables list all different values for the z-index layers used
// inside the Shopware responsive theme.

// @package     Grace & Holmes
// @since       1.0

// cart.less
@zindex-cart-product-image-element: 500;
@zindex-cart-premium-product-badge: 750;

// listing.less
@zindex-listing-filter-header: 1100;
@zindex-listing-filter-header-active: 1300;

// product-box.less
@zindex-product-box-image-element: 500;
@zindex-product-box-product-badge: 750;