// alert.less
// =============================================================================

// Displays an alert box for status messages to the user.
// Alerts always have to have the '.alert' class assigned, and in addition one of four color schemes.

// @package     Grace & Holmes
// @since       1.0

// Options: ----------------------------------------------------------------

// is--success, 
// is--info, is--warning, is--error.

// -------------------------------------------------------------------------

// Examples: ---------------------------------------------------------------

// <p class="alert is--success">Success message</p>
// <p class="alert is--info">Info message</p>
// <p class="alert is--warning">Warning message</p>
// <p class="alert is--error">Error message</p>

// -------------------------------------------------------------------------

.alert{
    .clearfix();
    
    position: relative;
    overflow: hidden;
    
    .unitize(font-size, 14);
    .unitize(line-height, 24);

    &.is--success{
        color: 
            @alert--success--color;
        background: 
            @alert--success--bg;
        
        .alert--icon{
            background: 
                @alert--success--icon--bg;
        }
    }
    
    &.is--info{
        color: 
            @alert--info--color;
        background: 
            @alert--info--bg;
        
        .alert--icon{
            background: 
                @alert--info--icon--bg;
        }
    }
    
    &.is--warning{
        color: 
            @alert--warning--color;
        background: 
            @alert--warning--bg;
        
        .alert--icon{
            background: 
                @alert--warning--icon--bg;
        }
    }
    
    &.is--error{
        color: 
            @alert--error--color;
        background: 
            @alert--error--bg;
        
        .alert--icon{
            background: 
                @alert--error--icon--bg;
        }
    }
    
    // With an Icon inside of the box.
    // -------------------------------------------------------------------------
    
    // Examples: -----------------------------------------------------------
    
    // <div class="alert is--success is--rounded">
    //     <div class="alert--icon">
    //     <i class="icon--element icon--check"></i>
    //     </div>
    //     <div class="alert--content">
    //     Success message with Icon
    //     </div>
    // </div>
    // <div class="alert is--warning is--rounded">
    //     <div class="alert--icon">
    //     <i class="icon--element icon--warning"></i>
    //     </div>
    //     <div class="alert--content">
    //     Warning message with Icon
    //     </div>
    // </div>
    
    // ---------------------------------------------------------------------
    
    .icon--element{
        width: 15%;
        margin-top: -9px;
        
        position: absolute;
        top: 50%; left: 0;
    }
    
    .alert--icon, .alert--content{
        float: left;
        .unitize-padding(10, 10);

        p{
            .unitize(margin-bottom, 0); 
        }
    }
    .alert--icon{
        width: 15%;
        
        // Simple faux column technique
        padding-bottom: 9999em;
        margin-bottom: -9999em;
        
        .unitize(font-size, 18);
        font-weight: bold;
        .unitize(line-height, 26);
        text-align: center;
        
        color: 
            #fff;
    }
    .alert--content{
        width: 85%;

        &.is--strong{
            font-weight: bold;
        }
    }
    .alert--list{
        list-style: none;
    }
    .list--entry{
        display: block;
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    .alert{
        .alert--icon, .icon--element{
            width: 8%
        }
        .alert--content{
            width: 92%;
        }
    }
}