// badge.less
// =============================================================================

// Creates a badge to display counts.
// The 'span' can be modified with 3 different color schemes.

// @package     Grace & Holmes
// @since       1.0
 
// Options: ----------------------------------------------------------------
 
// is--primary, 
// is--secondary, 
// is--minimal
 
// ------------------------------------------------------------------------- 
 
// Examples: ---------------------------------------------------------------

// <p><span class="badge is--primary">1</span> Primary Badge</p>
// <p><span class="badge is--secondary">2</span> Secondary Badge</p>
// <p><span class="badge is--minimal">3</span> Minimal Badge</p>

// ------------------------------------------------------------------------- 

.badge{
    display: inline-block;
    
    .box-sizing(content-box);
    
    .unitize-min-width(10); .unitize-height(20);
    .unitize-padding(0, 5);
    
    border: 1px solid;
    .border-radius(@badge--border-radius);
    
    .unitize-margin(0, 5);
    
    z-index: @badge--z-index;
    
    .unitize(font-size, 12);
    font-weight: @font-weight--bold;
    .unitize(line-height, 20);
    
    text-align: center;
    white-space: nowrap;
    
    border-color:
        @badge-default--border-color;
    color: 
        @badge-default--color;
    background: 
        @badge-default--bg;
    
    // Primary badge

    &.is--primary{
        border-color: 
            @badge-primary--border-color;
        color: 
            @badge-primary--color;
        background:
            @badge-primary--bg;
    }
    
    // Secondary badge

    &.is--secondary{
        border-color: 
            @badge-secondary--border-color;
        color: 
            @badge-secondary--color;
        background:
            @badge-secondary--bg;
    }
    
    // Minimal badge
    
    &.is--minimal{
        border: 0 none;
    }
}