// buttons.less
// =============================================================================

// Creates a basic button. Button type classes can be added by using multiple classes on the '.btn' element.
// Adding the class 'is--disabled' changes the element to a disabled button.

// @package     Grace & Holmes
// @since       1.0

// Examples: ---------------------------------------------------------------

// <button class="btn">
//     Basic button
// </button>
// <button class="btn is--disabled">
//     Disabled button
// </button>

// -------------------------------------------------------------------------

.btn{
    display: inline-block;
    .unitize-padding(2, 10);
    
    border: 1px solid;
    .border-radius(@btn--border-radius);
    
    position: relative;

    .unitize(font-size, @btn--font-size);
    font-weight: bold;
    .unitize(line-height, 32);
    
    text-decoration: none;
    text-align: left;
    
    -webkit-font-smoothing: inherit;
    
    cursor: pointer;
    .appearance();
    
    border-color:
        @btn-default--border-color;
    color: 
        @btn-default--color;
    background:
        @btn-default--bg;
    
    [class^="icon--"]{
        .unitize(@btn--icon-size, 16, font-size);
    }
    

    // Icon alignment
    // -------------------------------------------------------------------------
    // To work properly the button needs the class 'is--icon-left' or 'is--icon-right' and an 'icon' inside it.
     
    // Examples: -----------------------------------------------------------
    
    // <button class="btn is--icon-left">
    //     <i class="icon--account"></i>
    //     Icon left
    // </button>
    // <button class="btn is--icon-right">
    //     <i class="icon--account"></i>
    //     Icon right
    // </button>
    
    // ---------------------------------------------------------------------
    
    &.is--icon-right{
        .unitize(padding-right, 36);

        [class^="icon--"]{
            display: block;
            .unitize-height(16);
            
            .unitize-margin(-16, 0, 0, 0);
            
            position: absolute;
            top: 50%; .unitize(right, 12);
            
            font-weight: normal;
            .unitize(line-height, 32);
        }
    }
    &.is--icon-left{
        .unitize(padding-left, 36);

        [class^="icon--"]{
            display: block;
            .unitize-height(16)
            ;
            .unitize-margin(-16, 0, 0, 0);
            
            position: absolute;
            top: 50%; .unitize(left, 12);
            
            font-weight: normal;
            .unitize(line-height, 32);
        }
    }
    &:disabled,
    &:disabled:hover,
    &.is--disabled,
    &.is--disabled:hover{
        .opacity(0.5);
        
        cursor: not-allowed;
        
        border-color: 
            @btn-default--border-color;
        color: 
            @btn-default--color;
        background: 
            @btn-default--bg;
    }
    &:hover{
        border-color: 
            @btn-default--hover-border-color;
        color: 
            @btn-default--hover-color;
        background: 
            @btn-default--hover-bg;
    }
    &:focus{
        outline: none;
    }

    // Button size class
    // -------------------------------------------------------------------------
    // Adding a button-size class creates a larger or smaller button or changes the button properies.
    
    // Options: ------------------------------------------------------------
    
    // is--large, 
    // is--small, 
    // is--full, 
    // is--center
    
    // ---------------------------------------------------------------------
    
    // Examples: -----------------------------------------------------------
    
    // <button class="btn is--large">
    //     Large button
    // </button>
    // <button class="btn is--small">
    //     Small button
    // </button>
    
    // ---------------------------------------------------------------------
    
    &.is--small{
        .unitize(line-height, 28);
    }
    &.is--medium{
        .unitize(height, 38);
        .unitize(line-height, 32);
    }
    &.is--large{
        .unitize(height, 42);
        
        .unitize(font-size, @btn--font-size--large);
        
        .unitize(line-height, 36);
    }
    &.is--full{
        display: block;
    }
    &.is--center{
        text-align: center;
    }
    
}

// Button type class
// -----------------------------------------------------------------------------

// Options: ----------------------------------------------------------------

// is--primary, 
// is--secondary

// -------------------------------------------------------------------------

// Examples: ---------------------------------------------------------------

// <button class="btn is--primary">
//     Primary
// </button>
// <button class="btn is--secondary">
//     Secondary
// </button>

// -------------------------------------------------------------------------

.btn.is--primary{
    border-color: 
        @btn-primary--border-color;
    color: 
        @btn-primary--color;
    background:
        @btn-primary--bg;
    
    &:hover{
        border-color: 
            @btn-primary--hover-border-color;
        color: 
            @btn-primary--hover-color;
        background:
            @btn-primary--hover-bg;
    }
}

.btn.is--secondary{
    border-color: 
        @btn-secondary--border-color;
    color: 
        @btn-secondary--color;
    background:
        @btn-secondary--bg;
    
    &:hover{
        border-color: 
            @btn-secondary--hover-border-color;
        color: 
            @btn-secondary--hover-color;
        background:
            @btn-secondary--hover-bg;
    }
}