// checkbox.less
// =============================================================================

// Checkboxes elements
// Changes the default Checkboxes to custom-themed ones that contain the Shopware color variables.
// The checkboxes can be used in a 'span' element containing an 'input' tag or inside a anchor element. 

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <div class="panel">
//     <div class="panel--body">
// 
//         <span class="checkbox">
//             <input type="checkbox" />
//             <span class="checkbox--state"></span>
//         </span> Option (actual checkbox)<br/>
// 
//         <span class="checkbox">
//             <input type="checkbox" />
//             <span class="checkbox--state"></span>
//         </span> Option (actual checkbox)<br/>
// 
//         <a href="#">
//             <span class="checkbox">
//                 <span class="checkbox--state"></span>
//             </span>
//         </a> Option (inside a link)<br/>
// 
//         <a href="#">
//             <span class="checkbox">
//                 <span class="checkbox--state"></span>
//             </span>
//         </a> Option (inside a link)<br/>
// 
//     </div>
// </div>

// -------------------------------------------------------------------------

.checkbox{
    display: inline-block;
    
    .unitize-width(16); .unitize-height(16);
    .unitize-padding(1, 1);
    
    border: 1px solid @checkbox--state--border-color;
    
    cursor: pointer;
    
    .unitize(line-height, 16);
    vertical-align: middle;

    &, .checkbox--state{
        .border-radius(@checkbox--state--border-radius);
        
        position: relative;
    }
    .checkbox--state{
        display: block;
        width: 100%; height: 100%;
        
        z-index: @checkbox--state--z-index;
    }

    input[type="checkbox"]{
        display: block;
        width: 100%; height: 100%;
        border: 0 none;
        
        position: absolute;
        top: 0; left: 0;
        z-index: @checkbox--element--z-index;
        
        cursor: pointer;
        
        .opacity(0);
        
        background: 
            none;

        &:checked ~ .checkbox--state{
            .primary-gradient();

            &:before{
                content: "\e60c";
                
                display: inline-block;
                .unitize-width(12); .unitize-height(12);
                
                font-family: 'shopware';
                .unitize(font-size, 7);
                font-weight: normal;
                .unitize(line-height, 12);
                text-align: center;
                vertical-align: top;
                
                color: 
                    #fff;
            }
        }
        &:disabled ~ .checkbox--state{
            background: 
                @body--bg;
        }
    }

    &.is--active,
    a:hover &{
        .checkbox--state{
            .primary-gradient();

            &:before{
                content: "\e60c";
                
                display: inline-block;
                .unitize-width(12); .unitize-height(12);
                
                font-family: 'shopware';
                .unitize(font-size, 7);
                font-weight: normal;
                .unitize(line-height, 12);
                
                text-align: center;
                vertical-align: top;
                
                color: 
                    #fff;
            }
        }
    }
}