// collapse.less
// =============================================================================

// A collapse box for panels and text elements.
// Displays a folding box that responds if the content does not fit the element.

// @package     Grace & Holmes
// @since       1.0

// Examples: ---------------------------------------------------------------

// <div class="collapse--header">
//   Collapse box title
//     <span class="collapse--toggler">
//     </span>
// </div>
// <div class="collapse--content is--collapsed">
//     This content will be shown by the is--collapsed class.
// </div>
// 
// <div class="collapse--header">
//   Collapse box title
//     <span class="collapse--toggler">
//     </span>
// </div>
// <div class="collapse--content">
//     Lorem ipsum dolor
// </div>
// 
// <div class="collapse--header">
//   Collapse box title
//     <span class="collapse--toggler">
//     </span>
// </div>
// <div class="collapse--content">
//     Lorem ipsum dolor
// </div>

// -------------------------------------------------------------------------

.collapse--header{
    display: block;
    .unitize-padding(10, 20);
    
    border: 1px solid @collapse--header--border-color;
    .border-radius(@collapse--header--border-radius);
    
    .unitize-margin(10, 0, 0, 0);
    
    position: relative;
    z-index: @collapse--header--z-index;
    
    .unitize(font-size, 16);
    .unitize(line-height, 16);
    
    cursor: pointer;
    
    .box-shadow(@collapse--header--box-shadow);

    color:
        @collapse--header--color;
    background:
        @collapse--header--bg;
    
    &:hover{
        color: 
            @collapse--header--hover-color;
    }
    
    .collapse--toggler{
        .unitize-height(16);
        
        position: absolute;
        .unitize(top, 10);
        .unitize(right, 20);
        
        font-family: 'shopware';
        .unitize(font-size, 6);
        font-weight: normal;
        .unitize(line-height, 16);

        &:before{
            content: "\e612";
        }
    }

    // Is active
    // ---------------------------------------------------------------------
    
    &.is--active{
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color:
            @collapse--header--active-border-color;
        
        z-index: @collapse--header--active-z-index;
        
        font-weight: @font-weight--normal;

        .box-shadow(@collapse--header--active-box-shadow);
        
        color: 
            @collapse--header--active-color;
        
        background:
            @collapse--header--active-bg;

        .collapse--toggler{
            &:before{
                content: "\e610";
            }
        }
    }

}

// Collapse Content
// -----------------------------------------------------------------------------

.collapse--content{
    display: none;
    
    .unitize-padding(5, 0, 0, 0);
    
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: 
        @collapse--content--border-color;
    
    .border-radius-multi(@collapse--content--border-radius-multi);
    
    position: relative;
    .unitize(-5, 16, top);
    z-index: @collapse--content--z-index;
    
    .box-shadow(@collapse--content--box-shadow);
    
    color:
        @collapse--content--color;
    background: 
        @collapse--content--bg;

    // Is collapsed
    // ---------------------------------------------------------------------
    
    &.is--collapsed{
        display: block;
        z-index: @collapse--content--collapsed-z-index;
    }
    
}
.js--collapse-target{
    display: none;

    &.is--collapsed{
        display: block;
    }
}