// collapse-cart.less
// =============================================================================

// The collapse cart element is an alternative to the offcanvas shopping cart inside Shopware 5. The collapse cart displays a shopping cart dropdown element similar to the default Shopware 4 cart.
// The Settings can be modified in the backend theme manager.
// The collapse cart element contains the current items in the users shopping cart and the subtotal price amount.

// @package     Grace & Holmes
// @since       1.0



// Container Ajax Cart
// -----------------------------------------------------------------------------

.container--ajax-cart{
    display: none;
    .unitize-padding(15, 0, 0, 0);
    
    .unitize(margin-right, 10);
    
    position: absolute;
    .unitize(top, 50); right: 0;
    z-index: @collapse--cart--z-index;
    
    text-align: left;

    &.off-canvas{
        display: block;
        height: 100%;
        padding: 0;
        
        margin-right: 0;
        position: fixed;
        top: 0; left: auto;
        
        z-index: @collapse--cart--off-canvas--z-index;

        .icon--loading-indicator{
            .unitize-width(38); .unitize-height(38);
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }
    }
    .icon--loading-indicator{
        box-sizing: content-box;
        
        display: block;
        .unitize-width(21); .unitize-height(21);
        .unitize-padding(20, 0);
        
        margin: 0 auto;
        position: relative;

        &:before{
            content: "";
            
            box-sizing: border-box;
            display: block;
            width: 100%; height: 100%;
            
            border: 2px solid transparent;
            border-top: 2px solid @ajax--cart--icon--loading-indicator--color;
            .border-radius(100%);
            
            .animation(keyframe--spin 1s linear infinite);
        }
    }
}



// Ajax Cart
// -----------------------------------------------------------------------------

.ajax--cart{
    .unitize-width(450);
    
    border: 1px solid @ajax--cart--border-color;
    .border-radius(@ajax--cart--border-radius);
    
    position: relative;
    
    .unitize(font-size, 14);
    
    color:
        @ajax--cart--color;
    background: 
        @ajax--cart--bg;

    &:after,
    &:before{
        content: "";
        height: 0; width: 0;
        border: solid transparent;
        
        position: absolute;
        bottom: 100%; .unitize(right, 10);
        
        pointer-events: none;
    }
    &:after{
        .unitize(border-width, 9);
        border-bottom-color: 
            @ajax--cart--bg;
        
        .unitize(right, 11);
    }
    &:before{
        .unitize(border-width, 10);
        border-bottom-color: 
            @ajax--cart--border-color;
    }

    // Content loader
    // ---------------------------------------------------------------------
    
    .content--loader{
        .box-sizing(content-box);
        .unitize-width(21); .unitize-height(21);
        .unitize-padding(20, 0);
        
        margin: 0 auto;
    }

    // Item container
    // ---------------------------------------------------------------------

    .item--container{
        .unitize-max-height(353);
        .unitize-padding(0, 10);
        
        overflow-y: auto;
    }

    // Alert
    // ---------------------------------------------------------------------

    .alert{
        .reset-border-radius();
        .unitize(margin-bottom, 10);

        .alert--icon,
        .icon--element{
            width: 15%;
            
            // Is warning
            
            .is--warning{
                color: 
                    @highlight-notice;
                background: 
                    desaturate(lighten(@highlight-notice, 42%),20%);
            }
            
            // Is success
            
            .is--success{
                color: 
                    @highlight-success;
                background: 
                    desaturate(lighten(@highlight-success, 42%),20%);
            }
        }
        .alert--content{
            width: 85%;
        }
    }

    // Cart item
    // ---------------------------------------------------------------------
    
    .cart--item{
        .unitize-padding(10, 0);
        border-bottom: 1px solid @border-color;
        
        overflow: hidden;
        
        .unitize(line-height, 38);

        &:last-child{
            border: 0 none;
        }

        &.is--empty{
            padding-bottom: 0;
        }

        .thumbnail--container{
            float: left;
            .unitize-width(38); .unitize-height(38);
            .border-radius();
            
            .unitize-margin(0, 10, 0, 0);
            position: relative;

            &.has--image{
                border: 1px solid @border-color;
                background: 
                    #FFFFFF;
            }

            .cart--badge{
                display: block;
                .unitize-width(14); height: 100%;
                
                .border-radius-multi(3px, 0, 0, 3px);
                
                position: absolute;
                top: 0; left: 0;
                
                background: 
                    @brand-primary;

                .badge--free{
                    display: block;
                    .unitize-width(40);
                    
                    padding: 0;
                    margin: 0;
                    
                    position: absolute;
                    top: 0; bottom: 0;
                    
                    .unitize(font-size, 8);
                    font-weight: @font-weight--bold;
                    .unitize(line-height, 12);
                    text-align: center;
                    text-transform: uppercase;
                    
                    .rotate(-90deg);
                    
                    color: 
                        #fff;
                }
            }

            .basket--badge{
                .unitize-width(35); .unitize-height(35);
                .border-radius(100%);
                
                margin: 0 auto;
                
                .unitize(font-size, 12);
                .unitize(line-height, 37);
                font-weight: @font-weight--bold;
                text-align: center;
                
                color: 
                    #fff;
                background: 
                    @text-color;

                .icon--arrow-right{
                    .unitize(font-size, 10);
                }

                .icon--coupon{
                    .unitize(font-size, 20);
                    .unitize(line-height, 37);
                }
            }
        }

        .thumbnail--image{
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }

        .item--link{
            color: @text-color;
        }

        .item--quantity{
            .unitize-margin(0, 5, 0, 0);
            font-weight: bold;
        }

        .item--price{
            float: right;
            font-weight: @font-weight--bold;
        }

        .action--container{
            float: right;
            .unitize-width(21); .unitize-height(21);
            .unitize-margin(10, 0, 0, 10);
            
            line-height: 1;

            .btn{
                .unitize-width(21); .unitize-height(21);
                .unitize-padding(4, 5);
                
                .unitize(font-size, 8);
                .unitize(line-height, 14);
            }

            *[class*="icon--"]{
                padding: 0;
                margin: 0;
            }
        }
    }

    .prices--container{
        .unitize-padding(10, 10);
        border-top: 1px solid @border-color;

        .prices--articles-amount{
            float: right;
        }

        .prices--articles{
            font-weight: @font-weight--bold;
            
            color: 
                @text-color-dark;
        }
    }

    .button--container{
        .unitize-padding(10, 10);
        overflow: hidden;

        *[class*="button--"]{
            .unitize-width(210);
            text-align: center;
        }

        .button--checkout{
            float: right;
        }

        .button--open-basket *[class^="icon--"]{
            display: none;
        }
    }
}



// Off Canvas Ajax Cart
// -----------------------------------------------------------------------------

.off-canvas .ajax--cart{
    width: auto; min-height: 100%;
    border: 0 none;
    
    position: absolute;
    left: 0; right: 0;
    
    .unitize(font-size, 14);
    
    color:
        @off-canvas--ajax--cart--color;
    background:
        @off-canvas--ajax--cart--bg;

    .item--container{
        max-height: none;
    }
    
    .cart--item{
        .unitize(line-height, 19);

        .item--link{
            .unitize-width(149);
            display: inline-block;
        }
        .item--price{
            float: none;
            display: block;
        }
    }
    
    .prices--container{
        border-bottom: 0 none;
        background: 
            #fff;
    }
    
    .action--container,
    .action--container .action--remove{
        .unitize-width(38); .unitize-height(38);
    }
    .action--container{
        margin: 0;

        .action--remove{
            .unitize(font-size, 14);
            text-align: center;
            vertical-align: middle;
        }

        .icon--loading-indicator{
            .unitize-width(21); .unitize-height(21);
            
            .unitize-margin(9, 0, 0, 0);
            margin-left: auto; margin-right: auto;
            
            position: relative;
        }
        *[class*="icon--"]{
            padding: 0; margin: 0;
            .unitize(line-height, 28);
        }
    }
    
    .button--container{
        text-align: left;

        *[class*="button--"]{
            width: 100%;
            .unitize-margin(10, 0, 0, 0);
        }
        .button--checkout{
            margin: 0;
        }
        .button--open-basket{
            .unitize(padding-right, 30);

            *[class^="icon--"]{
                display: block;
                .unitize(right, 10);
            }
        }
    }
}



// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    .container--ajax-cart.is--shown{
        display: block;
    }
}



// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    .container--ajax-cart{
        margin-right: 0;
    }
}