// container.less
// =============================================================================

// The container element is the parent element for the content section of Shopware 5.
// It contains the other content elements and keeps them in place.
// It has a set 'unitize-max-width' of '1260px' and the clearfix mixin assigned.

// @package     Grace & Holmes
// @since       1.0

// Examples: -----------------------------------------------------------

// <div class="container">
//     <p>Container element</p>
// </div>

// ---------------------------------------------------------------------

.container{
    .clearfix();
    width: 100%; max-width: @container-width--phone;
    margin: 0 auto;
}

// Phone Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @phone-landscape--viewport-width){
    .container{
        max-width: @container-width--phone-landscape;
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){
    
    .container{
        max-width: @container-width--tablet;
    }
}

// Tablet Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    .container{
        max-width: @container-width--tablet-landscape;
    }
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){
    
    .container{
        max-width: @container-width--desktop;
    }
}