// datepicker.less
// =============================================================================

// The datepicker is a calendar overlay tool that simplyfies the selection of dates for input elements. It creates a calendar widget that simplifies the selection of dates for date input elements.
// The styling includes the state styles, the styling with multiple calendars and the rtl-support .

// (Is based on the JQuery UI Datepicker Element)
// [JQuery UI Documentation](http://jqueryui.com/datepicker/)

// @package     Grace & Holmes
// @since       1.0

.ui-helper-hidden{
    display: none;
}

.ui-helper-hidden-accessible{
    width: 1px; height: 1px;
    padding: 0; border: 0;
    
    margin: -1px;
    
    position: absolute;
    overflow: hidden;
    
    clip: rect(0 0 0 0);
}

.ui-helper-reset{
    padding: 0; border: 0;
    margin: 0; outline: 0;
    
    list-style: none;
    
    font-size: 100%;
    line-height: 1.3;
    text-decoration: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after{
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after{
    clear: both;
}
// support: IE7
.ui-helper-clearfix{
    min-height: 0; 
}

.ui-helper-zfix{
    width: 100%; height: 100%;
    
    position: absolute;
    top: 0; left: 0;
    
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front{
    z-index: @datepicker--z-index;
}

// Interaction Cues
.ui-state-disabled{
    cursor: default !important;
}

.ui-icon{
    display: block;
    
    overflow: hidden;
    
    text-indent: -99999px;
    
    background-repeat: no-repeat;
}

.ui-widget-overlay{
    width: 100%; height: 100%;
    
    position: fixed;
    top: 0; left: 0;
}

.ui-datepicker{
    display: none;
    
    width: 17em;
    padding: .2em .2em 0;
    
    border: 1px solid @datepicker--border-color;
    .border-radius(@datepicker--border-radius);
    
    background: 
        @datepicker--bg;

    .ui-datepicker-header{
        height: 40px;
        padding: .2em 0;
        
        border: 0 none;
        .border-radius(@datepicker--border-radius);
        
        position: relative;
        
        .unitize(font-size, 12);
        text-align: center;
        
        .box-shadow(@datepicker--header--box-shadow);
        
        color: 
            @datepicker--header--color;
        background: 
            @datepicker--header--bg;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next{
        .unitize-width(36); .unitize-height(36);

        position: absolute;
        top: 2px;
        
        .unitize(line-height, 36);
        
        color:
            @text-color-light;
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover{
        top: 1px;
    }

    .ui-datepicker-prev{
        left: 2px;
    }
    .ui-datepicker-prev-hover{
        left: 1px;
    }

    .ui-datepicker-next{
        right: 2px;
    }
    .ui-datepicker-next-hover{
        right: 1px;
    }

    .ui-datepicker-prev span,
    .ui-datepicker-next span{
        display: block;
        
        margin-top: -8px;
        margin-left: -8px;
        
        position: absolute;
        top: 50%; left: 50%;
    }

    .ui-datepicker-title{
        .unitize-height(36);
        
        margin: 0 2.3em;
        
        font-weight: bold;
        .unitize(line-height, 36);
    }

    .ui-datepicker-title select{
        font-size: 1em;
        margin: 1px 0;
    }

    select.ui-datepicker-month,
    select.ui-datepicker-year{
        width: 49%;
    }

    table{
        width: 100%;
        margin: 0 0 .4em;
        
        border-collapse: collapse;
        
        font-size: .9em;
    }

    th{
        padding: .7em .3em;
        border: 0;
        
        font-weight: bold;
        text-align: center;

        color: 
            @datepicker--th--color;
        background: 
            @datepicker--th--bg;
    }

    td{
        .unitize-width(35);
        padding: 1px;
        border: 0;

        span,
        a{
            display: block;
            padding: .2em;
            
            border: 1px solid @datepicker--border-color;
            .border-radius(@datepicker--border-radius);
            
            text-decoration: none;
            text-align: right;
            
            color: 
                @datepicker--td--color;
            background: 
                @datepicker--td--bg;
        }

        &.ui-datepicker-current-day a{
            font-weight: @font-weight--semibold;
            color: 
                @datepicker--current-day--color;
            background: 
                @datepicker--current-day--bg;
        }
        
        &.ui-datepicker-today a{
            font-style: italic;
        }
        
        &.ui-datepicker-week-end a{
            color: 
                @datepicker--week-end--color;
            background: 
                @datepicker--week-end--bg;
        }
    }

    .ui-datepicker-buttonpane{
        padding: 0 .2em;
        margin: .7em 0 0 0;
        
        border-left: 0; border-right: 0;
        border-bottom: 0;
        
        background-image: none;
    }

    .ui-datepicker-buttonpane button{
        float: right;
        
        width: auto;
        padding: .2em .6em .3em .6em;
        
        margin: .5em .2em .4em;
        overflow: visible;
        
        cursor: pointer;
    }

    .ui-datepicker-buttonpane button.ui-datepicker-current{
        float: left;
    }
}



// With multiple calendars
// -----------------------------------------------------------------------------

.ui-datepicker.ui-datepicker-multi{
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group{
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table{
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group{
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group{
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group{
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane{
    clear: left;
}
.ui-datepicker-row-break{
    clear: both;
    width: 100%;
    font-size: 0;
}



// RTL support
// -----------------------------------------------------------------------------

.ui-datepicker-rtl{
    direction: rtl;
    
    .ui-datepicker-prev{
        right: 2px;
        left: auto;
    }
    .ui-datepicker-next{
        left: 2px;
        right: auto;
    }
    .ui-datepicker-prev:hover{
        right: 1px;
        left: auto;
    }
    .ui-datepicker-next:hover{
        left: 1px;
        right: auto;
    }
    .ui-datepicker-buttonpane{
        clear: right;
    }
    .ui-datepicker-buttonpane button{
        float: left;
    }
    .ui-datepicker-buttonpane button.ui-datepicker-current,
    .ui-datepicker-group{
        float: right;
    }
    .ui-datepicker-group-last .ui-datepicker-header,
    .ui-datepicker-group-middle .ui-datepicker-header{
        border-right-width: 0;
        border-left-width: 1px;
    }
}