// delivery-information.less
// =============================================================================

// Defines the delivery status for products (e.g. detail page, note).
// The styling includes the base styling and the delivery states.

// Examples: ---------------------------------------------------------------

// <div class="product--delivery">
//     <p class="delivery--information">
//         <span class="delivery--text delivery--text-available">
//             <i class="delivery--status-icon delivery--status-available"></i>
//             delivery--text-available
//        </span>
//     </p>
// </div>
// 
// <div class="product--delivery">
//     <p class="delivery--information">
//         <span class="delivery--text delivery--text-more-is-coming">
//             <i class="delivery--status-icon delivery--status-more-is-coming"></i>
//             delivery--text-more-is-coming
//         </span>
//     </p>
// </div>
// 
// <div class="product--delivery">
//     <p class="delivery--information">
//         <span class="delivery--text delivery--text-shipping-free">
//             <i class="delivery--status-icon delivery--status-shipping-free"></i>
//             delivery--text-shipping-free
//         </span>
//     </p>
// </div>
// 
// <div class="product--delivery">
//     <p class="delivery--information">
//         <span class="delivery--text delivery--text-not-available">
//             <i class="delivery--status-icon delivery--status-not-available"></i>
//             delivery--text-not-available
//         </span>
//     </p>
// </div>

// -------------------------------------------------------------------------

.product--delivery{
    .unitize(font-size, 14);

    p{
        margin: 0;
    }

    .delivery--text{
        display: inline-block;
        margin: 0;
    }
    .delivery--status-icon{
        display: inline-block;
        .unitize-width(9); .unitize-height(9);
        
        .unitize-variable(9); // returns the variable "emValue"
        .border-radius(~"@{emValue}rem");
        
        .unitize-margin(0, 5, 0, 0);
        position: relative;
        
        .unitize(line-height, 10);
    }
    
    // Shipping free
    // ---------------------------------------------------------------------

    .delivery--status-shipping-free{
        background: 
            @product--delivery--shipping-free--bg;
    }
    .delivery--text-shipping-free{
        color: 
            @product--delivery--shipping-free--color;
    }
    
    // Available
    // ---------------------------------------------------------------------
    
    .delivery--status-available{
        background: 
            @product--delivery--available--bg;
    }
    .delivery--text-available{
        color: 
            @product--delivery--available--color;
    }
    
    // More is coming
    // ---------------------------------------------------------------------

    .delivery--status-more-is-coming{
        background: 
            @product--delivery--more-is-coming--bg;
    }
    .delivery--text-more-is-coming{
        color: 
            @product--delivery--more-is-coming--color;
    }

    // Not available
    // ---------------------------------------------------------------------
    
    .delivery--status-not-available{
        background: 
            @product--delivery--not-available--bg;
    }
    .delivery--text-not-available{
        color: 
            @product--delivery--not-available--color;
    }

}