// emotions.less
// =============================================================================

// Contains the basic styles for the Shopware 5 shopping worlds and its elements.
// Shopware 5 provides 11 integrated elements inside the shopping worlds that can be chosen and modified inside the backend shopping world editor such as sliders, video elements and blog-articles.

// @package     Grace & Holmes
// @since       1.0

[class^="emotion"].panel{
    border: none !important;
}



// Content Fullscreen Mode
// -----------------------------------------------------------------------------

.content-main.is--fullscreen{
    max-width: none;
    padding: 0;
    margin: 0;

    .box-shadow(none);
    
    .content,
    .content-main--inner{
        padding: 0;
        margin: 0 auto;
    }

    .content--breadcrumb,
    .listing--wrapper,
    .tagcloud--content,
    .last-seen-products{
        display: none;
    }
}



// Emotion Loading Overlay
// -----------------------------------------------------------------------------

@emotion--overlay--z-index:     1000;

@emotion--loading-indicator--border-color:
    @brand-secondary-dark transparent transparent transparent;


.emotion--overlay{
    .unitize-width(50); .unitize-height(50);
    
    //.border-radius(3px);
    margin: 0 auto;
    
    position: relative;
    .unitize(top, 50); left: 0;
    z-index: @emotion--overlay--z-index;

    & .emotion--loading-indicator{
        padding: 0;
        margin: auto;
        
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

    & ~ .content-main{
        .unitize-min-height(2000);
        visibility: hidden;
    }
}

// Emotion loading indicator

.emotion--loading-indicator{
    display: block;
    .unitize-width(21); .unitize-height(21);
    .unitize-padding(50, 0);
    
    margin: 0 auto;
    position: relative;
    
    -webkit-box-sizing: 
        content-box;
    -moz-box-sizing: 
        content-box;
    box-sizing: 
        content-box;

    &:before{
        content: "";
        
        -webkit-box-sizing:
            border-box;
        -moz-box-sizing:
            border-box;
        box-sizing:
            border-box;
        
        display: block;
        width: 100%; height: 100%;
        
        border: 2px solid @emotion--loading-indicator--border-color;
        .border-radius(100%);
        
        .animation(keyframe--spin 1s linear infinite);
    }
}



// Emotion Content
// -----------------------------------------------------------------------------

@emotion--container--bg:    @body--bg;

.content--emotions{
    display: block;

    & + .listing--wrapper{
        .unitize-margin(20, 0, 0, 0);
    }
}

// Emotion Show Listing Link

.emotion--show-listing{
    .unitize-margin(20, 0);
}

// Emotion Wrapper

.emotion--wrapper{
    display: block;
    margin: 0 auto;
    
    overflow: hidden;
}

// Emotion Container

.emotion--container{
    .clearfix();
    
    display: block;
    
    position: relative;
    top: 0; left: 0;
    
    background: 
        @emotion--container--bg;

    &.emotion--mode-resize{
        .transform-origin(0, 0, 0);
    }

    // Create the width based on the number of columns the item uses.
    
    .createColumnSizes(1);  // Container with one column
    .createColumnSizes(2);  // Container with two columns
    .createColumnSizes(3);  // Container with three columns
    .createColumnSizes(4);  // Container with four columns
    .createColumnSizes(5);  // Container with five columns
    .createColumnSizes(6);  // Container with six columns
    .createColumnSizes(7);  // Container with seven columns
    .createColumnSizes(8);  // Container with eight columns
    .createColumnSizes(9);  // Container with nine columns
    .createColumnSizes(10); // Container with ten columns
    .createColumnSizes(11); // Container with eleven columns
    .createColumnSizes(12); // Container with twelve columns
}



// Emotion Element
// -----------------------------------------------------------------------------

.emotion--element{
    display: block;
    
    position: absolute;
    top: 0; left: 0;
}



// Emotion Banner
// -----------------------------------------------------------------------------

@emotion--mapping-link--z-index:    110;

.emotion--banner{
    height: 100%; width: 100%;
    
    position: relative;
    overflow: hidden;

    .banner--content{
        display: block;
        
        position: absolute;
        top: 50%; left: 50%;
        
        .transform(translate(-50%, -50%));

        &.left.top{
            .transform(translate(0, 0));
            left: 0; top: 0;
        }
        &.left.center{
            .transform(translate(0, -50%));
            left: 0; top: 50%;
        }
        &.left.bottom{
            .transform(translate(0, -100%));
            left: 0; top: 100%;
        }
        &.center.top{
            .transform(translate(-50%, 0));
            left: 50%; top: 0;
        }
        &.center.bottom{
            .transform(translate(-50%, -100%));
            left: 50%; top: 100%;
        }
        &.right.top{
            .transform(translate(-100%, 0));
            left: 100%; top: 0;
        }
        &.right.center{
            .transform(translate(-100%, -50%));
            left: 100%; top: 50%;
        }
        &.right.bottom{
            .transform(translate(-100%, -100%));
            left: 100%; top: 100%;
        }
    }

    .banner--image{
        width: 100%;
    }

    .banner--link{
        display: block;
        width: 100%; height: 100%;
        
        position: absolute;
        top: 0; left: 0;
        z-index: @emotion--mapping-link--z-index;
    }

    .banner--mapping{
        display: block;
        width: 100%; height: 100%;
        
        position: absolute;
        top: 0; left: 0;
    }
    
    .banner--mapping-link{
        display: block;
        
        position: absolute;
        z-index: @emotion--mapping-link--z-index;
        
        background: rgba(0,0,0,0);
    }
    
}



// Banner Slider Element
// -----------------------------------------------------------------------------

@emotion--banner-slider--border-color:      @body--bg;

@emotion--banner-slider--title--z-index:    100;
@emotion--banner-slider--title--color:      @text-color;
@emotion--banner-slider--title--bg:         @body--bg;

.emotion--banner-slider{
    width: 100%; height: 100%;

    .unitize(border, 10); .unitize(border-top, 40);
    border-style: solid;
    border-color: @emotion--banner-slider--border-color;
        
    .banner-slider--title{
        display: block;
        width: 100%; .unitize-height(40);
        .unitize-padding(8, 20);
        
        position: absolute;
        .unitize(top, -40); left: 0;
        z-index: @emotion--banner-slider--title--z-index;
        
        overflow: hidden;
        
        .unitize(@font-size--h2, 16, font-size);
        font-weight:    @font-weight--light;
        line-height:    22px;
        
        text-align:     center;
        text-overflow:  ellipsis;
        text-transform: uppercase;
        white-space:    nowrap;
        
        color: 
            @emotion--banner-slider--title--color;
        background: 
            @emotion--banner-slider--title--bg;
    }
    
    .banner-slider--container,
    .banner-slider--slide{
        width: 100%; height: 100%;
    }
    
    // Arrow
    // ---------------------------------------------------------------------
    
    .banner-slider--container .arrow{
        display: block;
        
        &.is--left{
            border-left: none;
        }
        &.is--right{
            border-right: none;
        }
    }

    .banner-slider--item{
        width: 100%; height: 100%;
        
        position: relative;
        overflow: hidden;
    }

    .banner-slider--banner{
        display: block;
        
        position: absolute;
        top: 50%; left: 50%;
        z-index: 100;
        
        .transform(translate(-50%, -50%));
    }

    .banner-slider--image{
        width: 100%;
    }

    .banner-slider--link{
        display: block;
        height: 100%; width: 100%;
        
        position: absolute;
        top: 0; left: 0;
        z-index: 200;
        
        overflow: hidden;
        
        text-indent: 200%;
        white-space: nowrap;
    }

    .image-slider--dots{
        display: none;
    }
    
}

// Desktop Viewport Width
// =============================================================================

@emotion--banner-slider--dot-link--border-color:    @body--bg;

@emotion--banner-slider--dot-link--bg:              @body--bg;
@emotion--banner-slider--dot-link--hover-bg:        @brand-primary-light;
@emotion--banner-slider--dot-link--active-bg:       @brand-primary;

@media screen and(min-width: @desktop--viewport-width){
    
    .emotion--banner-slider{
        .image-slider--dots{
            display: block;
            width: 100%;
            padding: 0;
            
            position: absolute;
            top: auto; .unitize(bottom, 10);
            left: 0;
            
            text-align: center;

            .dot--link{
                display: inline-block;
                .unitize-width(20); .unitize-height(20);
                
                border: 5px solid @emotion--banner-slider--dot-link--border-color !important;
                .border-radius(100%);
                
                .unitize-margin(0, 2);
                
                text-indent: -99999em;
                
                cursor: pointer;
                
                background: 
                    @emotion--banner-slider--dot-link--bg !important;
                
                .transition(all .3s ease);

                &:hover{
                    background: 
                        @emotion--banner-slider--dot-link--hover-bg !important;
                }
                &.is--active{
                    background: 
                        @emotion--banner-slider--dot-link--active-bg !important;
                }
            }
        }
        
    }
}



// Blog Element
// -----------------------------------------------------------------------------

@emotion--blog--bg:                         @brand-primary;
@emotion--blog--container--border-color:    @body--bg;

@emotion--blog--title--color:               @white !important;
@emotion--blog--title--bg:                  @brand-primary;

.emotion--blog{
    width: 100%; height: 100%;
    overflow: auto;
    
    background-color:
        @emotion--blog--bg;

    .blog--container{
        height: 100%;
        
        .unitize(border, 5); 
        border-style: solid;
        border-color: 
            @emotion--blog--container--border-color;
        
        margin: 0 0 0 -1%;
    }

    .blog--entry{
        height: 100%;
        
        .unitize-padding(5, 5);
        padding-left: 1%;
        
        position: relative;
    }

    .blog--image{
        display: block;
        width: 100%; height: 100%;
        
        background-position: center center;
        background-size: cover;
    }

    .blog--title{
        display: block;
        width: 100%;; .unitize-height(40);
        .unitize-padding(5, 10);
        margin: 0 !important;
            
        position: absolute;
        .unitize(bottom, 0); left: 0;
        
        .unitize(14, 16, font-size);
        font-weight: normal;
        .unitize(30, 16, line-height);
        
        text-align: center;
        text-transform: uppercase;
        
        white-space: normal;

        color: 
            @emotion--blog--title--color;
        background-color:
            @emotion--blog--title--bg;
    }

    .blog--description{
        display: none;
    }
    
}

// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    .emotion--blog{
        overflow: hidden;
    }
}



// Category Teaser Element
// -----------------------------------------------------------------------------

@emotion--category-teaser--border-color:    @body--bg;
@emotion--category-teaser--bg-color:        transparent;

@emotion--category-teaser--title--color:    @text-color;
@emotion--category-teaser--title--bg:       @body--bg;

.emotion--category-teaser{
    width: 100%; height: 100%;

    .category-teaser--link{
        display: block;
        width: 100%; height: 100%;
        
        .unitize(border, 10); .unitize(border-top, 40);
        border-style: solid;
        border-color: 
            @emotion--category-teaser--border-color;
        
        position: relative;
        
        background-position:    center center;
        background-size:        cover;
        background-repeat:      no-repeat;
        background-color: 
            @emotion--category-teaser--bg-color;
    }
    
    .category-teaser--title{
        display: block;
        width: 100%; .unitize-height(40);
        .unitize-padding(8, 20);
        
        position: absolute;
        .unitize(top, -40); left: 0;
        
        overflow: hidden;
        
        .unitize(@font-size--h2, 16, font-size);
        font-weight:    @font-weight--light;
        line-height:    22px;
        
        text-align:     center;
        text-overflow:  ellipsis;
        text-transform: uppercase;
        white-space:    nowrap;
        
        color: 
            @emotion--category-teaser--title--color;
        background: 
            @emotion--category-teaser--title--bg;
        
        -webkit-transition:
            height  @constant--transition,
            padding @constant--transition;
        -moz-transition:
            height  @constant--transition,
            padding @constant--transition;
        transition:
            height  @constant--transition,
            padding @constant--transition;
    }
    :hover>.category-teaser--title{
        .unitize-height(60);
        .unitize-padding(18, 20);
    }
    
}

// HTML Element
// -----------------------------------------------------------------------------

@emotion--html--content--border-color:  @body--bg;

@emotion--html--title--z-index:         500;
@emotion--html--title--color:           @text-color;
@emotion--html--title--bg:              @body--bg;

.emotion--html{
    width: 100%; height: 100%;
    
    position: relative;
    
    .html--content{
        .unitize(border, 5);
        border-style: solid;
        border-color: 
            @emotion--html--content--border-color;
        
        overflow: auto;
        
        img{
            width: 100%; height: auto;
            margin: 0 auto;
        }
    }
    .html--title{
        width: 100%; .unitize-height(40);
        .unitize-padding(8, 20);
        
        overflow: hidden;
        position: absolute;
        top: -40px; left: 0;
        z-index: @emotion--html--title--z-index;
        
        .unitize(@font-size--h2, 16, font-size);
        font-weight:    @font-weight--light;
        line-height:    22px;
        
        text-align:     center;
        text-overflow:  ellipsis;
        text-transform: uppercase;
        white-space:    nowrap;
        
        color:
            @emotion--html--title--color;
        background:
            @emotion--html--title--bg;
    }
}



// iFrame Element
// -----------------------------------------------------------------------------

.emotion--iframe{
    width: 100%; height: 100%;
}



// Manufacturer Element
// -----------------------------------------------------------------------------

@emotion--manufacturer--title--z-index:     500;
@emotion--manufacturer--title--color:       @text-color;
@emotion--manufacturer--title--bg:          @body--bg;

@emotion--manufacturer--content--z-index:   400;

@emotion--manufacturer--link--color:        @text-color;
@emotion--manufacturer--link--hover-color:  @link--color;

.emotion--manufacturer{
    width: 100%; height: 100%;
    position: relative;

    .manufacturer--title{
        width: 100%; .unitize-height(40);
        .unitize-padding(8, 20);
        
        overflow: hidden;
        position: absolute;
        top: -40px; left: 0;
        z-index: @emotion--manufacturer--title--z-index;
        
        .unitize(@font-size--h2, 16, font-size);
        font-weight:    @font-weight--light;
        line-height:    22px;
        
        text-align:     center;
        text-overflow:  ellipsis;
        text-transform: uppercase;
        white-space:    nowrap;
        
        color: 
            @emotion--manufacturer--title--color;
        background: 
            @emotion--manufacturer--title--bg;
    }

    .manufacturer--content{
        height: 100%; width: 100%;
        .unitize-padding(10, 20);
        
        position: absolute;
        top: 0; left: 0;
        z-index: @emotion--manufacturer--content--z-index;
    }

    //.manufacturer--title ~ .manufacturer--content{
        //.unitize(padding-top, 65);
    //}

    .manufacturer--slider{
        height: 100%;

        .arrow--next{
            //border-right: 0 none;
            .unitize(-20, 16, right);
        }
        .arrow--prev{
            //border-left: 0 none;
            .unitize(-20, 16, left);
        }
    }

    .manufacturer--item{
        .unitize-padding(15, 15);
        
        text-align: center;
        vertical-align: middle;
        
        .transition(padding @constant--transition);
    }
    .manufacturer--item:hover{
        .unitize-padding(5, 5);
    }

    .manufacturer--link{
        display: block;
        width: 100%; height: 100%;
        
        position: relative;
        
        .unitize(@font-size--h3, 16, font-size);
        font-weight: @font-weight--semibold;
        
        color: 
            @emotion--manufacturer--link--color;

        &:hover{
            color: 
                @emotion--manufacturer--link--hover-color;
        }
    }
    
    .manufacturer--image{
        margin: auto;
        
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }
    
}



// Product Slider Element
// -----------------------------------------------------------------------------

@emotion--product-slider--title--z-index:           500;
@emotion--product-slider--title--color:             @text-color;
@emotion--product-slider--title--bg:                @body--bg;

@emotion--product-slider--content--z-index:         400;
@emotion--product-slider--content--border-color:    @body--bg;
@emotion--product-slider--content--bg:              @brand-primary;

@emotion--product-slider--arrow--border-color:      @brand-primary;

.emotion--product-slider{
    width: 100%; height: 100%;
    position: relative;

    .product-slider--title{
        width: 100%; .unitize-height(40);
        .unitize-padding(8, 20);
        
        overflow: hidden;
        position: absolute;
        top: -40px; left: 0;
        z-index: @emotion--product-slider--title--z-index;
        
        .unitize(@font-size--h2, 16, font-size);
        font-weight:    @font-weight--light;
        line-height:    22px;
        
        text-align:     center;
        text-overflow:  ellipsis;
        text-transform: uppercase;
        white-space:    nowrap;
        
        color: 
            @emotion--product-slider--title--color;
        background: 
            @emotion--product-slider--title--bg;
    }

    .product-slider--content{
        height: 100%; width: 100%;
        
        .unitize(border, 5);
        border-style: solid;
        border-color: @emotion--product-slider--content--border-color;
        
        position: absolute;
        top: 0; left: 0;
        z-index: @emotion--product-slider--content--z-index;

        background-color:
            @emotion--product-slider--content--bg;
    }

    .product-slider--title ~ .product-slider--content{
        //.unitize(padding-top, 0);
    }

    .product-slider--arrow{
        border: 1px solid @emotion--product-slider--arrow--border-color;
        
        &.arrow--next{border-right: 0 none;}
        &.arrow--prev{border-left: 0 none;}
    }

    // Box Emotion
    // -------------------------------------------------------------------------
    
    @box-emotion--product-info--border-color:   @brand-primary;
    
    @box-emotion--product-image--bg:            @body--bg;
    
    @box-emotion--product-title--color:         @text-color-light;
    @box-emotion--product-title--bg:            @brand-primary;
    
    @box-emotion--product-price--color:         @text-color;
    @box-emotion--product-price--bg:            @body--bg;
    
    .box--emotion{
        width: 100%; height: 100%;
        padding: 0;
        
        text-align: center;

        .box--content{
            padding: 0;
            border: 0 none;
        }
        
        .product--info{
            height: 100%;
        
            .unitize-padding(0,0,35,0);
            
            .unitize(border, 5);
            border-style: solid;
            border-color: 
                @box-emotion--product-info--border-color;
            
            position: relative;
            overflow: hidden;
        }
        
        .product--image{
            width: 100%; height: 100%;
            margin: 0 auto;
            
            position: relative;
            z-index: 0;
            
            background:
                @box-emotion--product-image--bg;
            
            img{
                min-height: 100%; min-width: 100%;
            }
        }
        
        .product--details{
            width: 100%; 
            
            position: absolute;
            .unitize(bottom, -45); left: 0;
            z-index: 1;
            
            -webkit-transition:
                bottom @constant--transition;
            -moz-transition:
                bottom @constant--transition;
            transition:
                bottom @constant--transition;
        }
        :hover>.product--details{
            .unitize(bottom, -5);
        }
        
        .product--title{
            display: block;
            width: 100%;; .unitize-height(40);
            .unitize-padding(5, 10);
        
            margin: 0 !important;
            
            .unitize(14, 16, font-size);
            font-weight: normal;
            .unitize(30, 16, line-height);
            text-transform: uppercase;
            white-space: normal;
            
            color: 
                @box-emotion--product-title--color !important;
            background-color:
                @box-emotion--product-title--bg;
        }
        
        .product--price-info .price--unit{
            display: none !important;
        }
        .product--price .price--default{
            display: block;
            width: 100%; .unitize-height(35);
            .unitize-padding(5, 10);
            
            margin: 0 !important;
            
            .unitize(12, 16, font-size);
            font-weight: normal;
            .unitize(25, 16, line-height);
            white-space: normal;
            
            color:
                @box-emotion--product-price--color;
            background-color:
                @box-emotion--product-price--bg;
        }
    }
}



// Product Box Element
// -----------------------------------------------------------------------------

.emotion--product{
    width: 100%; height: 100%;

    .product--box{
        float: none;
        
        width: 100%; height: 100%;
        padding: 0;

        .box--content{
            .unitize-padding(10, 10);
        }
        
        .product--info{
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        
        .product--image{
            height: 70%;
            margin: 0 auto;

            &.is--large{
                height: 100%;
            }
        }
        
        .product--details{
            max-height: 30%;
            width: 100%;
            
            position: absolute;
            bottom: 0; left: 0;
        }
        
        .product--title{
            text-overflow: ellipsis;
        }
    }
}



// Video Element
// -------------------------------------------------------------------------- */

@emotion--video--element--z-index:  1000;

@emotion--video--text--z-index:     1100;
@emotion--video--text--color:       @white;

@emotion--video--play-btn--z-index: 1200;
@emotion--video--play-btn--border-color:    @black;
@emotion--video--play-btn--color:           @white;

@emotion--video--cover--z-index:    1300;

.emotion--video{
    width: 100%; height: 100%;
    
    overflow: hidden;
    position: relative;

    video::-moz-media-controls,
    video::-webkit-media-controls{
        bottom: 15%;
    }

    .video--element{
        width: 100%; height: 100%;
        
        position: absolute;
        top: 0; left: 0;
        z-index: @emotion--video--element--z-index;
        
        background: 
            @black;
    }

    .video--cover{
        display: block;
        
        width: 100%; height: 100%;
        
        position: absolute;
        z-index: @emotion--video--cover--z-index;
        
        text-align: center;
        
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;

        .video--play-icon{
            display: block;
            .unitize-width(100); .unitize-height(100);
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            right: 0; left: 0;
            
            .unitize(font-size, 100);
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
            
            color: 
                @white;
        }
    }

    .video--play-btn{
        .unitize-width(42); .unitize-height(42);
        
        border: 2px solid @emotion--video--play-btn--border-color;
        .border-radius(100%);
        
        position: absolute;
        .unitize(top, 25); .unitize(right, 25);
        
        .unitize(font-size, 21);
        .unitize(line-height, 40);
        text-align: center;
        
        cursor: pointer;
        
        color: 
            @emotion--video--play-btn--color;
        
        z-index: @emotion--video--play-btn--z-index;
        
        .transition();
    }

    .video--text{
        width: 100%; height: 100%;
        margin: auto;
        
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: @emotion--video--text--z-index;
        
        text-align: center;
        
        color: 
            @emotion--video--text--color;

        &.no--events{
            pointer-events: none;
        }
    }
}



// Youtube Element
// -----------------------------------------------------------------------------
.emotion--youtube{
    width: 100%; height: 100%;
}