// Input Types
// =============================================================================

// Defines the basic styling of the Shopware input element types.
// It contains the different states of the input fields.

// Examples: --------------------------------------------------------------

// <div>
//     <input type="text" placeholder="Text Input">
// </div>
// <div>
//     <input type="password" placeholder="Password Input">
// </div>
// <div class="textarea">
//     <textarea placeholder="Textarea"></textarea>
// </div>

// ------------------------------------------------------------------------

textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"]{
    .box-sizing();
    .unitize-width(290);
    .unitize-padding(10, 10, 9, 10);
    
    border: 1px solid @input--border-color;
    
    .box-shadow(0 0 0 transparent);
    
    .unitize(@input--font-size, 16, font-size);
    .unitize(line-height, 19);
    text-align: left;
    
    .appearance(none);
    
    color: 
        @input--color;
    background: 
        @input--bg;

    &:focus{
        outline: none;
        
        border-color: 
            @input--focus-border-color;
        color: 
            @input--focus-color;
        background: 
            @input--focus-bg;
    }

    // Error
    // ---------------------------------------------------------------------
    &.has--error{
        border-color: 
            @input--error-border-color;
        color: 
            @input--error-color;
        background: 
            @input--error-bg;
    }

    // Success
    // ---------------------------------------------------------------------
    &.has--success{
        border-color: 
            @input--success-border-color;
        color: 
            @input--success-color;
        background: 
            @input--success-bg;
    }

    // Input field spacing
    // ---------------------------------------------------------------------
    
    &.input--field{
        width: 100%;
        .unitize(margin-bottom, 10);

        &.input--field-zipcode{
            float: left;
            width: 30%;
        }
        &.input--field-city{
            float: left;
            width: 68%;
        }
        &.input--spacer{
            margin-right: 2%;
        }
    }
    &.is--small{
        .unitize(height, 34);
    }
    &.is--medium{
        .unitize(height, 38);
    }
    &.is--large{
        .unitize(height, 42);
    }
    
}

textarea{
    resize: vertical;
}

label{
    .unitize(@label--font-size, 16, font-size);
    
    color: 
        @label--color;
    
    &.has--error{
        color: 
            @highlight-error;
        background: 
            @input--error-bg;
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and (min-width: @tablet--viewport-width){

    .input--field{
        .unitize(margin-bottom, 15);

        .input--field-zipcode{
            margin-right: 2%;
            width: 20%;
        }
        .input--field-city{
            width: 78%;
        }
    }
}

// Desktop Viewport Width
// =============================================================================

@media screen and (min-width: @desktop--viewport-width){

    .input--field{
        .unitize(margin-bottom, 15);
    }
}



// Selectbox
// -----------------------------------------------------------------------------

// Creates a styled dropdown menu as a replacement for the basic select element.

// The plugin 'jquery.selectbox-replacement.js' automaticly changes every 'select' element to the slim dropdown selectbox of Shopware.

// Example: ----------------------------------------------------------------

// <select>
//     <option selected="selected" disabled="disabled" value="">Disabled Option</option>
//     <option>Option 1</option>
//     <option>Option 2</option>
// </select>

// -------------------------------------------------------------------------

.js--fancy-select{
    .clearfix();
    .box-sizing();

    .unitize-width(290);
    .border-radius(@fancy-select--border-radius);

    .unitize(line-height, 40);

    display: inline-block;
    position: relative;
    border: 
        1px solid @fancy-select--border-color;
    
    overflow: hidden;
    
    cursor: pointer;
    
    text-align: left;

    color:
        @fancy-select--color;
    background:
        @fancy-select--bg;
    
    &:hover{
        border-color: 
            @fancy-select--hover-border-color;
        color: 
            @fancy-select--hover-color;
        background: 
            @fancy-select--hover-bg;
    }

    &.js--is--focused{
        border-color: 
            @fancy-select--focused-border-color;
        color: 
            @fancy-select--focused-color;
        background: 
            @fancy-select--focused-bg;
    }

    select{
        display: block;
        width: 100%; height: 100%;
        
        .opacity(0);
        .appearance(none);
        
        position: absolute;
        z-index: @fancy-select--z-index;
        
        cursor: pointer;
        

        option{
            color: 
                @fancy-select--option--color;
        }

        // Removes the blue glow around the select field
        // see: http://www.faridesign.net/2012/02/remove-border-around-input-chrome-safari/
        &:focus{
            outline: none;
        }
    }

    .js--fancy-select-text{
        .unitize-padding(0, 40, 0, 10);

        // CSS truncating
        overflow: hidden;
        
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .js--fancy-select-trigger{
        .unitize-width(30);
        border-left: 1px solid @fancy-select--border-color;
        
        position: absolute;
        top: 0; right: 0;
        text-align: center;
        font-weight: bold;
    }
    &:hover .js--fany-select-trigger{
        border-left-color: @fancy-select--hover-border-color !important;
    }
    &.js--is--focused .js--fany-select-trigger{
        border-left-color: @fancy-select--focused-border-color !important;
    }

    &.is--disabled{
        .opacity(0.5);

        select{
            cursor: not-allowed;
        }
    }

    // Error
    // ---------------------------------------------------------------------
    
    &.has--error{
        border-color: 
            @fancy-select--error--border-color;
        color: 
            @fancy-select--error--color;
        background: 
            @fancy-select--error--bg;

        .js--fancy-select-trigger{
            border-color: 
                @fancy-select--error--border-color;
        }
    }
}