// flags.less
// ==================================================

// Displays a country flag the size of 14px x 11px used for language selections purposes.

// @package     Grace & Holmes
// @since       1.0

.language--flag{
    display: inline-block;
    .unitize-width(14); .unitize-height(11);
    
    overflow: hidden;
    
    text-indent: 100%;
    white-space: nowrap;
    
    background: 
        @language--flag--bg;

    &.de_DE{background-position: 0 0;}
    &.en_GB{background-position: 0 -11px;}
    &.nl_NL{background-position: 0 -22px;}
    &.fr_FR{background-position: 0 -33px;}
    &.es_ES{background-position: 0 -44px;}
    &.it_IT{background-position: 0 -55px;}
}