// form.less
// =============================================================================

// Contains the general layout and styling for the Shopware form elements and fieldsets.
// The fieldset padding size is defined with the unitize mixin.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <fieldset>
//     <form>
//         <table>
//             <tr>
//                 <td>Table cell</td>
//             </tr>
//             <tr>
//                 <td>Table cell</td>
//             </tr>
//             <tr>
//                 <td>Table cell</td>
//             </tr>
//         <table>
//     <form>
// </fieldset>

// -------------------------------------------------------------------------

form{
    display: block;

    table{
        width: 100%;

        td{
            padding: 10px;
        }
    }
}
fieldset{
    .unitize-padding(10, 10);
    border: 1px solid @fieldset--border-color;
}