// image-slide.less
// =============================================================================

// Defines the styles for the image slider element that is a part of the basic 
// Shopware 5 shopping world elements.

// The element can be added by using the Shopware 5 backend shopping world editor.

// The element contains thumbnail image previews, navigation dots and navigation 
// arrows to change the current active image.

// It contains the viewport specific styles inside media queries. 

// @package     Grace & Holmes
// @since       1.0

.image-slider{
    .clearfix();
    display: block;
    
    position: relative;
    z-index: @image-slider--z-index;
    
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
}



// Image slider container
// -----------------------------------------------------------------------------

.image-slider--container{
    display: block;
    .unitize-height(200);
    
    position: relative;
    top: 0; left: 0;
    overflow: hidden;
    
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
    
    .tap-highlight-color(rgba(0, 0, 0, 0));
    
    // Arrow
    // ---------------------------------------------------------------------

    .arrow{
        display: none;
        .unitize-width(30); .unitize-height(70);
        
        border: 1px solid @image-slider--arrow--border-color;
        .unitize(-35, 16, margin-top);
        
        position: absolute;
        top: 50%;
        z-index: @image-slider--arrow--z-index;
        
        font-family: 'shopware';
        .unitize(font-size, 12);
        .unitize(line-height, 68);
        text-align: center;
        
        cursor: pointer;
        
        color: 
            @image-slider--arrow--color;
        background: 
            @image-slider--arrow--bg;
        
        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
        
        .transition(all @fast--transition);

        &:hover{
            .unitize-width(40);
            
            border-color:
                @image-slider--arrow--hover-border-color;
            color: 
                @image-slider--arrow--hover--color;
            background: 
                @image-slider--arrow--hover--bg;
        }
        
        // Class modifications
        // -------------------------------------------------------------

        &.is--left{
            .border-radius-multi(0, @image-slider--arrow--border-radius, @image-slider--arrow--border-radius, 0);
            .unitize(left, 0);

            &:before{
                content: "\e611";
            }
        }
        &.is--right{
            .border-radius-multi(@image-slider--arrow--border-radius, 0, 0, @image-slider--arrow--border-radius);
            .unitize(right, 0);

            &:before{
                content: "\e60f";
            }
        }
    }

    &.is--dragging .image-slider--item{
        cursor: move;
    }
}



// Image slider slide
// -----------------------------------------------------------------------------

.image-slider--slide{
    .clearfix();
    display: block;
    height: 100%;
    
    position: relative;
    top: 0; left: 0;
    
    font-size: 0;
    white-space: nowrap;

    -ms-touch-action: pan-y;

    .backface-visibility(hidden);
    .transform-style(preserve-3d);
}



// Image slider item
// -----------------------------------------------------------------------------

.image-slider--item{
    display: inline-block;
    width: 100%; height: 100%;
    
    position: relative;
    
    cursor: pointer;
    
    text-align: center;
    
    .backface-visibility(hidden);
    .transform-style(preserve-3d);

    .image--element{
        display: inline-block;
        max-width: 100%; height: 100%;
    }
    .image--media{
        margin: 0 auto;
        text-align: center;
    }
}



// Image slider dots
// -----------------------------------------------------------------------------

.image-slider--dots{
    display: block;
    width: 100%;
    .unitize-padding(10,0);
            
    text-align: center;

    .dot--link{
        display: inline-block;
        .unitize-width(10); .unitize-height(10);

        border: 1px solid ;
        border-color:
            @image-slider--dot-link--border-color;
        .border-radius(100%);

        .unitize-margin(5, 7);

        text-indent: -99999em;

        cursor: pointer;

        background: 
            @image-slider--dot-link--bg !important;

        .transition(border-color @fast--transition);

        &:hover{
            border-color: 
                @image-slider--dot-link--hover-border-color;
        }
        &.is--active{
            .unitize-width(12); .unitize-height(12);
            
            border: 2px solid;
            border-color: 
                @image-slider--dot-link--active-border-color;
            
            .unitize-margin(5, 6);
        }
    }
}



// Image slider thumbnails
// -----------------------------------------------------------------------------

.image-slider--thumbnails{
    display: none;
    width: 100%; .unitize-height(70);
    
    position: absolute;
    .unitize(top, 440); left: 0;
    overflow: hidden;

    white-space: nowrap;
    
    .image-slider--thumbnails-slide{
        position: absolute;
        top: 0; left: 0;
    }

    // Link
    // ---------------------------------------------------------------------
    
    .thumbnail--link{
        display: inline-block;
        .unitize-width(70); .unitize-height(70);
        .unitize-padding(5, 5);
        
        border: 1px solid @image-slider--thumbnails--border-color;
        .border-radius(@image-slider--thumbnails--border-radius);
        
        .unitize-margin(0, 10, 0, 0);
        
        .unitize(line-height, 57);
        text-align: center;
        
        .tap-highlight-color();

        &:hover{
            border-color: @image-slider--thumbnails--hover-border-color;
        }
        &.is--active{
            border-color: @image-slider--thumbnails--active-border-color;
        }
    }

    // Image
    // ---------------------------------------------------------------------
    
    .thumbnail--image{
        display: inline;
        vertical-align: middle;
    }

    // Arrow
    // ---------------------------------------------------------------------
    
    .thumbnails--arrow{
        display: none;
        .unitize-width(20); .unitize-height(70);
        
        border: 1px solid @image-slider--thumbnails--arrow--border-color;
        .border-radius(@image-slider--thumbnails--arrow--border-radius);
        
        position: absolute;
        z-index: @image-slider--arrow--z-index;
        
        .unitize(font-size, 14);
        .unitize(line-height, 70);
        
        cursor: pointer;
        
        font-family: 'shopware';
        text-align: center;
                
        .transition(all @fast--transition);

        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
        
        color: 
            @image-slider--thumbnails--arrow--color;
        background: 
            @image-slider--thumbnails--arrow--bg;

        &:hover{
            border-color: 
                @image-slider--thumbnails--arrow--hover-border-color;
            color: 
                @image-slider--thumbnails--arrow--hover-color;
            background: 
                @image-slider--thumbnails--arrow--hover-bg;
        }
        
        // Class modifications
        // -------------------------------------------------------------
        
        &.is--top,
        &.is--bottom{
            .unitize-width(70); .unitize-height(24);
            .unitize-padding(2, 0, 0, 0);
            
            left: 0;
            
            .unitize(font-size, 8);
            .unitize(line-height, 18);
            
            &:hover{
                .unitize-height(32);
                .unitize(line-height, 26);
            }
        }
        &.is--top{
            .border-radius-multi(0, 0, @image-slider--thumbnails--arrow--border-radius, @image-slider--thumbnails--arrow--border-radius);
            top: 0;

            &::before{
                content: "\e610";
            }
        }
        &.is--bottom{
            .border-radius-multi(@image-slider--thumbnails--arrow--border-radius, @image-slider--thumbnails--arrow--border-radius, 0, 0);
            bottom: 0;

            &::before{
                content: "\e612";
            }
        }
        
        &.is--left,
        &.is--right{
            &:hover{
                .unitize-width(32);
            }
        }
        &.is--left{
            .unitize-width(24, 16);
            .border-radius-multi(0, @image-slider--thumbnails--arrow--border-radius, @image-slider--thumbnails--arrow--border-radius, 0);
            top: 0; left: 0;

            &::before{
                content: "\e611";
            }
        }
        &.is--right{
            .unitize-width(24, 16);
            .border-radius-multi(@image-slider--thumbnails--arrow--border-radius, 0, 0, @image-slider--thumbnails--arrow--border-radius);
            top: 0; right: 0;

            &::before{
                content: "\e60f";
            }
        }

        &.is--active{
            display: block;
        }
    }
}



// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    
    // Image slider container
    // -------------------------------------------------------------------------
    
    .image-slider--container{
        .unitize-height(400);

        .arrow{
            display: block;
        }
    }
}



// Tablet Landscape Viewport Width
// =============================================================================

@media screen and (min-width: @tablet-landscape--viewport-width){
    
    // Image slider container
    // -------------------------------------------------------------------------
    
    .image-slider--container{
        .unitize-height(400);
        .unitize(margin-bottom, 110);

        &.no--thumbnails{
            margin-bottom: 0;
        }

        &.no--image .image-slider--item{
            cursor: default;
        }
    }
    
    // Image slider thumbnails
    // -------------------------------------------------------------------------
    
    .image-slider--thumbnails{
        display: block;
    }
    
    // Image slider dots
    // -------------------------------------------------------------------------
    
    .image-slider--dots{
        position: absolute;
        .unitize(top, 405);
    }
}



// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    
    // Image slider container
    // -------------------------------------------------------------------------
    
    .image-slider--container{
        .unitize-height(430);
        margin-bottom: 0;
    }
    
    // Image slider thumbnails
    // -------------------------------------------------------------------------

    .image-slider--thumbnails{
        float: left;
        .unitize-width(70); .unitize-height(430);
        
        .unitize-margin(0, 20, 0, 0);
        
        position: relative;
        top:0; left: 0;

        .thumbnail--link{
            display: block;
            .unitize-margin(0, 0, 20, 0);
        }
    }
    
    // Image slider dots
    // -------------------------------------------------------------------------
    
    .image-slider--dots{
        position: relative;
        top: auto;
    }
}