// image-zoom.less
// =============================================================================

// Defines the styles for the Shopware 5 image-zoom element.
// It displays a magnifying glass when hovering the article images on the product detail page.

// The functionality is provided by the 'jquery.image-zoom.js' file.

// @package     Grace & Holmes
// @since       1.0

.js--img-zoom--container{
    position: relative;
    top: 0; left: 0;
}

// Img Zoom Lens
// -----------------------------------------------------------------------------

.js--img-zoom--lens{
    display: none;
    
    border: 1px solid @js--img-zoom--lens--border-color;
    .border-radius(@js--img-zoom--lens--border-radius);
    
    position: absolute;
    top: 0; left: 0;
    
    cursor: pointer;
    
    background: 
        @js--img-zoom--lens--bg;
}

// Img Zoom Flyout
// -----------------------------------------------------------------------------

.js--img-zoom--flyout{
    display: none;
    .unitize-width(460); .unitize-height(340);
    
    border: 1px solid @js--img-zoom--flyout--border-color;
    .border-radius(@js--img-zoom--flyout--border-radius);
    
    position: absolute;
    top: 0; .unitize(-490, 16, right);
    z-index: @js--img-zoom--flyout--z-index;
    
    overflow: hidden;
    
    background: 
        @js--img-zoom--flyout--bg;
}

// Img Zoom Title
// -----------------------------------------------------------------------------

.js--img-zoom--title{
    .unitize-padding(10, 15);
    
    .unitize(font-size, 14);
    font-weight: @font-weight--semibold;
    .unitize(line-height, 20);
    text-align: center;
    
    color: 
        @js--img-zoom--title--color;
    background: 
        @js--img-zoom--title--bg;
}