// image-gallery.less
// =============================================================================

// Defines the styles for the image gallery element that shows thumbnails of the product pictures in a slim slider element.
// It is displayed on the product detail page. 

// @package     Grace & Holmes
// @since       1.0

.image--gallery{
    .image-slider--container{
        height: auto;
        margin: 0;
        
        position: absolute;
        top: 0; .unitize(bottom, 90);
        left: 0; right: 0;
        
        .arrow{
            &.is--left{
                .unitize(left, 10);
            }
            &.is--right{
                .unitize(right, 10);
            }
        }
    }

    &.no--thumbnails .image-slider--container{
        bottom: 0;
    }

    .image-slider--item{
        display: inline-block;
        height: 100%; width: 100%;
        
        position: relative;
        
        text-align: center;
        
        cursor: default;

        .image--element{
            display: block;
            width: auto; max-width: 100%;
            height: auto;
        }

        .image--media, img{
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }
    }

    .image-slider--thumbnails{
        display: block;
        width: 100%; .unitize(height, 90);
        .unitize-padding(10, 0);
        
        margin: 0;
        
        position: absolute;
        top: auto; bottom: 0;
        
        background: 
            @image--gallery--slider--thumbnails--bg;

        .thumbnails--arrow{
            .unitize(top, 10);

            &.is--left{
                border-left: 0 none;
            }
            &.is--right{
                border-right: 0 none;
            }
        }
    }

    .image-slider--thumbnails-slide{
        .unitize-margin(0, 10);
        top: auto; left: auto;
    }

    .thumbnail--link{
        display: inline-block;
        .unitize-margin(0, 10, 0, 0);
    }

    .button--zoom-in,
    .button--zoom-out,
    .button--zoom-reset{
        .unitize-padding(2, 6);
        
        position: absolute;
        .unitize(top, 10); .unitize(left, 10);
        
        .unitize(font-size, 20);

        &:hover{
            z-index: @image--gallery--button--z-index;
        }
    }

    .button--zoom-out{
        .border-radius-multi(@image--gallery--button--border-radius, 0, 0, @image--gallery--button--border-radius);
    }

    .button--zoom-reset{
        .unitize(left, 43);
        border-radius: 0;
    }

    .button--zoom-in{
        .border-radius-multi(0, @image--gallery--button--border-radius, @image--gallery--button--border-radius, 0);
        .unitize(left, 76);
    }
}

.image-gallery--modal{
    .modal--close{
        .unitize(width, 34); .unitize(height, 34);
        
        .unitize(top, 10);
        
        .unitize(line-height, 32);
    }
}



// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){
    .js--image-gallery{
        width: 80%; height: 80%;
    }
}