// labels.less
// =============================================================================

// Creates a label for displaying a status.
// To work properly the 'span'-element needs the general 'label'-class and a color scheme option:

// @package     Grace & Holmes
// @since       1.0

// Options: ----------------------------------------------------------------

// success, info, warning, error.

// -------------------------------------------------------------------------

// Example: ----------------------------------------------------------------

// <span class="label success">Success!</span>
// <span class="label info">Info!</span>
// <span class="label warning">Warning!</span>
// <span class="label error">Error!</span>

// -------------------------------------------------------------------------

.label{
    display: inline-block;
    .unitize-padding(3, 8);
    
    .unitize-margin(0, 5);
    
    .unitize(@label--font-size, 16, font-size);
    .unitize(line-height, 18);
    
    text-align: center;
    white-space: nowrap;
    
    color: 
        @label--color;
    background: 
        @label--bg;

    &.success{
        background: 
            @label--highlight-success--bg;
    }
    &.info{
        background: 
            @label--highlight-info--bg;
    }
    &.warning{
        background: 
            @label--highlight-warning--bg;
    }
    &.error{
        background: 
            @label--highlight-error--bg;
    }
}