// last-seen-products.less
// =============================================================================

// The Last-seen products element fetches the recently viewed articles of the user and displays them inside a slider-element.
// The slider contains a title element and a product box with the article-image and price. 

// @package     Grace & Holmes
// @since       1.0

.last-seen-products{
    .clearfix();
    clear: both;
    
    .unitize-margin(10, 0, 0, 0);

    .last-seen-products--title{
        display: inline-block;
        .unitize-padding(10, 15);
    
        .unitize(font-size, 14);
        font-weight: @font-weight--semibold;
        .unitize(line-height, 24);
        text-align: center;
        white-space: nowrap;
        
        color: 
            @last-seen-products--color;
    }
}

// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){
    .last-seen-products{
        .unitize-margin(30, 0, 0, 0);
    }
}



// Last seen products slider & container
// -----------------------------------------------------------------------------

.last-seen-products--slider{
    height: auto;
    .border-radius(@last-seen-products--slider--border-radius);
    
    background: 
        @last-seen-products--slider--bg;
}
.last-seen-products--slider,
.last-seen-products--container{
    overflow: hidden;
    position: relative;
}
.last-seen-products--container{
    .unitize-padding(10, 15);
}



// Last seen products item
// -----------------------------------------------------------------------------

.last-seen-products--item{
    
}
.last-seen-products-item--image{
    display: block;
    margin: 0;
    
    .unitize(line-height, 120);
}
.last-seen-products--item--title{
    &.product--title{
        padding: 0; margin: 0;
        text-align: center;
    }
}