// lightbox.less
// =============================================================================

// Defines the properties for the lightbox container and image elements.
// The lightbox creates a fullscreen overlay to preview product images.
// Both components are required in order to make the element work properly. 

// @package     Grace & Holmes
// @since       1.0

.lightbox--container{
    display: block;
    width: 100%; height: 100%;
    
    position: relative;
    
    background: 
        @lightbox--container--bg;
}
.lightbox--image{
    margin: auto;
    
    position: absolute;
    top:0; left: 0;
    bottom: 0; right: 0;
    
    vertical-align: middle;
}