// loading-indicator.less
// =============================================================================

// Displays a spinning circle to indicate a loading status.
// Can be imported by using the 'i' tag with the 'icon--loading-indicator' class.

// The functionality is provided by the 'jquery.loading-indicator.js' file.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <i class="icon--loading-indicator"></i>

// -------------------------------------------------------------------------

.js--loading-indicator{
    display: none;
    .unitize-padding(20, 20, 20, 20);
    
    position: fixed;
    top: 50%; left: 50%;
    z-index: @js--loading-indicator--z-index;

    &.indicator--relative{
        display: block;
        .unitize-width(30); .unitize-height(30);
        .unitize(padding-top, 50); .unitize(padding-bottom, 50);
        border: 0 none;
        
        position: relative;
        top: auto; left: 50%;
        
        background: 
            none;
    }

    &.indicator--absolute{
        .indicator--relative();
        
        padding: 0;
        position: absolute;
        top: 50%;
        
        &.js--loading-indicator{
            .unitize-margin(-15, 0, 0, -15);
        };
    }
}
.has--cssanimations{
    .js--loading-indicator{
        .unitize-margin(-33, 0, 0, -33);

        div[class^="icon--"]{
            display: block;
            .unitize-width(26); .unitize-height(26);
        }

        .icon--default:before,
        .icon--default::before{
            content: "";
            
            display: block;
            .unitize-width(22); .unitize-height(22);
            
            border: 2px solid;
            border-color: 
                @js--loading-indicator--border-color transparent transparent transparent;
            .border-radius(100%);
            
            .animation(keyframe--spin 1s linear infinite);
        }
    }
}
.has--no-cssanimations{
    .js--loading-indicator{
        .unitize-margin(-28, 0, 0, -28);

        div[class^="icon--"]{
            display: block;
            .unitize-width(16); .unitize-height(16);

            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .icon--default{
            .unitize-height(16, 16); .unitize-width(16, 16);

            background-image: 
                url(../../img/icons/loading-indicator.gif);
        }
    }
}