// menu-scroller.less
// =============================================================================
// Some styling rules can also be found in the hacks.less!

// @package     Grace & Holmes
// @since       1.0

.js--menu-scroller{
    position: relative;
}

.navigation--list-wrapper{
    position: relative;
    overflow: hidden;
}



// Menu Scroller List
// -----------------------------------------------------------------------------

.js--menu-scroller--list{
    max-width: none;
    
    overflow-x: scroll;
    position: relative;
    left: 0;
    
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar{
        display: none;
    }
}



// Menu Scroller Arrow
// -----------------------------------------------------------------------------

.js--menu-scroller--arrow{
    display: none;
    .unitize-width(22); .unitize-height(37);
    border: 1px solid @js--menu-scroller--arrow--border-color;
    
    .unitize(line-height, 36);
    .unitize(font-size, 12);
    
    position: absolute;
    .unitize(top, 1);
    z-index: @js--menu-scroller--arrow--z-index;
    
    font-family: "shopware";
    text-align: center;
    
    cursor: pointer;
    
    color: 
        @js--menu-scroller--arrow--color;
    background:
        @js--menu-scroller--arrow--bg;
    
    &:hover,
    &:active{
        border-color:
            @js--menu-scroller--arrow--hover-border-color;
        color: 
            @js--menu-scroller--arrow--hover-color;
        background: 
            @js--menu-scroller--arrow--hover-bg;
    }

    &.left--arrow{
        .border-radius-multi(0, @js--menu-scroller--arrow--border-radius, @js--menu-scroller--arrow--border-radius, 0);
        border-left: 0 none;
        
        left: 0;
    }
    &.right--arrow{
        .border-radius-multi(@js--menu-scroller--arrow--border-radius, 0, 0, @js--menu-scroller--arrow--border-radius);
        border-right: 0 none;
        
        right: 0;
    }
}

// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){

    .js--menu-scroller--arrow{
        &.left--arrow,&.right--arrow{
            border: 1px solid @js--menu-scroller--arrow--border-color;
            .border-radius(@js--menu-scroller--arrow--border-radius);
            
            &:hover{
                border-color: 
                    @js--menu-scroller--arrow--hover-border-color;
            }
        }
        &.left--arrow{
            left: 0;
        }
        &.right--arrow{
            right: 0;
        }
    }
}