// offcanvas-button.less
// =============================================================================

// Defines the styling of the off-canvas menu trigger button that is used for the shopping off-canvas cart.
// The Shopware 5 off-canvas menu can be enabled/disabled inside the Shopware backend.
// The functionality is provided by the 'jquery.off-canvas-button.js' file.

// @package     Grace & Holmes
// @since       1.0

.js--off-canvas-button{
    display: block;
    .unitize-padding(10, 10);
    
    border: 1px solid @js--off-canvas-button--border-color;
    .border-radius(@js--off-canvas-button--border-radius);
    
    .unitize(margin-bottom, 10);
    
    position: relative;
    
    cursor: pointer;

    .tab--header{
        .unitize(margin-bottom, 10);
        position: relative;
    }
    
    .tab--title:after{
        content: "\e60f";
    
        .unitize(-6, 16, margin-top);
        .unitize(right, 5);
        
        .unitize(font-size, 12);
        
        color:
            @js--off-canvas-button--tab-title--color;
    }
    &:hover .tab--title{
        color:
            @js--off-canvas-button--tab-title--hover-color;
    }
    
    .tab--preview{
        display: block;

        p:last-child{
            margin-bottom: 0;
        }
    }
    
    .tab--content{
        cursor: default;
    }
    
}