// offcanvas-menu.less
// =============================================================================

// The off-canvas menu is the default shopping cart menu in Shopware.
// It is an expanding menu that displays the shopping cart at the right side of the screen.
// It can be enabled/disabled inside the Shopware 5 backend.
// The functionality is provided by the 'jquery.off-canvas-menu.js' file.

// @package     Grace & Holmes
// @since       1.0

    
    
// Page Wrap
// -----------------------------------------------------------------------------

.page-wrap{
    position: relative;
    left: 0;
    
    .transition(@page-wrap--transition);
}



// Off Canvas
// -----------------------------------------------------------------------------

.buttons--off-canvas{
    display: none;
}
.off-canvas{
    display: none;
    .unitize-width(280);
    
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    
    position: fixed;
    top: 0; bottom: 0;
    z-index: @off-canvas--z-index;
    
    color:
        @off-canvas--color;
    background: 
        @off-canvas--bg;
    
    .transition(@off-canvas--transition);
    .transform-style(preserve-3d);
    
    .navigation--link{
        .transition(@off-canvas--navigation--link--transition);
    }
    
    // Off Canvas Button
    // ---------------------------------------------------------------------
    
    .buttons--off-canvas{
        display: block;
    }
    .close--off-canvas{
        .clearfix();
        
        display: block;
        .unitize-padding(2, 10);
        
        cursor: pointer;
        
        .unitize(line-height, 38);
        font-weight: bold;
        
        color: @close-off-canvas--color;
        background:
            @close-off-canvas--bg;

        .icon--arrow-left{
            .unitize-margin(0, 10, 0, 0);
            .unitize(font-size, 11);
        }
    }
    .link--go-main{
        display: block;
        width: 100%; .unitize-height(42);
        .unitize-padding(10, 10);
        
        .unitize(font-size, 16);
        font-weight: 700;

        .icon--menu{
            float: left;
            .unitize(margin-right, 10);
            
            .unitize(font-size, 20);
        }
    }
    
    // Class modifications
    // ---------------------------------------------------------------------
    
    &.is--left{
        left: 0;
        .transform(translateX(-100%));
    }
    &.is--right{
        right: 0;
        .transform(translateX(100%));
    }
    &.is--active{
        display: block;
    }
    &.is--open{
        .transform(translateX(0));
    }
    &.is--full-screen{
        width: 100%;
    }
    &.no--transitions{
        .transition(none);
    }
    
}
.off-canvas .mobile--switches{
    .navigation--entry{
        padding: 0;
        border: none;
        background: none;
    }
}



// Off Canvas Overlay
// -----------------------------------------------------------------------------

.offcanvas--overlay{
    .unitize(width, 280);
    padding: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    position: absolute;
    .unitize(top, 42); bottom: 0;
    left: 0;
    z-index: @off-canvas--overlay--z-index;
    
    color: 
        @off-canvas--overlay--color;
    background: 
        @off-canvas--overlay--bg;

    &.background{
        z-index: @off-canvas--overlay--background--z-index;
    }
    
    .overlay--headline{
        width: 100%;
        
        .unitize(margin-bottom, 10);
        
        color:
            @off-canvas--overlay--headline--color;
        background: 
            @off-canvas--overlay--headline--bg;
        
        a{
            color: 
                @off-canvas--overlay--headline--link--color;
        }
        a:hover{
            color: 
                @off-canvas--overlay--headline--link--hover-color;
        }
    }
    
    .overlay--category{
        .unitize-margin(16, 10, 6, 10);
        .unitize(line-height, 26);

        .category--headline{
            padding: 0;
            margin: 0;
            
            .unitize(font-size, 14);
            font-weight: @font-weight--bold;
            
            color: 
                @off-canvas--overlay--category--headline--color;
        }
    }

    // Class Modification
    // ---------------------------------------------------------------------
    
    .is--icon-left{
        display: inline-block;
        
        .unitize(margin-top, 5);
        .unitize(margin-right, 5);
        
        .unitize(font-size, 10);
    }
    .is--icon-right{
        float: right;
        display: inline-block;
        
        .unitize(margin-top, 5);
        
        .unitize(font-size, 10);
    }
    .is--back-button,
    .is--display-button{
        font-weight: bold;
    }
    .is--back-button{
        
    }
}



// Tablet Viewport Width
// =============================================================================

@media screen and(min-width: @tablet--viewport-width){

    /*
    
    // Off Canvas
    // ---------------------------------------------------------------------
    
    // Reset the styles of the standard off-canvas elements on higher screen sizes
    
    @off-canvas--z-index--tablet-viewport:      1000;
    
    .off-canvas{
        display: block;
        width: auto; height: auto;
        
        position: relative;
        top: 0; left: 0;
        z-index: @off-canvas--z-index--tablet-viewport;
        
        background: 
            transparent;
        
        .translate(0, 0);
        .transition(none);
    }
    
    // Off Canvas Overlay
    // ---------------------------------------------------------------------
    .offcanvas--overlay{
        display: none;
    }
    
     */
}