// overlay.less
// =============================================================================

// Creates a fixed full-screen overlay.
// The 'js--overlay' element is used when a modal window is shown.
// The 'js--overlay' element is empty while the html of the modal box will be created just before the closing body-tag.
// The opacity of the full-screen overlay can be modified with javascript.

// The functionality is provided by the 'jquery.overlay.js' file.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <div class="js--overlay" style="opacity: 0.8; display: block; cursor: pointer;"></div>

// -------------------------------------------------------------------------

.js--overlay{
    width: 100%; height: 100%;
    
    position: fixed;
    top: 0; left: 0;
    z-index: @overlay--z-index;
    
    .opacity(0);
    visibility: hidden;
    
    .tap-highlight-color();
    
    background: 
        @overlay--bg;
    
    .transform(translateZ(0));
    .transition(~"opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear");

    &.is--open{
        .opacity(@overlay--opacity);
        visibility: visible;
        
        .transition-delay(0);
    }
    &.is--closable{
        cursor: pointer;
    }
}