// panels.less
// =============================================================================

// Basic panel component for boxes and bordered containers.
// The panel can be used with different content structures.

// @package     Grace & Holmes
// @since       1.0

// Styling options: -------------------------------------------------------- 

// has--border, has--shadow.

// -------------------------------------------------------------------------

// Examples: ---------------------------------------------------------------

// <div class="panel">
//     <div class="panel--body">
//         Basic panel element
//     </div>
// </div>
// <div class="panel has--border">
//     <div class="panel--body">
//         Basic panel with border
//     </div>
// </div>

// -------------------------------------------------------------------------

.panel{
    display: block;
    background: 
        @panel--bg;

    // Has shadow
    // ---------------------------------------------------------------------
    
    &.has--shadow{
        .box-shadow(@panel--box-shadow);
    }
    
    // Has border
    // ---------------------------------------------------------------------
    
    &.has--border{
        border: 1px solid @panel--border-color;
    }
    
}



// Panel Header
// -----------------------------------------------------------------------------

// Can be used by adding the 'panel--header'-element and 'primary' or 'secondary' classes.

// Example: ----------------------------------------------------------------

// <div class="panel">
//     <div class="panel--header primary">Panel header primary</div>
//     <div class="panel--header secondary">Panel header secondary</div>
//     <div class="panel--body">
//         Panel body
//     </div>
// </div>

// -------------------------------------------------------------------------

.panel--header{
    display: block;
    .unitize-padding(10, 10);
    border-bottom: 1px solid @panel-header--border-color;
    
    margin: 0;
    
    .unitize(@panel-header--font-size, 16, font-size);
    font-weight: @font-weight--semibold;
    
    color: 
        @panel-header--color;
    background: 
        @panel-header--bg;

    // Primary
    // ---------------------------------------------------------------------
    
    &.primary{
        border-bottom-color:
            @panel-header--primary-border-color;
        color: 
            @panel-header--primary-color;
        background: 
            @panel-header--primary-bg;
    }

    // Secondary
    // ---------------------------------------------------------------------
    
    &.secondary{
        border-bottom-color:
            @panel-header--secondary-border-color;
        color: 
            @panel-header--secondary-color;
        background: 
            @panel-header--secondary-bg;
    }
    
}



// Panel Title
// -----------------------------------------------------------------------------

// The 'panel--title' can be used as an alternative to the 'panel--header' element.
// When using the 'panel--title' element, make sure that the 'panel--body' element 
// has the class 'is--wide' assigned in order to work properly. Also the 'is--underline' 
// class was added here.

// Example: ----------------------------------------------------------------

// <div class="panel">
//     <h3 class="panel--title is--underline">Panel title</h3>
//     <div class="panel--body is--wide">
//         Panel body
//     </div>
// </div>

// -------------------------------------------------------------------------

.panel--title{
    display: block;
    .unitize-padding(20, 0, 0, 0);
    
    .unitize-margin(0, 20);
    
    .unitize(font-size, 16);
    font-weight: @font-weight--semibold;
    
    color:
        @panel--title--color;

    // Underlined
    // ---------------------------------------------------------------------
    
    &.is--underline{
        .unitize-padding(20, 0, 10, 0);
        border-bottom: 1px solid @panel--title--border-color;
        
        text-decoration: none !important;
    }
    
    // Primary
    // ---------------------------------------------------------------------
    
    &.is--primary{
        color:
            @panel--title--primary-color;
    }
    
    // Secondary
    // ---------------------------------------------------------------------
    
    &.is--secondary{
        color:
            @panel--title--secondary-color;
    }
    
}



// Panel Body
// -----------------------------------------------------------------------------

// Styling options: 'is--slim', 'is--wide', 'is--flat', 'is--embossed'.

// Example: ----------------------------------------------------------------

// <div class="panel">
//     <div class="panel--body is--wide">Panel content ...</div>
// </div>

// -------------------------------------------------------------------------

.panel--body{
    display: block;
    .unitize-padding(10, 10);
    
    position: relative;
    
    .unitize(font-size, 14);
    .unitize(line-height, 24);

    background: 
        @panel--body--bg;
    
    // Has border
    // ---------------------------------------------------------------------
    
    &.has--border{
        //border: 1px solid @panel--border-color;
    }
    
    // Class modifications
    // ---------------------------------------------------------------------
    
    &.is--slim{
        .unitize-padding(5, 5);
    }
    &.is--wide{
        .unitize-padding(20, 20);
    }
    &.is--flat{
        background: 
            @panel--body--flat-bg;
    }
    &.is--embossed{
        .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.2));
        background: 
            @panel--body--embossed-bg;
    }
    
}



// Panel Actions
// -----------------------------------------------------------------------------

// A container for action elements

// Example: ---------------------------------------------------------------

// <div class="panel--actions">
//     <a href="" class="btn">Action Link</a>
//     <a href="" class="btn">Action Link</a>
// </div>

// -------------------------------------------------------------------------

.panel--actions{
    display: block;
    .unitize-padding(10, 10);
    
    .unitize(line-height, 40);

    .btn{
        .unitize-margin(0, 6, 0, 0);
    }
    
    
    // Has border
    // ---------------------------------------------------------------------

    &.has--border{
        .unitize-padding(10, 0, 0, 0);
        border-top: 1px solid @panel--actions--border-color;
        
        .unitize-margin(10, 0, 0, 0);
    }
    
    // Class modifications
    // ---------------------------------------------------------------------

    &.is--slim{
        .unitize-padding(5, 5);
    }
    &.is--wide{
        .unitize-padding(20, 20);
    }
}



// Panel Table
// -----------------------------------------------------------------------------
// A table inside a panel.

// Example: ---------------------------------------------------------------

// <div class="panel--table">
//     <div class="panel--tr">
//         <div class="panel--th></div>
//         <div class="panel--th></div>
//         <div class="panel--th></div>
//     </div>
//     <div class="panel--tr">
//         <div class="panel--td"></div>
//         <div class="panel--td"></div>
//         <div class="panel--td"></div>
//     </div>
// </div>

// ------------------------------------------------------------------------

.panel--table{
    .clearfix();
    
    display: block;
    width: 100%;
    
    border-collapse: collapse;
    border-spacing: 0;
    
    empty-cells: show;

    // Has border
    // ---------------------------------------------------------------------
    
    &.has--border{
        border: 1px solid @panel--table--border-color;
    }
}
.panel--tr{
    .clearfix();
    
    display: block;
    width: 100%;
    
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: 
        @panel--table--border-color;

    &:last-child{
        border-width: 0;
    }
    &.is--odd{
        background: darken(@panel--tr--bg, 4%);
    }

    // Is secondary
    // -------------------------------------------------------------------------
    
    &.is--secondary{
        background: darken(@panel--tr--bg, 4%);
    }

    // Is primary
    // -------------------------------------------------------------------------
    
    &.is--primary{
        color: 
            @panel--tr--primary-color;
    }
    
}
.panel--th,
.panel--td{
    .clearfix();
    float: left;
    
    display: inline-block;
    .unitize-padding(10, 10);
    
    .unitize(font-size, 14);
    .unitize(line-height, 24);

    p{
        margin: 0;
    }

    // Has border
    // -------------------------------------------------------------------------
    
    &.has--border{
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: @panel--table--border-color;

        &:last-child{
            border-width: 0;
        }
    }
}
.panel--th{
    font-weight: @font-weight--semibold;
    color: 
        @panel--th--color;
}



// Panel List
// -----------------------------------------------------------------------------

// A list in a panel.

// Example: ---------------------------------------------------------------

// <div class="panel">
//     <ul class="panel--list">
//         <li>list element 1</li>
//         <li class="secondary">list element 2</li>
//         <li class="primary">list element 3</li>
//     </ul>
// </div>

// -------------------------------------------------------------------------

.panel--list{
    list-style: none;

    li{
        .unitize-padding(10, 10);
        border-bottom: 1px solid @panel--list--border-color;
        
        .unitize(font-size, 14);
        .unitize(line-height, 24);

        &:last-child{
            border-bottom: 0 none;
        }
        
        // Is primary
        // -------------------------------------------------------------
        
        &.is--primary{
            color: 
                @panel--list--primary-color;
        }
        
        // Is secondary
        // -------------------------------------------------------------
        
        &.is--secondary{
            background: 
                @panel--list--secondary-bg;
        }
    }
    
    // Has border
    // ---------------------------------------------------------------------

    &.has--border{
        border: 1px solid @panel--list--border-color;
    }
    
}



// Panel Arrows
// -----------------------------------------------------------------------------

// Arrow buttons for example for a slider panel.
// Displays an arrow button that is used to navigate through the slider pages.

.panel--arrow{
    display: none;
    .unitize-width(22); .unitize-height(30);
    
    .unitize(-15, 16, margin-top);
    position: absolute;
    top: 50%;
    z-index: @panel--arrow--z-index;
    
    font-family: 'shopware';
    .unitize(font-size, 12);
    .unitize(line-height, 28);
    
    text-align: center;
    
    color: 
        @panel--arrow--color;

    &:hover{
        color: 
            @panel--arrow--hover-color;
    }
    
    &.left--arrow{
        .unitize(left, 10);

        &:before,
        &::before{
            content: "\e611";
        }
    }
    &.right--arrow{
        .unitize(right, 10);

        &:before{
            content: "\e60f";
        }
    }
    
    // Has background
    // ---------------------------------------------------------------------
    
    &.has--background{
        .border-radius(@panel--arrow--border-radius);
        border: 1px solid @panel--arrow--border-color;
        background:
            @panel--arrow--bg;
    }
}



// Panel Dot Navigation
// -----------------------------------------------------------------------------

// A small dot navigation for example for a slider panel.

// Example: ---------------------------------------------------------------

// <div class="panel--dot-nav">
//     <a href=""></a>
//     <a href="" class="is--active"></a>
//     <a href=""></a>
// </div>

// ------------------------------------------------------------------------

.panel--dot-nav{
    .unitize-height(11);
    position: relative;

    .dot--link, a{
        .unitize-variable(21, 16);
        
        display: inline-block;
        .unitize-width(11); .unitize-height(11);

        border: 1px solid @panel--dot-nav--border-color;
        .border-radius(@panel--dot-nav--border-radius);

        .unitize-margin(0, 5);
        
        &.is--active{
            border-color: 
                @panel--dot-nav--active-border-color;
            background: 
                @panel--dot-nav--active-bg;
        }
    }
}



// Panel Tab Navigation
// -----------------------------------------------------------------------------

// A tab navigation for a tab-content panel.

// Example: ---------------------------------------------------------------

// <div class="panel">
//     <ul class="panel--tab-nav">
//         <li><a href="" class="is--active">Nav entry</a></li>
//         <li><a href="">Nav entry</a></li>
//     </ul>
//     <div class="panel--body has--border">
//         <div class="panel--tab-content is--active">Active content</div>
//         <div class="panel--tab-content">inactive content</div>
//     </div>
// </div>

// -------------------------------------------------------------------------

.panel--tab-nav{
    list-style: none;

    .navigation--entry{
        display: inline-block;
    }

    .navigation--link{
        display: block;
        .unitize-padding(10, 15);
        
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: 
            @panel--tab-nav--link--border-color;
        .border-radius-multi(@panel--tab-nav--link--border-radius-multi);
        
        .unitize-margin(0, 5, 0, 0);
        
        
        position: relative;
        z-index: @panel--tab-nav--link--z-index;
        
        
        .unitize(font-size, 14);
        font-weight: @font-weight--semibold;
        .unitize(line-height, 24);
        
        text-align: center;
        white-space: nowrap;
        
        color: 
            @panel--tab-nav--link--color;
        background:
            @panel--tab-nav--link--bg;

        &:hover{
            color: 
                @panel--tab-nav--link--hover-color;
        }
        &.is--active{
            .unitize(top, 1);
            
            background: 
                @panel--tab-nav--link--active-bg;

            &,&:hover{
                color: 
                    @panel--tab-nav--link--active-color;
            }
        }
    }
    
}



// Panel Paging
// -----------------------------------------------------------------------------

// A paging navigation for pagination content.

// Example: ---------------------------------------------------------------

// <div class="panel--paging">
//     <a href=""><i class="icon--arrow-left"></i></a>
//     <a href="">1</a>
//     <a href="">2</a>
//     <a href="">...</a>
//     <a href=""><i class="icon--arrow-right"></i></a>
// </div>

// ------------------------------------------------------------------------

.panel--paging{
    display: inline-block;
    
    .unitize(line-height, 32);

    .paging--link{
        display: inline-block;
        .unitize-padding(0, 10);
        
        border: 1px solid @panel--paging-link--border-color;
        .border-radius(@panel--paging-link--border-radius);
        
        .unitize-margin(0, 1);
        
        .unitize(font-size, 14);
        font-weight: @font-weight--normal;
        .unitize(line-height, 30);
        
        text-align: center;
        
        color: 
            @panel--paging-link--color;
        background:
            @panel--paging-link--bg;

        [class^="icon--"]{
            .unitize(font-size, 10);
        }

        &:hover{
            border-color: 
                @panel--paging-link--hover-border-color;
            color: 
                @panel--paging-link--hover-color;
            background:
                @panel--paging-link--hover-bg;
        }

        &.is--active,
        &.is--active:hover{
            border: 0 none;

            font-weight: @font-weight--semibold;
            .unitize(line-height, 32);

            cursor: default;

            color: 
                @panel--paging-link--active-color;
            background:
                @panel--paging-link--active-bg;
        }
    }
}



// Panel Filter Button
// -----------------------------------------------------------------------------

// A button for filter options in a filter action panel.

// Example: ---------------------------------------------------------------

// <a href="" class="panel--filter-btn">
//   <i class="icon--numbered-list"></i> Weitere Filtermöglichkeiten
// </a>

// -------------------------------------------------------------------------

.panel--filter-btn{
    display: inline-block;
    .unitize-padding(0, 10);
    
    .unitize-margin(0, 10);
    
    border: 1px solid @panel--filter-btn--border-color;
    .border-radius(@panel--filter-btn--border-radius);
    
    .unitize(font-size, 14);
    font-weight: @font-weight--normal;
    .unitize(line-height, 26);
    
    text-align: center;
    
    .box-shadow(@panel--filter-btn--box-shadow);
    
    color: 
        @panel--filter-btn--color;
    background:
        @panel--filter-btn--bg;

    &:hover{
        color: 
            @panel--filter-btn--hover-color;
    }
    
    i{
        .unitize-margin(0, 10, 0, 0);
        .unitize(font-size, 10);
    }
}



// Panel Filter Select
// -----------------------------------------------------------------------------

// A combobox for a filter selection.

// Example: ---------------------------------------------------------------

// <div class="panel--filter-select">
//     <span class="arrow"></span>
//     <select name="selection" size="1">
//         <option>Option 1</option>
//         <option>Option 2</option>
//         <option>Option 3</option>
//     </select>
// </div>

// -------------------------------------------------------------------------

.panel--filter-select{
    .box-sizing();
    
    display: inline-block;
    .unitize-width(160); .unitize-height(28);

    border: 1px solid @border-color;
    .border-radius(@panel--filter-select--border-radius);
    
    position: relative;
    overflow: hidden;
    
    .unitize(font-size, 14);
    .unitize(line-height, 26);
    vertical-align: bottom;
    
    .box-shadow(@panel--filter-select--box-shadow);
    
    color:
        @panel--filter-select--color;
    background:
        @panel--filter-select--bg;

    .arrow{
        display: block;
        .unitize-width(34);
        border-left: 1px solid @panel--filter-select--border-color;
        
        .unitize(font-size, 6);
        .unitize(line-height, 28);
        
        position: absolute;
        top: 0; right: 0;
        
        font-family: 'shopware';
        text-align: center;

        &:before,
        &::before{
            content: "\e612";
        }
    }
    select{
        .unitize-width(180);
        .unitize-padding(0, 0, 0, 10);
        border: 0 none;

        .unitize(font-size, 14);
        .unitize(line-height, 26);

        .appearance(none);
        color: 
            @panel--filter-select--color;
        background: 
            none transparent;
    }
    option{
        display: block;
        .unitize-padding(0, 10);
        border: 0 none;
        
        background: 
            @white;
    }
}