// product-slider.less
// =============================================================================
// Shopware Product slider element

// The Shopware product slider element displays a selection of articles the user chooses inside a slim slider element.
// The product slider uses the product box component for displaying and sliding articles.
// The slider has 'is--vertical' and 'is-horizontal' properties to set the layout of the element.
// For initializing a product slider the outer 'product-slider' wrapper has to have the attribute 'data-product-slider="true"'.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <div class="product-slider" data-product-slider="true">
// 
//     <a class="product-slider--arrow arrow--next is--horizontal"></a>
//     <a class="product-slider--arrow arrow--prev is--horizontal"></a>
// 
//     <div class="product-slider--container is--horizontal">
// 
//         <div class="product-slider--item">
//             <!-- Product box will be placed here. -->
//         </div>
// 
//     </div>
// 
// </div>

// -------------------------------------------------------------------------

.product-slider{
    display: block;
    padding: 0;
    
    position: relative;
    top: 0; left: 0;
}



// Product slider container
// -----------------------------------------------------------------------------

.product-slider--container{
    .clearfix();
    
    display: block;
    width: 100%; height: 100%;
    
    overflow: hidden;
    position: relative;
    top: 0; left: 0;
    
    font-size: 0;
    
    .user-select(none);
    .touch-callout(none);
    .tap-highlight-color(rgba(0, 0, 0, 0));
    
    // Enable momentum scrolling
    -webkit-overflow-scrolling: touch; 

    // Hide scrollbars in webkit browsers
    &::-webkit-scrollbar{
            width: 0;
            height: 0;
    }

    // Class modifications
    // ---------------------------------------------------------------------
    
    &.is--vertical{
        overflow-y: scroll;
        overflow-x: hidden;

        .product-slider--item{
            display: block;
            width: 100%;
        }
    }
    &.is--horizontal{
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;

        .product-slider--item{
            display: inline-block;
            height: 100%;
        }
    }
    
    .is--ie &,
    .is--firefox &,
    &.is--no-scroll{
        overflow-y: hidden;
        overflow-x: hidden;
    }
}



// Product slider item
// -----------------------------------------------------------------------------

.product-slider--item{
    //.unitize-padding(10, 10);
    
    position: relative;
    top: 0; left: 0;
    overflow: hidden;
    
    .unitize(font-size, 16);
    text-align: center;
    
    .user-select(none);
    .touch-callout(none);
    
    .tap-highlight-color(rgba(0, 0, 0, 0));
}



// Product slider arrow
// -----------------------------------------------------------------------------

.product-slider--arrow{
    display: block;
    .unitize-width(30); .unitize-height(60);
    border: 1px solid @product-slider--arrow--border-color;
    
    .unitize-margin(-30, 0, 0, 0);
        
    position: absolute;
    top: 50%;
    z-index: @product-slider--arrow--z-index;
    
    font-family: 'shopware';
    .unitize(font-size, 12);
    .unitize(line-height, 56);
    
    text-align: center;
    
    cursor: pointer;
    .user-select(none);
    .touch-callout(none);
    
    .transition(all @fast--transition);
    
    color: 
        @product-slider--arrow--color;
    background: 
        @product-slider--arrow--bg;

    &.arrow--prev{
        .border-radius-multi(0, @product-slider--arrow--border-radius, @product-slider--arrow--border-radius, 0);
        left: 0;

        &:before{
            content: "\e611";
        }
    }
    &.arrow--next{
        .border-radius-multi(@product-slider--arrow--border-radius, 0, 0, @product-slider--arrow--border-radius);
        right: 0;

        &:before{
            content: "\e60f";
        }
    }

    &:hover{
        .unitize-width(40);
        border-color:
            @product-slider--arrow--hover-border-color;
        color:  
            @product-slider--arrow--hover-color;
        background: 
            @product-slider--arrow--hover-bg;
    }

    &.is--vertical{
        .unitize-width(60); .unitize-height(30);

        .unitize-margin(0, 0, 0, -30);
        top: auto; left: 50%;

        .unitize(line-height, 30);
        .unitize(font-size, 6);

        &.arrow--prev{
            .border-radius-multi(0, 0, @product-slider--arrow--border-radius, @product-slider--arrow--border-radius);
            top: 0;

            &:before{
                content: "\e610";
            }
        }

        &.arrow--next{
            .border-radius-multi(@product-slider--arrow--border-radius, @product-slider--arrow--border-radius, 0, 0);
            bottom: 0;

            &:before{
                content: "\e612";
            }
        }
    }
}



// Desktop Viewport Width
// =============================================================================

@media screen and(min-width: @desktop--viewport-width){

    .product-slider--container.is--horizontal,
    .product-slider--container.is--vertical{
        overflow: hidden;
    }
}