// product-quick-view.less
// =============================================================================

// Defines the styling of the product quick-view page.
// The product quick-view is an element during the checkout process in Shopware 5 
// that displays the user the important information of his product without having 
// to switch to the product detail page and interrupt the checkout.

// @package     Grace & Holmes
// @since       1.0

.product--quick-view{
    .unitize-padding(20, 20);

    .quick-view--image{
        float: left;
        display: block;
        width: 100%; .unitize-height(200);
        
        border: 1px solid @quick-view--image--border-color;
        .border-radius(@quick-view--image--border-radius);
        
        .unitize-margin(0, 0, 20, 0);
        position: relative;

        img{
            margin: auto;
            
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }
    }

    .quick-view--title{
        display: block;
        
        .unitize(font-size, 18);
        font-weight: @font-weight--bold;
        
        color: 
            @quick-view--title--color;

        &:hover{
            color: 
                @quick-view--title--hover-color;
        }
    }

    .quick-view--supplier{
        .unitize-padding(10, 0, 5, 0);
        
        .unitize(font-size, 14);
        font-weight: @font-weight--bold;
    }

    .quick-view--description-title{
        clear: both;
        
        .unitize(padding-bottom, 5);
        border-bottom: 1px solid @quick-view--description-title--border-color;
        
        .unitize(margin-top, 15);
        
        .unitize(font-size, 16);
        font-weight: @font-weight--bold;
        
        color: 
            @quick-view--description-title--color;
    }

    .quick-view--description{
        .unitize(padding-top, 10);
        
        .unitize(font-size, 14);
        
        color: 
            @quick-view--description--color;
    }

    .quick-view--description,
    .quick-view--description > p{
        margin: 0;
    }
}



// Phone Landscape Viewport Width
// =============================================================================

@media screen and(min-width: @phone-landscape--viewport-width){

    .product--quick-view{
        .unitize-padding(20, 20);

        .quick-view--image{
            width: 50%;
        }

        .quick-view--header{
            float: right;
            width: 50%;
            .unitize(padding-left, 20);
        }

        .quick-view--description-title{
            margin-top: 0;
        }
    }
}