// range-slider.less
// =============================================================================

// The range slider element lets the user filter elements by a price-span they decide on.
// The slider handlers can be dragged to the numeric value that the user intends. The value is displayed below the element.

// The functionality is provided by the 'jquery.range-slider.js' file.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <div class="range-slider" data-range-slider="true" data-startmin="37.99" data-startmax="349.99" data-rangemin="37.99" data-rangemax="349.99">
//     <div class="range-slider--container">
//         <div class="range-slider--range-bar" style="left: 0%; width: 100%;">
//             <div class="range-slider--handle is--min"></div>
//             <div class="range-slider--handle is--max"></div>
//         </div>
//     </div>
//     <input type="hidden" id="min" name="min" data-range-input="min" value="37.99" disabled="disabled">
//     <input type="hidden" id="max" name="max" data-range-input="max" value="349.99" disabled="disabled">
//     <div class="range-slider--currency" data-range-currency="0,00&nbsp;€"></div>
//     <div class="filter-panel--range-info">
//         <span class="range-info--min">von</span>
//         <label class="range-info--label" for="min" data-range-label="min">35,00&nbsp;€</label>
//         <span class="range-info--max">bis</span>
//         <label class="range-info--label" for="max" data-range-label="max">350,00&nbsp;€</label>
//     </div>
// </div>

// -------------------------------------------------------------------------

.range-slider{
    .touch-callout(none);
}

// Range slider container
// -----------------------------------------------------------------------------

.range-slider--container{
    display: block;
    width: 100%; .unitize-height(12);
    
    border: 1px solid @range-slider--container--border-color;
    .border-radius(@range-slider--container--border-radius);
    
    -ms-touch-action: none;
    
    .box-shadow(@range-slider--container--box-shadow);
    
    background: 
        @range-slider--container--bg;
}

// Range slider range bar
// -----------------------------------------------------------------------------

.range-slider--range-bar{
    width: 100%; height: 100%;
    
    position: relative;
    
    .tap-highlight-color(rgba(0, 0, 0, 0));
    .touch-callout(none);
    .user-select(none);
    
    .box-shadow(@range-slider--range-bar--box-shadow);
    
    background: 
        @range-slider--range-bar--bg;
}

// Range slider handle
// -----------------------------------------------------------------------------

.range-slider--handle{
    .unitize-width(20); .unitize-height(20);
    
    border: 1px solid @range-slider--handle--border-color;
    .border-radius(@range-slider--handle--border-radius);
    
    position: absolute;
    
    .touch-callout(none);
    .tap-highlight-color(rgba(0, 0, 0, 0));
    .user-select(none);
    
    cursor: pointer;

    &.is--min{
        .unitize(-4, 16, top);
        .unitize(-10, 16, left);
    }
    &.is--max{
        .unitize(-4, 16, top);
        .unitize(-10, 16, right);
    }
    &:hover,
    &.is--dragging{
        border-color: 
            @range-slider--handle--hover-border-color;
    }
}

// Range slider format
// -----------------------------------------------------------------------------

.range-slider--format{
    display: none;
}