// ribbon.less
// =============================================================================

// Creates a corner ribbon element
// A ribbon badge can be attached to the corner of a box. 
// Make sure the box has the 'position:relative' property in order to keep the element at the right place.

// @package     Grace & Holmes
// @since       1.0

// Examples: ---------------------------------------------------------------

// <div class="ribbon is--left">
//     <p class="ribbon--content orange">Highlight!</p>
// </div>
// <div class="ribbon is--right">
//     <p class="ribbon--content green">Highlight!</p>
// </div>

// -------------------------------------------------------------------------

.ribbon{
    .unitize-width(90); .unitize-height(90);
    overflow: hidden;
    
    position: absolute;
    z-index: @ribbon--z-index;

    .ribbon--content{
        display: block;
        width: 200%;
        .unitize-padding(5, 0);
        
        position: absolute;
        
        .unitize(font-size, 12);
        .unitize(line-height, 12);
        text-align: center;

        &.green{
            color: 
                @ribbon--content--green--color;
            background: 
                @ribbon--content--green--bg;
        }

        &.orange{
            color: 
                @ribbon--content--orange--color;
            background: 
                @ribbon--content--orange--bg;
        }
    }

    &.is--left{
        top: 0; left: 0;

        .ribbon--content{
            .rotate(-45deg);
            top: 26%; right: -40%;
        }
    }

    &.is--right{
        top: 0; right: 0;

        .ribbon--content{
            .rotate(45deg);
            top: 26%; left: -40%;
        }
    }
}