// tab-menu.less
// =============================================================================

// The Shopware tab-menu allows the creation of multiple tabs filled with content that the user can swtich between.
// The functionality is provided by the 'jquery.tab-menu.js' file.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <div class="tab-menu--product js--tab-menu">
//      <div class="tab--navigation">
//          <a href="#" class="tab--link is--active" title="Tab-1">First Tab</a>
//          <a href="#" class="tab--link" title="Tab-2">Second Tab</a>
//      </div>
//      <div class="tab--container-list">
//              <div class="tab--container is--active">
//              </div>
//              <div class="tab--container">
//          </div>
//      </div>
// </div>

// -------------------------------------------------------------------------

.js--tab-menu{

    // Tab navigation
    // ---------------------------------------------------------------------
    
    .tab--navigation{
        list-style: none;
    }

    // Tab link
    // ---------------------------------------------------------------------

    .tab--link{
        display: none;
        .unitize-padding(9, 14);
        .unitize-margin(0, 5, 0, 0);
        
        border: 1px solid @js--tab-menu--link--border-color;
        .border-radius-multi(@js--tab-menu--link--border-radius-multi);

        position: relative;
        .unitize(top, 0);
        z-index: 1;
        
        .unitize(font-size, 14);
        font-weight: @font-weight--semibold;
        .unitize(line-height, 24);
        text-align: center;
        white-space: nowrap;
        
        color: 
            @js--tab-menu--link--color;
        background: 
            @js--tab-menu--link--bg;

        &:hover{
            border-color: 
                @js--tab-menu--link--hover-border-color;
            color: 
                @js--tab-menu--link--hover-color;
            background: 
                @js--tab-menu--link--hover-bg;
        }
        &:focus{
            outline: none;
        }
        
        // Is active
        // -----------------------------------------------------------------

        &.is--active{
            z-index: 3;

            &,&:hover{
                border-color: 
                    @js--tab-menu--link--active-border-color;
                color: 
                    @js--tab-menu--link--active-color;
                background: 
                    @js--tab-menu--link--active-bg;
            }
        }
        
        // Has content
        // -----------------------------------------------------------------

        &.has--content{
            display: inline-block;
        }
    }

    // JS menu scroller
    // ---------------------------------------------------------------------
    
    // Different styling when tab navigation is scrollable
    
    &.js--menu-scroller{
        
        .tab--navigation                            {overflow: hidden;}
        .tab--navigation .js--menu-scroller--item   {top: 0;}

        .js--menu-scroller--arrow{
            .unitize(line-height, 46);
            .unitize-height(46);
            
            border: 1px solid @js--menu-scroller--border-color;
            .border-radius(@js--menu-scroller--border-radius);

            &:hover{
                border-color: 
                    @js--menu-scroller--hover-border-color;
            }
        }
    }

    // Tab container list
    // ---------------------------------------------------------------------

    .tab--container-list .tab--container{
        display: none;

        &.has--content.is--active{
            display: block;
        }
    }
}