// tables.less
// =============================================================================

// Defines the basic table styles.

// @package     Grace & Holmes
// @since       1.0

// Example: ----------------------------------------------------------------

// <table>
//  <th>
//     <tr>
//         <th>Heading</th>
//         <th>Heading</th>
//         <th>Heading</th>
//         <th>Heading</th>
//     </tr>
//  </th>
//  <tb>
//     <tr>
//         <td>Table Content</td>
//         <td>Table Content</td>
//         <td>Table Content</td>
//         <td>Table Content</td>
//     </tr>
//     <tr>
//         <td>Table Content</td>
//         <td>Table Content</td>
//         <td>Table Content</td>
//         <td>Table Content</td>
//     </tr>
//  </tb>
// </table>

// -------------------------------------------------------------------------

table{
    border-collapse: separate;
    border-spacing: 1px;

    th,
    thead td{
        font-weight: @font-weight--bold;
        text-align: center;
        
        color: 
            @table-header--color;
        background: 
            @table-header--bg;
    }

    td{
        .unitize-padding(5, 10, 5, 10);
        border: 1px solid @table-row--bg;
        
        color: 
            @table-row--color;
        background: 
            @table-row--bg;
    }

    tr:nth-child(even) td{
        background: 
            @table-row--highlight-bg;
    }
}