/* 
 * create-column-sizes.less
 * =============================================================================
 * @package     Grace & Holmes
 * @since       1.0
 */

.createColumnSizes(@n, @i: 1) when (@i =< @n){
    &.emotion--mode-resize{
        &.emotion--column-@{n} .column--@{i}{
            width: (100% / @n * @i);
        }
    }
    &.emotion--mode-masonry{
        &.emotion--column-@{n} .column--@{i}{
            width: 100%;
        }
    }

    @media screen and(min-width: @phone-landscape--viewport-width){
        @columns: 2;
        
        &.emotion--mode-masonry{
            &.emotion--column-@{n} .column--@{i} when (@i <= @columns){
                width: (100% / @columns * @i);
            }
        }
    }
    
    @media screen and(min-width: @tablet--viewport-width){
        @columns: 3;
        &.emotion--mode-masonry{
            &.emotion--column-@{n} .column--@{i} when (@i <= @columns){
                width: (100% / @columns * @i);
            }
        }
    }

    @media screen and(min-width: @tablet-landscape--viewport-width){
        @columns: 3;
        &.emotion--mode-masonry{
            &.emotion--column-@{n} .column--@{i} when (@i <= @columns){
                width: (100% / @columns * @i);
            }
        }
    }

    @media screen and(min-width: @desktop--viewport-width){
        &.emotion--mode-masonry{
            &.emotion--column-@{n} .column--@{i}{
                width: (100% / @n * @i);
            }
        }
    }

    .createColumnSizes(@n, (@i + 1));
}