/* 
 * icon-element.less
 * =============================================================================
 * This mixin provides you a method to set any webfont icon from the Shopware icon-set as a before element.
 * 
 * @package     Grace & Holmes
 * @since       1.0
 * 
 * Example: ----------------------------------------------------------------
 * 
 * .icon-element([icon-name], [icon-size]);
 * 
 * -------------------------------------------------------------------------
 */

.icon-element(@listIcon: '\e6b9', @listIconSize: 10){
    position: relative;

    &:before{
        content: "@{listIcon}";
        .unitize-width(20, 16);
        
        position: absolute;
        top: 0;.unitize(-20, 16, left);
        
        font-family: shopware;
        .unitize(@listIconSize, 16, font-size);
    }
}