/* 
 * image-attachement.less
 * =============================================================================
 * Special mixin for positioning the product image of the product box
 *
 * @package     Grace & Holmes
 * @since       1.0
 */

.image--left(@imageWidth: 180){
    .product--image{
        height: 100%;
        
        margin: 0;
        
        position: absolute;
        top: 0; left: 0;

        & when (ispercentage(@imageWidth)){
                width: @imageWidth;
        }

        & when not (ispercentage(@imageWidth)){
                .unitize-width(@imageWidth);
        }
    }
    .product--info{
        position: relative;

        & when (ispercentage(@imageWidth)){
                padding-left: @imageWidth + 2;
        }

        & when not (ispercentage(@imageWidth)){
                .unitize-padding(0, 0, 0, @imageWidth + 20);
        }
    }
}

.image--top(@imageHeight: 180){
    .product--image{
        width: auto;
        
        .unitize-margin(0, 0, 5, 0);
        position: relative;

        & when (ispercentage(@imageHeight)){
            height: @imageHeight;
        }

        & when not (ispercentage(@imageHeight)){
            .unitize-height(@imageHeight);
        }
    }
    .product--info{
            padding: 0;
    }
}