/* 
 * linear-gradient-less
 * =============================================================================
 * @package     Grace & Holmes
 * @since       1.0
 * 
 * Example: ----------------------------------------------------------------
 *
 * .primary-gradient();
 * .secondary-gradient();
 * .white-gradient();
 * 
 * -------------------------------------------------------------------------
 */

.primary-gradient(){
    .linear-gradient(@brand-primary-light, @brand-primary);
}

.secondary-gradient(){
    .linear-gradient(@brand-secondary, @brand-secondary-dark);
}

.white-gradient(){
    .linear-gradient(#fff, @gray-light);
}